body {
	/*margin-top: 40px;*/ /* moved to header - problem in slimscroll */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: transparent;
}

/*overwrite bootstrap css rule */
.container {
	width: 100%;
}

#top {
	background: url('../image/facebook_store/bar-bg.png') repeat;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	margin: 2px 1px 20px 1px;
	height: 40px;
}
#top .container {
	padding: 0 20px;
}

#top #home {
	float: left;
}

#top #home .fa {
	font-size: 22px;
	margin-top: 8px;
}

#top #fb-login {
	float: left;
	padding-top: 9px;
}

#fb-login a  {
	border-left: 1px solid #e8e8e8;
	margin-left: 10px;
	padding-left: 10px;
}

#top .btn-link, #top-links li, #top-links a {
	color: #0883BB;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links {
	float: left;
	margin-right: 15px;
}
#top-links .list-inline {
	margin-bottom: 0px;
}
#top-links .list-inline > li {
	display: block;
	float: left;
	/*background: url('../image/facebook_store/tool-bg.png') repeat;*/
	background: #FFFFFF;
	height: 42px;
	min-width:50px;
	padding: 10px 5px;
	border-bottom: 2px solid #33b3cd;
    border-left: 1px solid #e8e8e8;
	text-align:center;
}
#top-links .list-inline > li:last-child {
	border-right: 1px solid #e8e8e8;
}
#top-links .list-inline > li > a {
	padding: 10px;
}
#top-links .list-inline > li.dropdown.open {
	border-bottom: 2px solid transparent;
}
#top-links .dropdown-menu {
	/*background: url('../image/facebook_store/tool-bg.png') repeat;*/
	border-top: none;
	border-right: 1px solid #e8e8e8;
	border-bottom: 2px solid #33b3cd;	
	border-left: 1px solid #e8e8e8;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
    line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}

#top-links-checkout {
    float: left;
    padding-top: 3px;
}

header {
	margin-top: 42px;
	margin-left: 1px;
	margin-right: 1px;
}
header .container {
	padding: 0px;
}

/* logo */
#logo {
	margin: 0 0 1px 0;
}
/* cart */
#cart {
	/* margin-bottom: 10px; */
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #FFFFFF;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 350px;
	margin-right: -1px;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}

#cart .dropdown-menu a:hover{
	color: #000;
}

/* menu */
#menu {
	position:relative;
	background: url('../image/facebook_store/menu-bg.png') repeat;
	margin-bottom: 35px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 5px 10px;
	border: 1px solid #EEEEEE;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#menu:before, #menu:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 13px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    content: "";
    left: 10px;
    max-width: 300px;
    position: absolute;
    top: 33%;
    transform: rotate(-3deg);
    width: 50%;
    z-index: -1;
}
#menu:after {
    left: auto;
    right: 10px;
    transform: rotate(3deg);
}
#menu .no-padding-right {
	padding-right: 0;
}

/* search */
#search {
}

#search input[name="search"] {
    padding-right: 320px;
}

#inside-search {
    position: absolute;
    right: 39px;
	min-width: 300px;
}

#search .search-trigger {
	padding: 7.4px 12px !important;
}	

/* content */
#content {
	min-height: 600px;
}

#content.content-border-left {
	border-left: 1px solid #eeeeee;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
	display: none;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-strech{
	width: 100%;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.categories-list {
	font-family: "Yanone Kaffeesatz";
	font-size: 16px;
	font-weight: 300;
}

.categories-list .badge-info {
    background: #FFF;
    color: #333;
	font-weight: 300;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
}	

.list-group a {
	color: #555;
	padding: 8px 4px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	background: none;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFF;	
}

.list-group-item {
	margin-bottom: 0;
	border: none;
	border-bottom: 1px dotted #eeeeee;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.list-group-item:last-child {
	border-bottom: none;
}


/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list / product grid / module area */
.box-heading{
	background: url('../image/facebook_store/box-heading-bg3.png') repeat;
	text-align: center;
	margin-bottom: 10px;
}

.box-heading span {
	background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #ececec;
    border-radius: 25px;
    border-right: 1px solid #ececec;
    padding: 2px 15px;
	font-family: "Yanone Kaffeesatz";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
	text-transform: uppercase;
}

.product-thumb-container {
	float:left;
	margin-right: 5px;
}
.product-thumb {
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #eeeeee;
	overflow: auto;
}
.product-grid .product-thumb {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
}
.product-grid .product-thumb .image {
	margin-bottom: 38px;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}

.product-list .product-thumb .image {
	float: left;
	padding: 0;
	margin-right: 20px;
}

#column-left .product-list .product-thumb .image {
	float: none;
	margin-right:0;
	margin-bottom: 10px;
}

.product-thumb h4 {
	font-family: "Yanone Kaffeesatz";
	font-size: 17px;
	font-weight: 300;
}
.product-grid .product-thumb h4 {
	margin: 5px 0;
}
.product-list .product-thumb h4 {
	margin: 10px 0;
	text-transform: uppercase;
}
.product-grid .product-thumb .caption {
	position: absolute;
	bottom: 0;
	background: linear-gradient(rgba(255, 255, 255, 0.85), #ffffff 75%) repeat scroll 0 0 transparent;
	width: 100%;
	padding: 0 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset;
	text-align: center;
}
.product-grid .product-thumb .caption p.description {
	display:none;
}

.product-list .product-thumb .caption {
	min-height: 146px;
	padding-right: 20px
}

#column-left .product-list .product-thumb .caption {
	padding: 0 5px;
}



.product-grid .product-thumb .caption {
	padding: 0 20px;
}

.product-thumb .rating {
	display: none;
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
	margin-bottom: 4px;
}
.product-grid .product-thumb .price {
	display: none;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: none;
}
.product-thumb .button-group {
	background-color: #FFFFFF;
	overflow: auto;
}
.product-grid .product-thumb .button-group {
	display: none;
}
.product-list .product-thumb .button-group.cart-button-extra-space {
	margin-top: 40px;
}

.product-thumb .button-group button {
	width: 100%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	color: #fff;
	line-height: 27px;
	font-family: "Yanone Kaffeesatz";
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.product-grid .product-thumb .button-group button {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	background-color: #449d44;
	border: 1px solid #398439;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.product-thumb .added-in-cart {
	position: absolute;
	top: 2px;
	right: 2px;
}

.product-thumb .added-in-cart .fa {
	font-size: 25px !important;
	color: #5cb85c !important;
}

/* show price and add to cart on hover */
.product-thumb:hover .price, .product-thumb:hover .button-group {
	display: block;
}

.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails > li.main-thumb {
	position: relative;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
	display: none;
}

#more-additional {
	position: absolute;
	left: 6px;
	bottom: 2px;
	cursor: pointer;
}

#more-additional .fa {
	font-size: 25px;
}

#more-additional-count {
	position: absolute;
	bottom: 25px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3{
       width: 100%;
    }
    #column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }
    #column-left + #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
    #content + #column-right .product-layout .col-md-3{
       width: 100%;
    }
}

/* PAGES - PRODUCT */
h1.title {
	background: url('../image/facebook_store/box-heading-bg3.png') repeat;
	margin-top: 0;
	margin-bottom: 30px;
	font-family: "Yanone Kaffeesatz";
	font-weight: 300;
	letter-spacing: 1px;
	text-align:center;
}

h1.title span {
	background: #FFF;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	padding: 0 20px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.legend-review {
	font-size: 14px;
}

/* SEARCH PAGE */
#search-group-box {
	background: #f5f5f5;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

h2.search-result {
	font-family: "Yanone Kaffeesatz";
	font-size: 17px;
	font-weight: 300;
	border-bottom: 1px solid #ddd;
	letter-spacing: 1px;
	padding-bottom: 3px;
}

/* LOGIN PAGE */
.create-account {
	margin-top: 25px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.user-wall{
	margin-bottom: 20px;
}

.user-wall .user-photo {
	background: #9fc3fc;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	color: #3e73df;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.user-photo .fa {
	font-size: 70px;
	margin-top: 15px;
}

/* CATEGORY PAGE */
#refine-categories .badge-info {
	float: right;
    background: #fff;
	padding: 2px 5px;
    color: #333;
	font-size: 10px;
	font-weight: 300;
	box-shadow: 0 1px 2px #ddd;
	-moz-box-shadow: 0 1px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px #ddd;
}

#refine-categories li a span.extra-space {
	padding-left: 40px;
}

/* Account page */
.account-buttons-container {
	margin-bottom: 20px;
}

.account-buttons-container a.btn {
	margin-right: 5px;
	min-width: 100px;
	text-align: center;
}

.account-buttons-container .fa-5x {
	font-size: 5em !important;
}

/* BXSLIDER OVERWRITE */
.bx-wrapper .bx-viewport {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	left: auto !important;
}	

/* CAMERA OVERWRITE*/
.fs-slider-container {
	margin-bottom: 30px;
	overflow: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Facebook Comments */
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}