<?php
//==============================================================================
// Ultimate Filters Module v303.1
// 
// Author: Clear Thinking, LLC
// E-mail: johnathan@getclearthinking.com
// Website: http://www.getclearthinking.com
// 
// All code within this file is copyright Clear Thinking, LLC.
// You may not copy or reuse code within this file without written permission.
//==============================================================================
?>

<style type="text/css">
	#filter-module-toggle {
		display: none;
		border-top: 0;
		border-right: 0;
		border-radius: 0 0 0 5px;
		cursor: pointer;
		outline: none !important;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 99999;
	}
	.filter-module {
		background: #FFF;
		border-radius: 5px;
		margin-bottom: 20px;
		z-index: 99999;
	}
	.filter-module .module-heading {
		border-top: 1px solid #DDD;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	.filter-module h3 {
		margin: 0;
	}
	.filter-module .clear-link {
		float: right;
		font-size: 11px;
	}
	.filter-module .hide-button {
		display: none;
		float: right;
	}
	.filter-module .collapsable-heading {
		cursor: pointer;
		background: #EEE;
		color: #444;
	}
	.filter-module .collapsable-choices {
		background: #FFF;
		<?php if ($settings['block_height']) { ?>
			max-height: <?php echo $settings['block_height']; ?>px;
			overflow: hidden;
		<?php } ?>
	}
	<?php if ($settings['block_height']) { ?>
		.filter-module .collapsable-choices:hover {
			overflow: auto;
		}
	<?php } ?>
	.filter-module .collapsable-choices img {
		vertical-align: middle;
	}
	.filter-module > div:not(.collapsable-block), .filter-module > div > div {
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		padding: 8px 12px;
	}
	.filter-module > div:last-child {
		border-bottom-left-radius: '5px';
		border-bottom-right-radius: '5px';
		text-align: center;
	}
	.filter-module input {
		margin-right: 2px;
	}
	.filter-module a,
	.filter-module input[type="checkbox"],
	.filter-module input[type="radio"],
	.filter-module label {
		cursor: pointer;
	}
	.filter-module a.choice {
		color: inherit;
		display: block;
		text-decoration: none;
	}
	.filter-module a.choice:hover {
		color: initial;
	}
	.filter-module input[type="text"] {
		margin-bottom: 10px;
	}
	.filter-module label {
		display: block;
		margin-right: 10px;
	}
	.filter-module select {
		display: inline-block;
		margin: 5px 0;
		max-width: 250px;
		width: 100%;
	}
	.filter-module .clear-filters {
		text-align: center;
	}
	.filter-module .clear-filters a {
		font-size: 11px;
	}
	.filter-module .flexible-filter {
		padding: 10px 0 0;
		text-align: center;
	}
	.filter-module .flexible-filter input {
		display: inline-block;
		width: 30%;
	}
	#price-slider-<?php echo $settings['module_id']; ?> {
		margin: 40px auto 10px;
		width: 85%;
	}
        
        
        #width-slider-<?php echo $settings['module_id']; ?> {
		margin: 40px auto 10px;
		width: 85%;
	}
        
        #height-slider-<?php echo $settings['module_id']; ?> {
		margin: 40px auto 10px;
		width: 85%;
	}
        
        #depth-slider-<?php echo $settings['module_id']; ?> {
		margin: 40px auto 10px;
		width: 85%;
	}
        
        
        
	.noUi-handle {
		cursor: pointer;
		outline: none;
	}
	
	/* Content Top/Bottom Fixes */
	#content .filter-module {
		border: 1px solid #DDD;
	}
	#content .filter-module div:first-child {
		border-bottom: 1px solid #DDD;
	}
	#content .filter-module div {
		border: none;
	}
	#content .filter-module .collapsable-heading {
		border: 1px solid #DDD;
	}
	#content .filter-module .collapsable-block {
		display: inline-block;
		margin-left: 5px;
		vertical-align: top;
		width: <?php echo $settings['block_width'] . (strpos($settings['block_width'], '%') ? '' : 'px'); ?>;
	}
	#content .filter-module .clear-filters {
		position: relative;
		left: 30%;
		top: 25px;
		height: 0;
		width: 100px;
	}
	
	/* Mobile Devices Styling */
	@media (max-width: 767px) {
		#filter-module-toggle, .filter-module .hide-button {
			display: block;
		}
		.filter-module {
			display: none;
			box-shadow: 0 2px 5px #888;
			position: absolute;
			top: 0;
			left: 2%;
			width: 96%;
		}
		.filter-module .collapsable-block:not(.category-filter) label {
			display: inline-block;
		}
	}
	
	/* Additional CSS */
	<?php if (!empty($settings['additional_css'])) { ?>
		<?php echo $settings['additional_css']; ?>
	<?php } ?>
</style>

<div id="filter-module-<?php echo $settings['module_id']; ?>" class="filter-module">
	<div class="module-heading">
		<h3>
			<?php echo html_entity_decode($settings['heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
			<a class="hide-button" onclick="$('.filter-module').slideUp(); $('#filter-module-toggle').slideDown();"><?php echo html_entity_decode($settings['mobile_close_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
		</h3>
	</div>
	
	<?php foreach ($filter_sorting as $filter) { ?>
		
		<?php if ($filter == 'attribute') { ?>
			<?php foreach ($attributes as $attribute) { ?>
				<?php if (empty($product_attributes[$attribute['attribute_id']])) continue; ?>
				
				<?php $collapsed = ($settings['attribute_display'] == 'collapsed' && empty($get['attribute'][$attribute['attribute_id']])); ?>
				<div class="attribute-filter collapsable-block">
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo $attribute['name']; ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
					<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
						<?php if ($settings['attribute_filter_' . $attribute['attribute_id']] == 'select') { ?>
							<select class="form-control" name="attribute[<?php echo $attribute['attribute_id']; ?>]">
								<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
						<?php } ?>
						
						<?php $i = 0; ?>
						<?php foreach ($product_attributes[$attribute['attribute_id']] as $product_attribute) { ?>
							<?php if (isset($get['attribute'][$attribute['attribute_id']])) $get['attribute'][$attribute['attribute_id']] = str_replace('&quot;', '"', $get['attribute'][$attribute['attribute_id']]); ?>
							<?php $explode = explode(' (', $product_attribute); ?>
							<?php $attribute_text = $explode[0]; ?>
							<?php if ($settings['attribute_filter_' . $attribute['attribute_id']] == 'select') { ?>
								<?php $selected = (isset($get['attribute'][$attribute['attribute_id']]) && $attribute_text == $get['attribute'][$attribute['attribute_id']]) ? 'selected="selected"' : ''; ?>
								<option <?php echo $selected; ?> value="<?php echo str_replace('"', '%22', $attribute_text); ?>"><?php echo $product_attribute; ?></option>
							<?php } else { ?>
								<?php $checked = (isset($get['attribute'][$attribute['attribute_id']]) && in_array($attribute_text, explode(';', $get['attribute'][$attribute['attribute_id']]))) ? 'checked="checked" class="isChecked"' : ''; ?>
								<?php $hide = ($i < $settings['choice_display'] || isset($get['attribute'][$attribute['attribute_id']])) ? '' : 'style="display: none"'; ?>
								
								<?php if ($i == $settings['choice_display'] && !isset($get['attribute'][$attribute['attribute_id']])) { ?>
									<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
								<?php } ?>
								
								<label <?php echo $hide; ?>>
									<input type="<?php echo $settings['attribute_filter_' . $attribute['attribute_id']]; ?>" <?php echo $checked; ?> name="attribute[<?php echo $attribute['attribute_id']; ?>]" value="<?php echo str_replace('"', '%22', $attribute_text); ?>" /> <?php echo $product_attribute; ?>
								</label>
								<?php $i++; ?>
							<?php } ?>
						<?php } ?>
						
						<?php if ($settings['attribute_filter_' . $attribute['attribute_id']] == 'select') { ?>
							</select>
						<?php } ?>
					</div>
				</div>
			<?php } ?>
		<?php } ?>
		
		<?php if ($filter == 'category') { ?>
			<div class="category-filter collapsable-block">
				<?php $collapsed = ($settings['category_display'] == 'collapsed' && (empty($get['category_id']) || !in_array($get['category_id'], $settings['categories']))); ?>
				<?php if ($settings['category_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['category_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<?php if ($settings['category_filter'] == 'links') { ?>
							<a class="clear-link" onclick="$('.filter-module input[name=category_id]').val(''); $('.filter-module .button').click();">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } else { ?>
							<a class="clear-link" onclick="clearFilters($(this).parent().parent())">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } ?>
					</div>
				<?php } ?>
					<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<?php if ($settings['category_filter'] == 'select') { ?>
						<select class="form-control" name="category_id">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($categories as $category) { ?>
						<?php if ($settings['category_filter'] == 'select') { ?>
							<?php $selected = (isset($get['category_id']) && $category['category_id'] == $get['category_id']) ? 'selected="selected"' : ''; ?>
							<option value="<?php echo $category['category_id']; ?>" <?php echo $selected; ?>><?php echo $category['name']; ?></option>
						<?php } elseif ($settings['category_filter'] == 'links') { ?>
							<?php $bold = (isset($get['category_id']) && in_array($category['category_id'], explode(';', $get['category_id']))) ? 'style="font-weight: bold"' : ''; ?>
							<a class="choice" <?php echo $bold; ?> onclick="$('.filter-module input[name=category_id]').val('<?php echo $category['category_id']; ?>'); $('.filter-module .button').click();">
								<?php echo $category['name']; ?>
							</a>
						<?php } else { ?>
							<?php $checked = (isset($get['category_id']) && in_array($category['category_id'], explode(';', $get['category_id']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['category_id'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['category_id'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['category_filter']; ?>" <?php echo $checked; ?> name="category_id" value="<?php echo $category['category_id']; ?>" /> <?php echo $category['name']; ?>
							</label>
							<?php $i++; ?>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['category_filter'] == 'links') { ?>
						<input type="hidden" name="category_id" class="form-control" value="<?php if (!empty($get['category_id'])) echo $get['category_id']; ?>" />
						<?php if (!empty($get['category_id'])) { ?>
							<a onclick="$('.filter-module input[name=category_id]').val(''); $('.filter-module .button').click();"><?php echo $settings['show_all_text_' . $language]; ?></a>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['category_filter'] == 'select') { ?>
						</select>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
		
		<?php if ($filter == 'filter') { ?>
			<?php foreach ($filters as $filter) { ?>
				<?php if (empty($filter_values[$filter['filter_group_id']])) continue; ?>
				
				<?php $collapsed = ($settings['filter_display'] == 'collapsed' && empty($get['filter'][$filter['filter_group_id']])); ?>
				<div class="filter-filter collapsable-block">
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo $filter['name']; ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
					<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
						<?php if ($settings['filter_filter_' . $filter['filter_group_id']] == 'select') { ?>
							<select class="form-control" name="filter[<?php echo $filter['filter_group_id']; ?>]">
								<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
						<?php } ?>
						
						<?php $i = 0; ?>
						<?php foreach ($filter_values[$filter['filter_group_id']] as $filter_value_id => $filter_value) { ?>
							<?php if ($settings['filter_filter_' . $filter['filter_group_id']] == 'select') { ?>
								<?php $selected = (isset($get['filter'][$filter['filter_group_id']]) && $filter_value_id == $get['filter'][$filter['filter_group_id']]) ? 'selected="selected"' : ''; ?>
								<option <?php echo $selected; ?> value="<?php echo $filter_value_id; ?>"><?php echo $filter_value; ?></option>
							<?php } else { ?>
								<?php $checked = (isset($get['filter'][$filter['filter_group_id']]) && in_array($filter_value_id, explode(';', $get['filter'][$filter['filter_group_id']]))) ? 'checked="checked" class="isChecked"' : ''; ?>
								<?php $hide = ($i < $settings['choice_display'] || isset($get['filter'][$filter['filter_group_id']])) ? '' : 'style="display: none"'; ?>
								
								<?php if ($i == $settings['choice_display'] && !isset($get['filter'][$filter['filter_group_id']])) { ?>
									<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
								<?php } ?>
								
								<label <?php echo $hide; ?>>
									<input type="<?php echo $settings['filter_filter_' . $filter['filter_group_id']]; ?>" <?php echo $checked; ?> name="filter[<?php echo $filter['filter_group_id']; ?>]" value="<?php echo $filter_value_id; ?>" /> <?php echo $filter_value; ?>
								</label>
								<?php $i++; ?>
							<?php } ?>
						<?php } ?>
						
						<?php if ($settings['filter_filter_' . $filter['filter_group_id']] == 'select') { ?>
							</select>
						<?php } ?>
					</div>
				</div>
			<?php } ?>
		<?php } ?>
		
		<?php if ($filter == 'manufacturer') { ?>
			<div class="manufacturer-filter collapsable-block">
				<?php $collapsed = ($settings['manufacturer_display'] == 'collapsed' && empty($get['manufacturer_id'])); ?>
				<?php if ($settings['manufacturer_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['manufacturer_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<?php if ($settings['manufacturer_filter'] == 'links') { ?>
							<a class="clear-link" onclick="$('.filter-module input[name=manufacturer_id]').val(''); $('.filter-module .button').click();">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } else { ?>
							<a class="clear-link" onclick="clearFilters($(this).parent().parent())">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } ?>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<?php if ($settings['manufacturer_filter'] == 'select') { ?>
						<select class="form-control" name="manufacturer_id">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($manufacturers as $manufacturer) { ?>
						<?php if ($settings['manufacturer_filter'] == 'select') { ?>
							<?php $selected = (isset($get['manufacturer_id']) && $manufacturer['manufacturer_id'] == $get['manufacturer_id']) ? 'selected="selected"' : ''; ?>
							<option value="<?php echo $manufacturer['manufacturer_id']; ?>" <?php echo $selected; ?>><?php echo $manufacturer['name']; ?></option>
						<?php } elseif ($settings['manufacturer_filter'] == 'links') { ?>
							<?php $bold = (isset($get['manufacturer_id']) && $manufacturer['manufacturer_id'] == $get['manufacturer_id']) ? 'style="font-weight: bold"' : ''; ?>
							<a class="choice" <?php echo $bold; ?> onclick="$('.filter-module input[name=manufacturer_id]').val('<?php echo $manufacturer['manufacturer_id']; ?>'); $('.filter-module .button').click();">
								<?php echo $manufacturer['name']; ?>
							</a>
						<?php } else { ?>
							<?php $checked = (isset($get['manufacturer_id']) && in_array($manufacturer['manufacturer_id'], explode(';', $get['manufacturer_id']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['manufacturer_id'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['manufacturer_id'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['manufacturer_filter']; ?>" <?php echo $checked; ?> name="manufacturer_id" value="<?php echo $manufacturer['manufacturer_id']; ?>" /> <?php echo $manufacturer['name']; ?>
							</label>
							<?php $i++; ?>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['manufacturer_filter'] == 'links') { ?>
						<input type="hidden" name="manufacturer_id" class="form-control" value="<?php if (!empty($get['manufacturer_id'])) echo $get['manufacturer_id']; ?>" />
						<?php if (!empty($get['manufacturer_id']) && $settings['manufacturer_choices'] == 'relevant') { ?>
							<a onclick="$('.filter-module input[name=manufacturer_id]').val(''); $('.filter-module .button').click();"><?php echo $settings['show_all_text_' . $language]; ?></a>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['manufacturer_filter'] == 'select') { ?>
						</select>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
		
		<?php if ($filter == 'option') { ?>
			<?php foreach ($options as $option) { ?>
				<?php if (empty($option_values[$option['option_id']])) continue; ?>
				
				<?php $collapsed = ($settings['option_display'] == 'collapsed' && empty($get['option'][$option['option_id']])); ?>
				<div class="option-filter collapsable-block">
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo $option['name']; ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
					<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
						<?php if ($settings['option_filter_' . $option['option_id']] == 'select') { ?>
							<select class="form-control" name="option[<?php echo $option['option_id']; ?>]">
								<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
						<?php } ?>
						
						<?php $i = 0; ?>
						<?php foreach ($option_values[$option['option_id']] as $option_value_id => $option_value) { ?>
							<?php if ($settings['option_filter_' . $option['option_id']] == 'select') { ?>
								<?php $selected = (isset($get['option'][$option['option_id']]) && $option_value_id == $get['option'][$option['option_id']]) ? 'selected="selected"' : ''; ?>
								<option <?php echo $selected; ?> value="<?php echo $option_value_id; ?>"><?php echo $option_value; ?></option>
							<?php } else { ?>
								<?php $checked = (isset($get['option'][$option['option_id']]) && in_array($option_value_id, explode(';', $get['option'][$option['option_id']]))) ? 'checked="checked" class="isChecked"' : ''; ?>
								<?php $hide = ($i < $settings['choice_display'] || isset($get['option'][$option['option_id']])) ? '' : 'style="display: none"'; ?>
								
								<?php if ($i == $settings['choice_display'] && !isset($get['option'][$option['option_id']])) { ?>
									<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
								<?php } ?>
								
								<label <?php echo $hide; ?>>
									<input type="<?php echo $settings['option_filter_' . $option['option_id']]; ?>" <?php echo $checked; ?> name="option[<?php echo $option['option_id']; ?>]" value="<?php echo $option_value_id; ?>" /> <?php echo $option_value; ?>
								</label>
								<?php $i++; ?>
							<?php } ?>
						<?php } ?>
						
						<?php if ($settings['option_filter_' . $option['option_id']] == 'select') { ?>
							</select>
						<?php } ?>
					</div>
				</div>
			<?php } ?>
		<?php } ?>
		
		<?php if ($filter == 'price') { ?>
			<div class="price-filter collapsable-block">
				<?php $collapsed = ($settings['price_display'] == 'collapsed' && empty($get['price'])); ?>
				<?php if ($settings['price_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['price_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<?php if ($settings['price_filter'] == 'links') { ?>
							<a class="clear-link" onclick="$('.price-filter input').val(''); $('.filter-module .button').click();">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } else { ?>
							<a class="clear-link" onclick="clearFilters($(this).parent().parent())">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } ?>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<?php if ($settings['price_filter'] == 'select') { ?>
						<select class="form-control" name="price">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($price_ranges as $range => $text) { ?>
						<?php if ($settings['price_filter'] == 'select') { ?>
							<?php $selected = (isset($get['price']) && $range == $get['price']) ? 'selected="selected"' : ''; ?>
							<option value="<?php echo $range; ?>" <?php echo $selected; ?>><?php echo $text; ?></option>
						<?php } elseif ($settings['price_filter'] == 'links') { ?>
							<?php $bold = (isset($get['price']) && $range == $get['price']) ? 'style="font-weight: bold"' : ''; ?>
							<a class="choice" <?php echo $bold; ?> onclick="$('.flexible-filter input').val(''); $('.filter-module input[name=price]').val('<?php echo $range; ?>'); $('.filter-module .button').click();">
								<?php echo $text; ?>
							</a>
						<?php } else { ?>
							<?php $checked = (isset($get['price']) && in_array($range, explode(';', $get['price']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['price'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['price'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['price_filter']; ?>" <?php echo $checked; ?> name="price" value="<?php echo $range; ?>" /> <?php echo $text; ?>
							</label>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['price_filter'] == 'select') { ?>
						</select>
					<?php } ?>
					
					<?php if ($settings['price_flexible'] == 'inputs') { ?>
						<div class="flexible-filter">
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="lower" value="<?php echo $lower; ?>" /> <?php echo $right_symbol; ?>
							<?php echo str_replace(array('[from]', '[to]'), '', $settings['price_middle_text_' . $language]); ?>
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="upper" value="<?php echo $upper; ?>" /> <?php echo $right_symbol; ?>
						</div>
					<?php } elseif ($settings['price_flexible'] == 'slider') { ?>
						<div class="flexible-filter">
							<div id="price-slider-<?php echo $settings['module_id']; ?>"></div>
							<input type="hidden" name="lower" />
							<input type="hidden" name="upper" />
                                                        <input type="hidden" name="priceShowHide" value="0" id="priceShowHide" />
						</div>
					<?php } ?>
					
					<?php if ($settings['price_filter'] == 'links') { ?>
						<input type="hidden" name="price" class="form-control" value="<?php if (!empty($get['price'])) echo $get['price']; ?>" />
					<?php } ?>
				</div>
			</div>
		<?php } ?>
                
                
                <!-----------------------------------custom code for filter by width ------------------------------------>
                
                
                <?php if ($filter == 'width') { ?>
                        <div class="width-filter collapsable-block">
				<?php $collapsed = ($settings['width_display'] == 'collapsed' && empty($get['width'])); ?>
                                
				<?php if ($settings['width_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['width_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<?php if ($settings['width_filter'] == 'links') { ?>
							<a class="clear-link" onclick="$('.width-filter input').val(''); $('.filter-module .button').click();">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } else { ?>
							<a class="clear-link" onclick="clearFilters($(this).parent().parent())">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } ?>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
                                     
					<?php if ($settings['width_filter'] == 'select') { ?>
						<select class="form-control" name="width">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($width_ranges as $range => $text) { ?> 
						<?php if ($settings['width_filter'] == 'select') { ?>
							<?php $selected = (isset($get['width']) && $range == $get['width']) ? 'selected="selected"' : ''; ?>
							<option value="<?php echo $range; ?>" <?php echo $selected; ?>><?php echo $text; ?></option>
						<?php } elseif ($settings['width_filter'] == 'links') { ?>
							<?php $bold = (isset($get['width']) && $range == $get['width']) ? 'style="font-weight: bold"' : ''; ?>
							<a class="choice" <?php echo $bold; ?> onclick="$('.flexible-filter input').val(''); $('.filter-module input[name=width]').val('<?php echo $range; ?>'); $('.filter-module .button').click();">
								<?php echo $text; ?>
							</a>
						<?php } else { ?>
							<?php $checked = (isset($get['width']) && in_array($range, explode(';', $get['width']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['width'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['width'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['width_filter']; ?>" <?php echo $checked; ?> name="width" value="<?php echo $range; ?>" /> <?php echo $text; ?>
							</label>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['width_filter'] == 'select') { ?>
						</select>
					<?php } ?>
					
					<?php if ($settings['width_flexible'] == 'inputs') { ?>
						<div class="flexible-filter">
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="lower" value="<?php echo $lower; ?>" /> <?php echo $right_symbol; ?>
							<?php echo str_replace(array('[from]', '[to]'), '', $settings['width_middle_text_' . $language]); ?>
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="upper" value="<?php echo $upper; ?>" /> <?php echo $right_symbol; ?>
						</div>
					<?php } elseif ($settings['width_flexible'] == 'slider') { ?>
						<div class="flexible-filter">
							<div id="width-slider-<?php echo $settings['module_id']; ?>"></div>
							<input data-lkey="lower1" type="hidden" name="lower1" />
							<input data-ukey="upper1" type="hidden" name="upper1" />    
                                                        <input type="hidden" name="widthShowHide" value="0" id="widthShowHide" />
						</div>
					<?php } ?>
					
					<?php if ($settings['width_filter'] == 'links') { ?>
						<input type="hidden" name="width" class="form-control" value="<?php if (!empty($get['width'])) echo $get['width']; ?>" />
					<?php } ?>
				</div>
			</div>
                <?php } ?>
                
                <!-----------------------------------custom code for filter by width END------------------------------------>
                
                
                
                <!-----------------------------------custom code for filter by Height ------------------------------------>
                
                
                <?php if ($filter == 'height') { ?>
                        <div class="height-filter collapsable-block">
				<?php $collapsed = ($settings['height_display'] == 'collapsed' && empty($get['height'])); ?>
                                
				<?php if ($settings['height_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['height_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<?php if ($settings['height_filter'] == 'links') { ?>
							<a class="clear-link" onclick="$('.height-filter input').val(''); $('.filter-module .button').click();">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } else { ?>
							<a class="clear-link" onclick="clearFilters($(this).parent().parent())">
								<?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
							</a>
						<?php } ?>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
                                     
					<?php if ($settings['height_filter'] == 'select') { ?>
						<select class="form-control" name="height">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($height_ranges as $range => $text) { ?> 
						<?php if ($settings['height_filter'] == 'select') { ?>
							<?php $selected = (isset($get['height']) && $range == $get['height']) ? 'selected="selected"' : ''; ?>
							<option value="<?php echo $range; ?>" <?php echo $selected; ?>><?php echo $text; ?></option>
						<?php } elseif ($settings['height_filter'] == 'links') { ?>
							<?php $bold = (isset($get['height']) && $range == $get['height']) ? 'style="font-weight: bold"' : ''; ?>
							<a class="choice" <?php echo $bold; ?> onclick="$('.flexible-filter input').val(''); $('.filter-module input[name=height]').val('<?php echo $range; ?>'); $('.filter-module .button').click();">
								<?php echo $text; ?>
							</a>
						<?php } else { ?>
							<?php $checked = (isset($get['height']) && in_array($range, explode(';', $get['height']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['height'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['height'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['height_filter']; ?>" <?php echo $checked; ?> name="height" value="<?php echo $range; ?>" /> <?php echo $text; ?>
							</label>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['height_filter'] == 'select') { ?>
						</select>
					<?php } ?>
					
					<?php if ($settings['height_flexible'] == 'inputs') { ?>
						<div class="flexible-filter">
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="lower" value="<?php echo $lower; ?>" /> <?php echo $right_symbol; ?>
							<?php echo str_replace(array('[from]', '[to]'), '', $settings['height_middle_text_' . $language]); ?>
							<?php echo $left_symbol; ?> <input type="text" class="form-control" name="upper" value="<?php echo $upper; ?>" /> <?php echo $right_symbol; ?>
						</div>
					<?php } elseif ($settings['height_flexible'] == 'slider') { ?>
						<div class="flexible-filter">
							<div id="height-slider-<?php echo $settings['module_id']; ?>"></div>
							<input data-lkey="lower2" type="hidden" name="lower2" />
							<input data-ukey="upper2" type="hidden" name="upper2" />
                                                        <input type="hidden" name="heightShowHide" value="0" id="heightShowHide" />
                                                        
						</div>
					<?php } ?>
					
					<?php if ($settings['height_filter'] == 'links') { ?>
						<input type="hidden" name="height" class="form-control" value="<?php if (!empty($get['height'])) echo $get['height']; ?>" />
					<?php } ?>
				</div>
			</div>
                <?php } ?>
                
                <!-----------------------------------custom code for filter by Height END------------------------------------>
                
                
		
		<?php if ($filter == 'rating') { ?>
			<div class="rating-filter collapsable-block">
				<?php $collapsed = ($settings['rating_display'] == 'collapsed' && empty($get['rating'])); ?>
				<?php if ($settings['rating_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['rating_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
				<?php } ?>
				<div class="collapsable-choices rating" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<?php $and_up = html_entity_decode($settings['rating_text_' . $language], ENT_QUOTES, 'UTF-8'); ?>
					<?php if ($settings['rating_filter'] == 'select') { ?>
						<select class="form-control" name="rating">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
							<option <?php if (isset($get['rating']) && $get['rating'] == 5) echo 'selected="selected"'; ?> value="5">&#9733; &#9733; &#9733; &#9733; &#9733; <?php echo $and_up; ?></option>
							<option <?php if (isset($get['rating']) && $get['rating'] == 4) echo 'selected="selected"'; ?> value="4">&#9733; &#9733; &#9733; &#9733; &#9734; <?php echo $and_up; ?></option>
							<option <?php if (isset($get['rating']) && $get['rating'] == 3) echo 'selected="selected"'; ?> value="3">&#9733; &#9733; &#9733; &#9734; &#9734; <?php echo $and_up; ?></option>
							<option <?php if (isset($get['rating']) && $get['rating'] == 2) echo 'selected="selected"'; ?> value="2">&#9733; &#9733; &#9734; &#9734; &#9734; <?php echo $and_up; ?></option>
							<option <?php if (isset($get['rating']) && $get['rating'] == 1) echo 'selected="selected"'; ?> value="1">&#9733; &#9734; &#9734; &#9734; &#9734; <?php echo $and_up; ?></option>
						</select>
					<?php } else { ?>
						<?php for ($rating = 5; $rating >= 1; $rating--) { ?>
							<label><input type="<?php echo $settings['rating_filter']; ?>" <?php if (isset($get['rating']) && in_array($rating, explode(';', $get['rating']))) echo 'checked="checked" class="isChecked"'; ?> name="rating" value="<?php echo $rating; ?>" />
								<?php for ($i = 1; $i <= 5; $i++) { ?>
									<?php if ($rating < $i) { ?>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
									<?php } else { ?>
										<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
									<?php } ?>
								<?php } ?>
								<?php echo $and_up; ?>
								<?php if (!empty($rating_product_count[$rating])) echo $rating_product_count[$rating]; ?>
							</label>
						<?php } ?>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
		
		<?php if ($filter == 'search') { ?>
			<div class="search-filter collapsable-block">
				<?php $collapsed = ($settings['search_display'] == 'collapsed' && empty($get['search'])); ?>
				<?php if ($settings['search_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['search_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<input type="text" class="form-control" name="search" value="<?php if (isset($get['search'])) echo $get['search']; ?>" placeholder="<?php echo $settings['search_placeholder_' . $language]; ?>" />
					<?php if ($settings['search_description']) { ?>
						<label><input type="checkbox" name="description" value="1" <?php if (!empty($get['filter_description']) || !empty($get['description'])) echo 'checked="checked"'; ?> /> <?php echo $entry_description; ?></label>
					<?php } ?>
					<?php if ($settings['search_subcategory']) { ?>
						<label><input type="checkbox" name="sub_category" value="1" <?php if (!empty($get['filter_sub_category']) || !empty($get['sub_category'])) echo 'checked="checked"'; ?> /> <?php echo $text_sub_category; ?></label>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
		
		<?php if ($filter == 'stock') { ?>
			<div class="stock-filter collapsable-block">
				<?php $collapsed = ($settings['stock_display'] == 'collapsed' && empty($get['stock_status'])); ?>
				<?php if ($settings['stock_heading_' . $language]) { ?>
					<div class="collapsable-heading">
						<span class="right-triangle" <?php if (!$collapsed) echo 'style="display: none"'; ?>>&#9656;</span>
						<span class="down-triangle" <?php if ($collapsed) echo 'style="display: none"'; ?>>&#9662;</span>
						<?php echo html_entity_decode($settings['stock_heading_' . $language], ENT_QUOTES, 'UTF-8'); ?>
						<a class="clear-link" onclick="clearFilters($(this).parent().parent())"><?php echo html_entity_decode($settings['clear_filter_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
					</div>
				<?php } ?>
				<div class="collapsable-choices" <?php if ($collapsed) echo 'style="display: none"'; ?>>
					<?php if ($settings['stock_filter'] == 'select') { ?>
						<select class="form-control" name="stock_status">
							<option value=""><?php echo $settings['all_text_' . $language]; ?></option>
					<?php } ?>
					
					<?php $i = 0; ?>
					<?php foreach ($stock_statuses as $status) { ?>
						<?php if ($settings['stock_filter'] == 'select') { ?>
							<?php $selected = (isset($get['stock_status']) && $status['stock_status_id'] == $get['stock_status']) ? 'selected="selected"' : ''; ?>
							<?php if (!isset($get['stock_status']) && $status['stock_status_id'] == $settings['stock_default']) $selected = 'selected="selected"'; ?>
							<option value="<?php echo $status['stock_status_id']; ?>" <?php echo $selected; ?>><?php echo $status['name']; ?></option>
						<?php } else { ?>
							<?php $checked = (isset($get['stock_status']) && in_array($status['stock_status_id'], explode(';', $get['stock_status']))) ? 'checked="checked" class="isChecked"' : ''; ?>
							<?php if (!isset($get['stock_status']) && $status['stock_status_id'] == $settings['stock_default']) $checked = 'checked="checked" class="isChecked"'; ?>
							<?php $hide = ($i < $settings['choice_display'] || isset($get['stock_status'])) ? '' : 'style="display: none"'; ?>
							
							<?php if ($i == $settings['choice_display'] && !isset($get['stock_status'])) { ?>
								<a onclick="$(this).parent().find('label').show(); $(this).remove();"><?php echo $settings['show_more_text_' . $language]; ?></a>
							<?php } ?>
							
							<label <?php echo $hide; ?>>
								<input type="<?php echo $settings['stock_filter']; ?>" <?php echo $checked; ?> name="stock_status" value="<?php echo $status['stock_status_id']; ?>" /> <?php echo $status['name']; ?>
							</label>
							<?php $i++; ?>
						<?php } ?>
					<?php } ?>
					
					<?php if ($settings['stock_filter'] == 'select') { ?>
						</select>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
		
	<?php } ?>
	
	<?php if (!in_array('category', $filter_sorting) && isset($get['category_id'])) { ?>
		<input type="hidden" class="form-control" name="category_id" value="<?php echo $get['category_id']; ?>" />
	<?php } ?>
	
	<?php if (!in_array('manufacturer', $filter_sorting) && isset($get['manufacturer_id'])) { ?>
		<input type="hidden" class="form-control" name="manufacturer_id" value="<?php echo $get['manufacturer_id']; ?>" />
	<?php } ?>
	
	<?php if (!in_array('search', $filter_sorting)) { ?>
		<?php if (isset($get['filter_name'])) { ?>
			<input type="hidden" class="form-control" name="search" value="<?php echo $get['filter_name']; ?>" />
		<?php } elseif (isset($get['search'])) { ?>
			<input type="hidden" class="form-control" name="search" value="<?php echo $get['search']; ?>" />
		<?php } ?>
	<?php } ?>
	
	<?php if (!empty($list)) { ?>
		<input type="hidden" class="form-control" name="list" value="<?php echo $list; ?>" />
	<?php } ?>
	
	<?php if (!empty($settings['clear_all_filters_text_' . $language])) { ?>
		<div class="clear-filters"><a onclick="clearAllFilters($(this))"><?php echo html_entity_decode($settings['clear_all_filters_text_' . $language], ENT_QUOTES, 'UTF-8'); ?></a></div>
	<?php } ?>
	
	<div class="filter-button" <?php if (empty($settings['filter_button_' . $language])) echo 'style="display: none"'; ?>>
		<a class="button btn btn-primary"><?php echo html_entity_decode($settings['filter_button_' . $language], ENT_QUOTES, 'UTF-8'); ?></a>
	</div>
</div>

<script>
	// Input functions
	$('.collapsable-heading').click(function(event){
		if ($(event.target).attr('class') != 'clear-link') {
			$(this).next().slideToggle('fast');
			$(this).find('.right-triangle, .down-triangle').toggle();
		}
	});
	
	function clearAllFilters(element) {
		if ('<?php echo $clear_filters; ?>') {
			location = '<?php echo html_entity_decode($clear_filters, ENT_QUOTES, 'UTF-8'); ?>';
		} else {
			clearFilters(element.parent().parent());
		}
	}
	
	function clearFilters(element) {
		element.find(':input').removeAttr('checked');
		element.find('input[type="text"]').val('');
		element.find('option:first-child').attr('selected', 'selected');
		<?php if ($settings['automatic_filter']) { ?>
			clickFilterButton();
		<?php } ?>
	}
	
	$('.filter-module :radio').click(function(){
		if ($(this).hasClass('isChecked')) {
			$(this).removeClass('isChecked').removeAttr('checked').change();
		} else {
			$(this).parent().parent().find(':radio').removeClass('isChecked');
			$(this).addClass('isChecked');
		}
	});
	
	// Filtering functions
	$('.filter-module input[type="text"]').keyup(function(event){
		if (event.which == 13) $('.filter-module .button').click();
	});
	
	$('.filter-module .button').click(function(){
		var page = ($('.filter-module').find('input[name="search"]').val() && <?php echo $smartsearch; ?>) ? 'product/search' : 'extension/filter';
		var url = '<?php echo HTTP_SERVER; ?>index.php?route=' + page + '&module_id=<?php echo $settings['module_id']; ?>';
		
		var previousInput = '';
		var lower = $('.filter-module').find('input[name="lower"]').val();
		var upper = $('.filter-module').find('input[name="upper"]').val();
                
                var lower1 = $('.filter-module').find('input[name="lower1"]').val();
		var upper1 = $('.filter-module').find('input[name="upper1"]').val();
                
                var lower2 = $('.filter-module').find('input[name="lower2"]').val();
		var upper2 = $('.filter-module').find('input[name="upper2"]').val();
		
		$('.filter-module').find(':input').each(function(){
                
                    var upperDataKey = $(this).data('ukey');
                    var priceShowHide = $('#priceShowHide').val();
                    if (typeof  upperDataKey === "undefined") {
                        console.log('undefined');
                    } else {
                        if(priceShowHide == 1 ) {
                            if( upperDataKey == 'upper1' ) {
                                if (url.indexOf('&width=') == -1) {
                                    url += '&width=' + lower1 + '-' + upper1;
                                } else {
                                    url += ';' + lower1 + '-' + upper1;
                                }
                                <?php if (isset($settings['width_filter']) && $settings['width_filter'] == 'links') { ?>
                                    $('input[name="width"]').val('');
                                <?php } ?>
                                return;
                            }
                        }
                        
                        if(priceShowHide == 1 && widthShowHide == 1) {
                            if( upperDataKey == 'upper2' ) {
                                if (url.indexOf('&height=') == -1) {
                                    url += '&height=' + lower2 + '-' + upper2;
                                } else {
                                    url += ';' + lower2 + '-' + upper2;
                                }
                                <?php if (isset($settings['height_filter']) && $settings['height_filter'] == 'links') { ?>
                                    $('input[name="height"]').val('');
                                <?php } ?>
                                return;
                            }
                        }
                    }
                       
                        
                        if(priceShowHide == 0 ) {
                            if ($(this).attr('name') == 'lower' && lower) {
                                if (url.indexOf('&price=') == -1) {
                                    url += '&price=' + lower + '-' + upper;
				} else {
                                    url += ';' + lower + '-' + upper;
				}
                                <?php if (isset($settings['price_filter']) && $settings['price_filter'] == 'links') { ?>
                                    $('input[name="price"]').val('');
				<?php } ?>
				return;
                            }
                        }
                       
                        
                        
                        
                        
                        
                        if ($(this).attr('name') == 'upper' && lower) {
                            return;
			}
                        
			
                        
                        
			
			if ($(this).is(':checkbox') && $(this).is(':checked')) {
				url += ($(this).attr('name') == previousInput) ? ';' + $(this).val() : '&' + $(this).attr('name') + '=' + $(this).val();
				previousInput = $(this).attr('name');
			} else if ($(this).is(':radio') && $(this).is(':checked')) {
				url += '&' + $(this).attr('name') + '=' + $(this).val();
			} else if ($(this).hasClass('form-control') && $(this).val()) {
				url += '&' + $(this).attr('name') + '=' + $(this).val();
			}
		});
		
		$.ajax({
			type: 'POST',
			url: 'index.php?route=extension/<?php echo $type . '/' . $name; ?>/rewrite',
			data: {url: url},
			success: function(data) {
				<?php if ($settings['page_loading'] != 'normal') { ?>
					loadAjaxPage(data);
				<?php } else { ?>
					location = data;
				<?php } ?>
			},
		});
	});
	
	<?php if ($settings['page_loading'] != 'normal') { ?>
		$(window).on('popstate', function(){
			location.reload();
		});

		function loadAjaxPage(url) {
			$.ajax({
				url: url,
				beforeSend: function() {
					$('#content').fadeTo(200, 0.5);
				},
				success: function(data) {
					window.history.pushState(data, 'newPage', url);
					
					<?php if ($settings['page_loading'] == 'ajax_quick') { ?>
						document.write(data);
						document.close();
					<?php } else { ?>
						$('#content').append('<div id="ajax-page" style="display: none">' + data + '</div>');
					
						// Journal fix
						$('#ajax-page img[data-src]').each(function(){
							$(this).attr('src', $(this).attr('data-src')).css('opacity', '1');
						});
						
						<?php if ($check_relevant_values) { ?>
							$('#column-left:first').html($('#ajax-page #column-left').html());
							$('#content:first + #column-right').html($('#ajax-page #column-right').html());
						<?php } ?>
						
						$('#content:first').html($('#ajax-page #content').html()).fadeTo(200, 1);
					<?php } ?>
					
					if ($('#content').offset()) {
						$('html, body').animate({scrollTop : $('#content').offset().top}, 500);
					}
				}
			});
		}
		
		$(document).ready(function(){
			$('.pagination a').each(function(){
				$(this).attr('onclick', 'loadAjaxPage(\"' + $(this).attr('href') + '\")').removeAttr('href').css('cursor', 'pointer');
			});
		});
	<?php } ?>
	
	<?php if ($settings['automatic_filter']) { ?>
		var timeout;
		
		$(document).ready(function(){
			$('.filter-module :input:not(input[type="text"])').change(clickFilterButton);
		});
		
		function clickFilterButton() {
			clearTimeout(timeout);
			timeout = setTimeout(function(){
				$('.filter-module .button').click();
			}, <?php echo (int)($settings['automatic_filter'] * 1000); ?>);
		}
	<?php } ?>
	
	// Price slider functions
	<?php if ($settings['price_flexible'] == 'slider') { ?>
		$(document).ready(function(){
			var slider = $('#price-slider-<?php echo $settings['module_id']; ?>')[0];
			
			noUiSlider.create(slider, {
				start: [<?php echo ($lower) ? $lower : 0; ?>, <?php echo ($upper) ? $upper : $max_price; ?>],
				step: 5,
				connect: true,
				tooltips: true,
				range: {
					'min': 0,
					'max': <?php echo $max_price; ?>,
				},
				format: {
					to: function(value) {
						return '<?php echo $left_symbol; ?>' + Math.round(value).toString() + '<?php echo $right_symbol; ?>';
					},
					from: function(value) {
						return value.replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', '');
					},
				},
			});
			
			slider.noUiSlider.on('update', function(values, handle) {
                                
                                $('#priceShowHide').val(0);
                                
				$('input[name="lower"]').val(values[0].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', ''));
				$('input[name="upper"]').val(values[1].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', ''));
			});
			
			<?php if ($settings['automatic_filter']) { ?>
				slider.noUiSlider.on('end', function(){
					$('input[name="price"]').removeAttr('checked');
					clickFilterButton();
				});
			<?php } ?>
		});
	<?php } ?>
        
        
        
        
        
        
        
        
        // Custom Code Width slider functions
	<?php if ($settings['width_flexible'] == 'slider') { ?>
		$(document).ready(function(){
			var slider = $('#width-slider-<?php echo $settings['module_id']; ?>')[0];
			
			noUiSlider.create(slider, {
				start: [<?php echo ($lower1) ? $lower1 : 0; ?>, <?php echo ($upper1) ? $upper1 : $max_width; ?>],
				step: 5,
				connect: true,
				tooltips: true,
				range: {
					'min': 0,
					'max': <?php echo $max_width; ?>,
				},
				format: {
					to: function(value) {
						return '<?php echo $left_symbol; ?>' + Math.round(value).toString() + '<?php echo $right_symbol; ?>';
					},
					from: function(value) {
						return value.replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', '');
					},
				},
			});
			
			slider.noUiSlider.on('update', function(values, handle) {
                        
                                setTimeout(function(){
                                    $('#priceShowHide').val(1);
                                }, 3000);

                        
                                
                                
				$('input[name="lower1"]').val(values[0].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol1; ?>', ''));
				$('input[name="upper1"]').val(values[1].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol1; ?>', ''));
			});
			
			<?php if ($settings['automatic_filter']) { ?>
				slider.noUiSlider.on('end', function(){
					$('input[name="width"]').removeAttr('checked');
					clickFilterButton();
				});
			<?php } ?>
		});
	<?php } ?>
        
        
        // Custom Code Height Slider Functions
	<?php if ($settings['height_flexible'] == 'slider') { ?>
		$(document).ready(function(){
			var slider = $('#height-slider-<?php echo $settings['module_id']; ?>')[0];
			
			noUiSlider.create(slider, {
				start: [<?php echo ($lower2) ? $lower2 : 0; ?>, <?php echo ($upper2) ? $upper2 : $max_height; ?>],
				step: 5,
				connect: true,
				tooltips: true,
				range: {
					'min': 0,
					'max': <?php echo $max_height; ?>,
				},
				format: {
					to: function(value) {
						return '<?php echo $left_symbol; ?>' + Math.round(value).toString() + '<?php echo $right_symbol; ?>';
					},
					from: function(value) {
						return value.replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', '');
					},
				},
			});
			
			slider.noUiSlider.on('update', function(values, handle) {
                        
                                setTimeout(function(){
                                    $('#priceShowHide').val(1);
                                }, 3000);

                        
                                
                                
				$('input[name="lower2"]').val(values[0].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', ''));
				$('input[name="upper2"]').val(values[1].replace('<?php echo $left_symbol; ?>', '').replace('<?php echo $right_symbol; ?>', ''));
			});
			
			<?php if ($settings['automatic_filter']) { ?>
				slider.noUiSlider.on('end', function(){
					$('input[name="height"]').removeAttr('checked');
					clickFilterButton();
				});
			<?php } ?>
		});
	<?php } ?>
        
        
        
        
        
        
        
	
	// Mobile-specific functions
	function showFilters() {
		$('.collapsable-choices, .down-triangle').hide();
		$('.right-triangle').show()
		$('#filter-module-toggle').slideUp();
		$('.filter-module').slideDown();
		$('html, body').scrollTop(0);
	}
	
	$(document).ready(function(){
		if ($(window).width() <= 767) {
			$('body').prepend('<a id="filter-module-toggle" class="button btn btn-info" onclick="showFilters()"><?php echo html_entity_decode(str_replace("'", "\'", $settings['mobile_button_' . $language]), ENT_QUOTES, 'UTF-8'); ?></a>');
			$('.filter-module').prependTo('body');
		}
	});
</script>
