@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');


body{ overflow-x: hidden; }
.container1{
	width:1170px;
}


/* header */
header{}

.header{}

.top-01{
  background-color: #f9f9f9;
  padding: 10px 0;
}
.top-01 p{
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.top_bar_icons{ float: right; margin:0; }
.top_bar_icons ul{margin: 0;padding: 0;position: relative; float: left;}
.top_bar_icons ul li{cursor: pointer; list-style: none;padding:0 10px;transition: 0.45s;display: inline-block;background: url(../images/top_bar_right_border.png) no-repeat center right;}
.top_bar_icons ul li:first-child{padding-left: 0px;}
.top_bar_icons ul li:last-child{background: none;padding-right: 0px;}
.top_bar_icons ul li a{font-size: 13px; font-weight: 500; font-family: 'Poppins', sans-serif; color: #000; transition: 0.45s; text-transform:uppercase; }

.top_bar_icons ul li:hover a{color: #6ec4fc; text-decoration: underline;}
.top_bar_icons ul li i{padding-right: 5px;position: relative;transition: 0.3s;color: #000;}

.top_bar_icons ul li .comm:before{content: "\f27b";color: #6ec4fc;font-family: FontAwesome;position: absolute;top: 60%;transition: 0.3s;opacity: 0;}

.top_bar_icons ul li:hover span i{top: -7px;transition: 0.3s;opacity: 0;transform: translateY(-7px);}

.top_bar_icons ul li:hover span:before{top:10%;opacity: 1;}

.top_bar_icons ul li .check:before{content: "\f00c";color: #6ec4fc;font-family: FontAwesome;position: absolute;top: 60%;transition: 0.3s;opacity: 0;}

.top_bar_icons ul li span:before{content: "\f067";color: #6ec4fc;font-family: FontAwesome;position: absolute;top: 60%;transition: 0.3s;opacity: 0;}

.top-logo {
  padding: 15px 0;
}
.top-search {
    padding-top: 20px;
}
.top-srch{ position: relative; }
.top-srch .top-txt{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: transparent;
    padding: 15px 15px 15px 30px;
    margin: 0;
    border: none;
    outline: none;
    width: 100%;
    transition: 0.45s;
	  font-weight:500;
    border-bottom: 1px solid #092162;
}
.top-srch .top-btn {
    font-size: 18px;
    color: #6ec4fc;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
}
.top-srch .top-btn:hover{ color: #092162; }
.top-srch .top-txt:focus{}
.logo{}
.top-right{
  float: right;
  padding-top: 20px;
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}


/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active { -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*.top-navigation {
    float: left;
    width: 100%;
    position: absolute;
    bottom: -28px;
    z-index: 1;
}*/
.top-navigation {
    clear: both;
    margin: 0px 0 0 0;
    float: left;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.navbar-inverse {
    border: none;
    margin: 0; 
    min-height: 0px; 
    background: none !important;
}
.navbar-inverse .navbar-nav{ min-height: 0px; margin: 0; border: none; border-radius: 0; float:left; }
.navbar-inverse .navbar-nav>li{}
.navbar-inverse .navbar-nav>li>a{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000 !important;
    background-color: transparent !important;
    padding: 20px 38px 25px;
    margin: 0;
    line-height: 0 !important;
    transition: all 0.45s;
    display: block; 
    border-top: 5px solid transparent;
}
.navbar-inverse .navbar-nav>li>a:hover{ border-color: #f01c23; color: #f01c23 !important; }

.navbar-collapse{
    padding:0;
}
.more-cate{ position: relative; }
.sub-bg{
  padding: 20px 0 0;
  position: absolute;
  top: 31px;
  left: 20px;
  z-index: 999;
  display: none;
  transition: 0.45s;
}
.sub-cate{
  background-color: #e9e9e9;
  padding: 10px 0px;
  float: left;
  width: 500px;
}
.sub-cate li{
  display: block;
  list-style: none;
  padding: 3px 0;
}
.sub-cate li a{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #656565;
  padding: 2px 0;
  margin: 0;
  display: block;
  transition: 0.45s;
}
.sub-cate li a span{
  font-size: 4px;
  padding-right: 5px;
  vertical-align: middle;
  transition: 0.45s;
}
.sub-cate li .ln2{
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #3399fd;
  padding: 0;
  margin: 0;
  display: block;
  transition: 0.45s;
}
.sub-cate li a:hover{ color: #f01c23; }
.sub-cate li a:hover span{ padding-right: 8px; }
.more-cate:hover .sub-bg{ display: block; }
/* menu on mobile css */
.mobile_nav{
  background: #fff;
  margin-bottom: 10px;
}

#menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    background: #092163 !important;
    padding: 15px 0px 10px 15px;
    margin: 0;
}
#menuToggle input {
    display: block;
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    margin:0;
}
#menuToggle span
{
  display: block;
  width: 27px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  -webkit-transform-origin: 4px 0px;
  
          transform-origin: 4px 0px;
  
  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 100%;
  margin: -40px 0 0 -50px;
  
  padding: 1px 1px;
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
/*  -webkit-transform-origin: 0% 0%;
  
          transform-origin: 0% 0%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
  display:none;}


#menu li{
/*  padding: 0px 0;
  font-size: 22px;*/
  text-align: center;
}

#menuToggle input:checked ~ ul
{
  -webkit-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
  opacity: 1;
    margin: 15px 0 0 -8px;
    position: static;
    display:block;
    transition:all 0.5s ease-in-out;
}
.new_nav {
    text-align: center;
    background-color: #fff !important;
    width: 100%;
}
.new_nav li{ background: none; border-bottom: 1px solid #dcdcdc;}
.new_nav li a{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000 !important;
    background-color: transparent !important; 
    padding: 16px 16px;
    margin: 0;
    text-transform: uppercase;
    line-height: 0 !important;
    transition: all 0.45s;
    display: block;
    border-top: 5px solid transparent;
}
.new_nav li a:hover{ border-color: #f01c23; color: #f01c23 !important; }
    
#menuToggle h1{}

/* menu on mobile css */ 

/* header close */	



/* banner */
.banner{ clear: both; margin:0; }

.carousel-control{background: transparent !important;}

.carousel-indicators li {
    background: #3a3a3a;
}
.carousel-indicators .active{
  background: #092163 !important;
}
.glyphicon {
    top: 50%;
}
/* banner close */


/* short about */
.short-about{ padding: 50px 0 0; }
.about-head{
  text-align: center;
  margin: 0 0 30px;
}
.about-head h2{
  font-size: 36px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
}
.about-det{
  border-bottom: 1px solid #092163;
  float: left;
  padding: 10px 0 20px;
}
.about-det h3{
  font-size: 26px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
}
.about-det p{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  line-height: 33px;
}
.about-det ul{}
.about-det ul li{ display: inline-block; transition: 0.45s; /*width: 200px; height: 210px;*/ margin: 10px; overflow: hidden; width: 45%; border: 1px solid #e0e0e0; border-radius: 10px; transition: 0.45s; text-align: center; }
.about-det ul li img{}
.im1{}
.im2{ display: none; }
.about-det ul li:hover{ box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); border: 0; }
.about-det ul li:hover .im1{ display: none; }
.about-det ul li:hover .im2{ display: inline-block; }


/* short about */



/* popular categories */
.pop-cates{
    background-color: #f5f5f5;
    padding: 50px 0;
}
.cate-box{
    background-color: #fff;
    padding: 0;
    margin: 15px 0;
    text-align: left;
}
.cate-img{ overflow: hidden; }
.cate-img img{ transition: 3s; transform: scale(1); }
.cate-name{
    padding: 12px 20px;
    transition: 0.45s;
}
.cate-name p{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    transition: 0.45s;
}
.cate-name p span{
  font-size: 33px;
  font-weight: 700;
  color: #dedede;
  padding-left: 10px;
  transition: 1s;
}
.cate-box:hover .cate-name{ background-color: #092162; }
.cate-box:hover .cate-name p{ color: #fff; }
.cate-box:hover .cate-name p span{ padding-left: 20px; }
.cate-box:hover .cate-img img{ transform: scale(1.1); }
/* popular categories */



/* best buys */
.best-buy{
  padding: 50px 0 10px;
}
.best-buy .buy-box{
  margin: 15px 0;
  overflow: hidden;
  border: 5px solid transparent;
  transition: 0.45s;
}
.best-buy .buy-box img{ transition: 3s; transform: scale(1);}
.best-buy .buy-box:hover{ border-color: #f01c23; }
.best-buy .buy-box:hover img{ transform: scale(1.1); }
/* best buys */



/* feature products */
.feature{
    padding: 30px 0 20px;
}
.feat-head{ text-align: center; margin-bottom: 30px; }
.feat-head h2{
    font-size: 46px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #004483;
    padding: 0 0 10px;
    margin: 0;
}
.feat-head h3{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #232323;
    padding: 0;
    margin: 0;
}

.owl-demo .owl-prev{ background: #fff  !important;
    color: #b2b2b2!important;
    padding: 0px 10px !important;
    transition: all 0.3s !important;
    border-radius: 0 !important;
    font-size: 33px !important;
    line-height: 38px;
    height: 45px;
    margin-left: -15px;
}

.owl-demo .owl-next{ background: #fff !important;
    color: #b2b2b2 !important;
    padding: 0px 10px !important;
    transition: all 0.3s !important;
    border-radius: 0 !important;
    font-size: 33px !important;
    line-height: 38px;
    height: 45px;
    margin-right: -15px;
}


.itemlistings a.itm-a {
    margin: 10px 10px;
    font-weight: 600 !important;
    border-radius: 0px !important;
    color: #092163 !important;
    font-size: 12px !important;
    padding: 12px 25px !important;
    transition: 0.45s !important;
    background: #ffffff !important;
    border: 1px solid #092163;
}
.itemlistings a.itm-a:hover{
  color: #fff !important;
	text-decoration:underline;
	background:#092163 !important;
}


.itemlistings p{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Work Sans', sans-serif !important;
    color: #000000 !important;
    padding: 0;
    margin:10px 0 !important;
    line-height: 20px !important;
    height: 40px !important;
    text-transform: capitalize !important;

}
.itemlistings span {
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: 'Work Sans', sans-serif !important;
    color: #092163 !important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{width:100%;}
.owl-demo .owl-prev:hover, .owl-next:hover{ color: #fff !important; background: #092163 !important;}      
.new {
    padding: 30px 0 10px 0;
    text-align: center;
}
.owl-demo .owl-buttons {
    top: 40% !important;
}  



.ecrousal{background:none !important; clear:both;}
.ecrousal{text-align:center !important; text-transform:uppercase; }
.ecrousal h6{background:none !important; color:#000 !important; font:bold 34px !important;font-family: 'Open Sans', sans-serif; display:none;}
.ecrousal{border:none !important;}
.itemlistings .itmimg {
    border-radius: 0 !important;
    border: 1px solid #f1f1f1 !important;
    padding: 10px 0 0 0 !important;
}
.ecrousal img.icon{ display: none; }
.itemlistings {
    text-align: center;
    margin: 0px;
    padding: 10px 10px !important;
    margin: 0 10px !important;
    background:#fff;
    border: 0;
    transition: 0.45s !important;
 }
.itemlistings:hover {  }
.itemlistings:hover .itm-a{ color: #fff !important; background:#004483 !important;}


/* feature products */


/* footer */

/* main-footer */
.ftr-comn{ background: url(../images/bg1.png) top center no-repeat;}
.ftr-01{ padding-top: 40px; }
.ftr-02{}
.ftr-03{ padding-top: 40px; }

.ftr-links{}
.ftr-links ul{ margin: 0; padding: 0; }
.ftr-links ul li{ list-style: none; display: inline-block; }
.ftr-links ul li a{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
  padding: 20px 39px 15px;
  margin: 0;
  transition: all 0.45s;
  display: block; 
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
}
.ftr-links ul li a:hover{ border-color: #f01c23; color: #f01c23 !important; }

/* main-footer */


/* lower footer */
.lower-footer {
  background-color: #000;
  padding: 15px 0;
}
.lower-footer p{
  font-size: 13px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  padding: 5px 0 0 0;
  margin: 0;
}
.lower-footer img{
  float:right;
}
/* lower footer */


/* footer */





/*
.next-cms{
    margin: 10px auto 0px auto;
    max-width: 1000px;
}
	*/



@media screen and (max-width:1199px){
.container1{
  width:970px;
}

.navbar-inverse .navbar-nav>li>a {
  padding: 20px 25px 25px;
}
.sub-bg {
  left: 0px;
}
.sub-cate {
  width: 450px;
}
.sub-cate li a {
  font-size: 12px;
}
.about-det ul {
  padding-top: 50px;
}
.about-det ul li {
  width: 44%;
}
.ftr-links ul li a {
  padding: 20px 24px 15px;
}
.ftr-01 {
  padding-top: 30px;
}
.ftr-03 {
  padding-top: 30px;
}

.next-cms{
  max-width: 930px;}




}


	
@media screen and (max-width:991px){
.container1{
  width:750px;
}

.navbar-inverse .navbar-nav>li>a {
  padding: 15px 18px 20px;
  font-size: 12px;
}
.sub-bg {
  top: 21px;
}
.sub-cate {
  width: 350px;
}
.sub-cate li .ln2 {
  font-size: 13px;
}
.about-head {
  margin: 0 0 15px;
}
.about-det ul {
  padding-top: 20px;
}
.about-det ul li {
  width: 46%;
  height: 200px;
}
.cate-name p {
  font-size: 28px;
}
.ftr-01 {
  padding-top: 15px;
}
.ftr-03 {
  padding-top: 15px;
}
.ftr-links ul li a {
  padding: 15px 16px 10px;
  font-size: 14px;
}

.next-cms {
    max-width: 720px;
    margin: 0 auto;
    margin-left: 15px;}



}



@media screen and (max-width:768px){}	



@media screen and (max-width:767px){
.container1{
  width: 500px !important;
}

.top-01 p{ text-align: center; }
.top_bar_icons {
  float: none;
}
.top_bar_icons ul {
  float: none;
  text-align: center;
  margin-top: 5px;
}
.logo img{ display: block; }
.top-right{ display: none; }
.top-search {
    padding-top: 0;
    width: 300px;
    margin: 0 auto;
}


.navbar-toggle {
    position: relative;
    float: left;
    padding: 15px 11px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    width: 100%;
    background: none !important;
    border: 2px solid #fff !important;
}
.new_5{ color:#FFFFFF; position:absolute; top:10px; right:10px;}

.glyphicon {
    display: none;
}

.short-about {
    padding: 20px 0 0;
}
.about-head h2 {
    font-size: 30px;
}
.about-det h3 {
    font-size: 22px;
}
.about-det ul {
    padding-top: 10px;
}
.about-det ul li {
    width: 100%;
    margin: 10px 0;
}
.pop-cates {
    padding: 20px 0;
}
.cate-name p {
    font-size: 22px;
}
.cate-name p span {
    font-size: 25px;
}
.best-buy {
    padding: 20px 0 0;
}
.feature {
    padding: 20px 0 0;
}
.ftr-comn {
    background: #000;
}
.ftr-01 {
  padding-top: 0px;
}
.ftr-03 {
  padding-top: 0px;
}
.ftr-links ul {
    text-align: center;
}
.ftr-links ul li a {
    padding: 15px 5px 10px;
}
.lower-footer{ text-align: center; }
.lower-footer p {
  margin-bottom: 5px;
  text-align: center;}
.lower-footer img {
    float: none;
}

.next-cms{
    max-width: 100%;
    margin: 0 15px;}


}


@media screen and (max-width:550px){
.container1{
  width: 380px !important;
}
.top-search {
    padding-top: 0;
    width: 260px;
    margin: 0 auto;
}
.top_bar_icons ul li {
    padding: 0 3px;
}
.top_bar_icons ul li a {
    font-size: 12px;
}
.about-head h2 {
    font-size: 24px;
}


}


@media screen and (max-width:400px){
.container1{
  width: 320px !important;
}

}



/* main listing */
.listing-main{ padding: 30px 0; background: #fff; clear: both; }
.list-descrption{ border: 1px solid #bcbcbc; margin: 20px 0; }
/*.list-dscp-head {
  font-size: 20px;
  color: #000;
  background-color: #6cbbbc;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  padding: 10px 15px;
  margin: 0px;
  text-transform: uppercase;
}
.list-dscp-head p{ margin: 0; }*/

.list-head {
  font-size: 24px;
  color: #000;
  background-color: #ededed;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px;
  margin: 0px;
  text-transform: uppercase;
  text-align: left;
}
.list-head p{ margin: 0; }
.disc-head {
  font-size: 18px;
  color: #000;
  background-color: #ededed;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px;
  margin: 0px;
  text-transform: uppercase;
  text-align: left;
}
.disc-head p{ margin: 0; }

.list-dscp {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 20px 20px;
  margin: 0px;
  line-height: 30px;
}
.list-dscp p{ margin: 0; }
.list-image{ border: 1px solid #bcbcbc; }
.listing-main .list-img{
  padding: 30px;
}

.estore{ float: right; }


.main_tabsss{background: #fff;padding: 15px;}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000!important;
    word-break: break-all;
    word-wrap: break-word;
    background: transparent !important;
    border: 0px solid #ccc !important;
    border-radius: 4px;
}


.tabbed {
    float: left;
    width: 100%;
    background: #e6e6e6;
    margin-bottom: 0;
}

.tabbed > input{
  display : none;
}

.tabbed > section > h1{
  float       : left;
  box-sizing  : border-box;
  margin      : 0 0 0 0;
  padding     : 0em 3px 0 0;
  font-size   : 1em;
  font-weight : normal;

}
.tabbed > section > h1 > label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;
    color: #000;
    padding: 13px 0px;
    margin: 0px;
    width: 150px;
    text-align: center;
    border-bottom: none;
    text-transform: uppercase;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600 !important;
    background: transparent;
}

.lorem {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #272727;
    padding: 20px;
    border: 1px solid #bcbcbc;
    border-top: 0;
    line-height: 25px;
    background:#fff;
    float: left;
    width: 100%;
}


.panel{
  margin:0;
  border:0;
}


.tabbed > input:checked + section > h1 > label { background: #092163; color:#fff; font-weight: 600; }

.tabbed > section > div{
  position      : relative;
  z-index       : 1;
  float         : right;
  box-sizing    : border-box;
  width         : 100%;
  margin        : 45px 0 0 -100%;

}

.tabbed > input:checked + section > h1{
  position : relative;
  z-index  : 2;
}

.tabbed > input:not(:checked) + section > div{
  display : none;
}
.leftsec { width:50%; float:left;     margin-top:12px;}
.rightsec { width:46%; float:right;}
.asdasd { margin-top:15px;; float:left; width:100%; position:relative; z-index:999999}
#slider-header {margin:20 0 0px 0; width:100% !important; height:auto !important; clear:both;}
#slider-header h2{ font-size:14px; text-transform:uppercase; color:#fff; line-height:39px; border:1px solid #d7d7d7; margin:0; padding:0 0 0 26px; text-align:left; font-weight:bold;
background:#ff7612;}
.productthumb li{ float:left; width:100%; max-width:240px; list-style:none; padding:0 5px;}

.tabscc_detail p{font-size: 15px;font-family: 'Open Sans', sans-serif;margin: 0;line-height: 28px;}
@media screen and (max-width:1199px){.title p{font-size: 18px;}}
@media screen and (max-width:1024px){
.tabbed > section > h1 > label {  width:150px}
}
@media screen and (max-width:991px){
.tabbed > section > h1 > label { width:130px; font-size:14px; padding: 15px 0;}
.containers>a { margin-right:60px !important;}
.leftsec { width:100%;}
.rightsec { width:100%;}
.image-gallery {max-width: 515px; width:100% !important;}
.image-gallery .big-image {width: 77% !important;}
} 
@media screen and (max-width:790px){
.tabbed{margin:10px 0;}  
#tabbed2 + section > div { margin-top:-1px !important;}
#tabbed3 + section > div { margin-top:-1px !important;}
#tabbed4 + section > div { margin-top:-1px !important;}
.tabbed > section > div{ margin:-1px 0 !important;}
.productthumb { text-align:center;}
.productthumb li { display:inline-block; float:none;}
.tabbed > section > h1{ margin:0 !important; width:100%; padding:0 0 0 !important}
.tabbed > section > h1 > label {border-bottom: 1px solid #818181; width:100% !important; text-align:left !important; padding:14px 15px !important; margin:0px; position:relative;}
.moblo{ margin-bottom:0 !important;}

.tabbed > section > h1 > label::after{
    content: "\f0fe";
    font-family: "fontawesome";
    color: #fff;
    position: absolute;
    right: 10px;
    top: 15px;
}


.tabbed > input:checked + section > h1 > label::after{
 content: "\f146";
 color: #fff;
}
.deatil p{font-size: 16px;}
.tabbed > input:checked + section > h1 > label{ /*background: #6cbbbc;*/ }
.top_navigation ul li>a{color: #3b3b3b !important;text-align: center;}

.top_navigation ul>li>a:hover{ color: #0d0ab4 !important;} 
.hvr-underline-reveal:before {background: #0d0ab4 !important;}

}

@media screen and (max-width:460px){ 
.tabbed > section > h1 { margin-bottom:0;}
.tabbed > section > h1 > label { font-size:13px; width: 100%;}
.containers>a { margin-right:9px !important;}
.productthumb li{  max-width:150px;}
.single-item .gal_button {
    min-width: 100px;
 
}

#slider-header h2 {
    font-size: 11.5px;
    padding: 0 0 0 15px;
}
.single-item .gal_img {
    height: 100px;
}


}
@media screen and (max-width:414px){ 
.tabbed > section > h1 > label {width:100%;}
.tabbed > section > h1 {margin:0;}
}
/* main listing */