@import url('https://fonts.googleapis.com/css?family=Exo+2');
a {text-decoration:none; color:inherit;}
a:link,a:active,a:visited {text-decoration:none; color:inherit;}
a {text-decoration:none; color:inherit;}
body {margin:0px; padding:0px;}
.pagewidth {margin:0px; padding:0px; width:100%; }
.pageminwidth{ width:100%; margin:0px; }
.pagelayout{margin:0px auto; padding:0px; width:100%;}

.estore-clear { clear: both; }
.estore-wrap { width: 100%; }
.estore-wrapcen { width: 100%; text-align:center;}

.estore-background {
	padding: 0px !important;
	margin: 0px auto !important;
	width: 100%;
	position:relative;
	background: url(../images/center-bg.png) center top no-repeat;
}
.estore-content {
    width: 100% !important;
    max-width: 1170px;
    text-align: center;
    margin: 10px auto 0px auto;
    padding: 0 20px !important;
    background: #FFFFFF;
}

/*---Common and Standard---<<END*/
#estore-searchhead {
	width: 100%;
	height: 41px;
	background-image: url(images/edesign_store_search_heading.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	float: left;
}
table.gallery img.sale {
    width: 40px !important;
    height: 50px !important;
	z-index:99;
}
#estore-search {
	color: #939393;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	padding: 0px;
	background-image: url(images/search_bg.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 129px;
	background-position: left 41px;
	margin: 0px;
}
#estore-search #estore-input {
	float: left;
	width: 152px;
	height: 24px;
	padding-left: 0px;
	position: relative;
	margin: 0px;
	padding-top: 0px;
	left: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	top: 25px;
}
#estore-search #estore-input .v4sbox {
	color: #7a7a7a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 165px;
	height: 24px;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	line-height: 24px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	background-color: #b1b1b1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b1b1b1;
	border-right-color: #b1b1b1;
	border-bottom-color: #b1b1b1;
	border-left-color: #b1b1b1;
}
#estore-search #estore-submit {
	float: right;
	width: 58px;
	height: 24px;
	right: 14px;
	position: relative;
	top: 35px;
	margin: 0px;
}
#estore-search #estore-title {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	float: left;
	padding-left: 0px;
	margin-left: 0px;
	top: 96px;
	width: 160px;
	position: relative;
	vertical-align: text-top;
	display: inline;
	left: 19px;
}
#estore-search #estore-titlem {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	float: left;
	top: 0px;
	width: 80px;
	height: 20px;
	vertical-align: text-top;
	display: inline;
	position: absolute;
	left: 0px;
}
/*---Left Column->START*/






/*---Left Column->START*/
#rightarea {
    width: 98% !important;
    float: right;
    margin: 0;
    margin-right: 0px;
    padding-right: 15px;
}
#estore-leftpanel{width:100%; float:left; margin:0px 0px 0px 10px !important; padding:0px;}
#LeftPanel {
    width: 24%!important;
    text-align: left;
    vertical-align: top !important;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
}
#LeftPanel * {   }
#LeftPanel img { border: 0px; }
#LeftPanel .ttl { display: none !important; }
#LeftPanel .cnt { display: none !important; }
#LeftPanel .all_cats { display: none !important; }
#LeftPanel .link { display: none !important; }
#LeftPanel .v4acpcont {  }
table.v4acp tr.v4acp_head td.v4title{background: #e6e6e6;}
.v4title h2 {
    font-size: small;
    margin: 0;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 10px 0px;
    text-transform: uppercase;
}
table.v4acp tr.v4acp_head td.v4accent {
    width: 8px;
    background: #e6e6e6;
    border: 0px;
}

.lcat .lev1 li{padding: 0;transition: 0.45s;margin: 0px; list-style: none;}
.lcat .lev1 li a{color: #000;transition: 0.45s; padding: 10px 0 10px 25px; display: block; position: relative;}
div.lcat{width: 100%;}
table.v4midBox{ border: none !important; }
table.v4midBox tr.v4acp_mid td.v4mid{padding: 0; background-color: #f9f9f9;}

table.v4acp tr.v4acp_head td.v4hspacer{width: 0px;}

.lcat .lev1 li:hover{}
.lcat .lev1 li:hover a{ color: #fff; background-color: #092162; }
.lcat .lev1 li a:before {
    content: "\f101";
    font-family: fontawesome;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
}
.lcat .lev2{ padding: 0; }
.lcat .lev2 ul li{ padding: 0;}
.lcat .lev2 li a{color: #000;transition: 0.45s; padding: 10px 0 10px 25px; display: block;}
div.lcat{width: 100%;}
.lcat .lev2 li:hover a{ color: #fff; background-color: #092162; }
.lcat .lev2 li a:before{ display: none; }

.v4title{font-size: 18px;}

table.v4acp tr.v4acp_head td.v4title {
    padding: 5px 5px 5px 5px;
    color: #fff;
    font-weight: bold;
}




.v4nl{padding: 10px 10px;}




table.v4acp td.v4baccent {
    height: 0px;
}

























#estore-cathead {
	width: 282px;
	height: 41px;
	background-image: url(images/store_cat.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	padding: 0px;
	margin: 0px;
}
#estore-catbot {
	width: 282px;
	height: 4px;
	background-image: url(images/cat_bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

#estore-categories {
	    width: 99.5%; margin:0px; padding:0px; float:left;}
#estore-categories ul.lev1 {
    padding: 0px 0px 0px 0px;
    list-style: none;
    background: #ffffff;
    width: 101%;
    /* margin: 0 6px; */
    /* box-shadow: 0px 8px 10px #e0e0e0; */
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    border: 1px solid #e3e3e3;
}
#estore-categories ul.lev1 li {
	margin: 0;
    padding:0px;
    list-style: none;
    background: url(../images/leftmanu-bg.jpg) repeat-x center top;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #000;
}
#estore-categories ul.lev1 li:last-child {
    border-bottom: none;
}
#estore-categories ul.lev1 li.estore-lastitem { margin: 0px; }

#estore-categories ul.lev1 li a {
    text-decoration: none;
    display: block;
     background: url(../images/left_arrow.png) no-repeat left 10px center;
    padding: 10px 0px 10px 25px;
    color: #000000 !important;
    font-size: 15px;
    font-family:  "Open Sans", sans-serif;border-bottom: 1px solid #e4e4e4;
    transition: all 0.6s ease-in-out;
}
#estore-categories ul.lev1 li span {
    color: #ffffff;
    text-decoration: none;
    display: block;
    height: 42px;
    line-height: 42px;
    margin-left: 0px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background: #3595d1;
    /* margin: 0 12px; */
    padding: 0 0 0 25px;
}
#estore-categories ul.lev1 li a:hover {
	    color: #fff !important;
    background: #fa5555;
	
}
#estore-categories ul.lev2 {
	list-style-type: none;
	width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background:#d6d6d6;
}
#estore-categories ul.lev2 li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#estore-categories ul.lev2 li a {
	color: #000 !important; 
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    /*background: url(../images/arrow.png) no-repeat left 25px center;*/
}
#estore-categories ul.lev2 li a:hover {
	  color: #ffffff !important;
    background: #be393f;
	    padding-left: 10px;
}
#estore-categories ul.lev2 li span {
	color: #000;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 35px;
	/*background-image: url(images/lev2.png)*/;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 35px;
	padding-left: 30px;
	margin-left: 0px;
	margin:0;
}

#estore-categories ul.lev3 {
	list-style-type: none;
	width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background:#000;
}
#estore-categories ul.lev3 li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#estore-categories ul.lev3 li a {
    color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    display: block;
    line-height: 25px;
    /*background-image: url(images/left_arrow.jpg)*/;
    background-repeat: no-repeat;
    background-position: 20px center;
     padding-left: 20px;
}
#estore-categories ul.lev3 li a:hover {
	/*background:url(images/left_arrow.jpg) no-repeat 20px center;*/  text-decoration:underline;
}
#estore-categories ul.lev3 li span {
	color: #fb24a9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height:25px;
	/*background-image: url(images/left_arrow.jpg);*/
	background-repeat: no-repeat;
	background-position: 20px center;
	line-height: 25px;
	padding-left: 35px;
	margin-left: 0px;
}	

/*---Left Column---<<END*/


/*---Right Column->START*/

td#CentralArea div.fpcc {
    padding: 0 15px !important;
    display: block;
    height: 65px;
    line-height: 35px;
    background: #e6e6e6;
    border: none;
    margin-top: 0px;
}
td#CentralArea {background: url(images/bg.png) repeat-y center top; float: left; padding:0px 0px 10px 0; width: 100%; 
margin:0px 0 0 0;}
td#CentralArea div.v4stabl{ width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; border:0; font-size:11px; color:#fff; text-align:right; display:none;}
td#CentralArea div.v4stabl a{ color:#f3f3f3 ;}

td#CentralArea table.r3{ width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; border:0; height:26px; }
td#CentralArea td.r3_c{ margin:0; padding:0; border:0; }
td#CentralArea td.r3_t, .r3_t b, .r3_t i, .r3_bl b, .r3_bl i{ margin:0; padding:0; border:0; background:none;}
td#CentralArea div.r3_cm, .bp, .tp{ margin:0; padding:0; border:0;}
td#CentralArea div.rs_box .cmpBr{ margin:0; padding:0; border:0; background:url(images/grid_bg.jpg) repeat-x center top; color:#323333; display:none;}
td#CentralArea .ctrlbr span.pdmt .cur {color:#000 !important; font-size:12px; }
span.pdmt .label {font:12px Arial; color:#000 !important;}
td#CentralArea .ctrlbr{ margin:-30px 0 0 0; padding:6px 0px 0 6px; border:0; border-top:1px solid #fff;}
td#CentralArea div.fpcc .countClass{ color:#000; }
td#CentralArea div.rs_box{ border:0px solid #606060;}

.r3>thead { display:none;}
div.ttl a:link,div.ttl a:active,div.ttl a:visited{ color:#959595; font-weight: bold;}  
td#CentralArea div.fpcc span.keywordClass{ background-color:transparent; color:#000; }
td#CentralArea div.fpcc .matchClass, .countClass{ color:#000; }
td#CentralArea span.pdmt {
    display: block;
    float: left;
    padding-right: 13px;
    padding-left: 16px;
}

td#CentralArea .ctrlbr span.pdmt:first-child .cur {background-position:0 0;width:134px; color:#000;}
td#CentralArea .ctrlbr span.pdmt .cur  img {display:none; color:#fff;}


td#CentralArea div.rs_box span.pdmt .label{ color:#000; font-size:11px; font-weight:bold;}
td#CentralArea div.rs_box span.pdmt .cur{ color:#000; font-size:11px; font-weight:lighter;}


td#CentralArea div.rs_box .cmpBr a{ color:#000; display:none;}

td#CentralArea td.r3_bl{ margin:0; padding:0; border:0; background:url(images/r3_bottom.png) left bottom no-repeat; height:12px;}

td#CentralArea div.itemseparator{ margin:0; padding:0px 0; border:0;}

td#CentralArea .grid td.left{ margin:0; padding:0; border:0;}

td#CentralArea div.rs-pview{ margin:0; padding:20px 0 0 5px; border:0;}

td#CentralArea div.dynpg{ margin:0; padding:0px 0 0 0; border:1px solid #e5e5e5;}
td#CentralArea div.dynpg table.pgbc{color:#000; font-weight:normal; font-size:11px; margin:0px; padding:0; background-color:#fff;}
table.gallery div.ttl{    width: 100%;
    background: url(../images/aff.png) bottom left no-repeat;
    padding: 0 0 45px 0;
    margin-bottom: 10px;
    display: block;}

table.fixed{margin:5px 0px 0px 0px !important; width:100%;}
table.fixed > tbody >tr:nth-child(1) >td:nth-child(1){
	background: url(../images/buyit.png) no-repeat left center;
	}
table.fixed > tbody >tr:nth-child(1) >td:nth-child(1) img{ margin-top:3px; opacity:0; }
table.fixed > tbody >tr:nth-child(1) >td:nth-child(2) {     text-align: right;
    /* color: red; */
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000 !important;}
table.fixed > tbody >tr:nth-child(1) >td {width:50%; display:inline-block; color:red;}
table.gallery table.fixed span.disct, table.gallery table.prices span.disct { margin-right:10px;}
div.mi{margin:8px 0px 8px 15px !important; padding-top:0 !important; width:150px; float:left;}
td#CentralArea div.dynpg table.pgbc a{ color:#000 !important;}
td#CentralArea div.dynpg span.pipe{ color:#000 !important; }
table.gallery td.picture div.image {
    margin: 0 auto 6px auto;
    overflow: hidden;
    width: 200px !important;
	/* border: 1px solid #e6e6e6;*/
    padding: 15px 0px;

}
table.gallery img{ margin:0; padding:0; border:0;   width: 170px !important;}
td#CentralArea table.gallery td.picture div.image img{ margin:0; padding:0px 0 0 0; border:0; /*height:150px;*/}
td#CentralArea .grid{ margin:10px 0 0 0; padding:0; border:0;}

table.gallery div.subtitle { color:#000; display:none;}
#CentralArea td.r3_c a {    color: #000!important;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;}

/* TopPromoArea */
table#TopPromoArea{ margin:0px 0px 0px 0px; padding:0px 0 0 0px; border:0; width:100%; display:none !important;}

table#TopPromoArea td.v4topleft{ margin:0; padding:0; border:0; float:left;}
table#TopPromoArea td.v4topright{ margin:0; padding:0; border:0; float:right;}

table#TopPromoArea table.v4acpcont{ margin:0px 0px 10px 0px; padding:0; border:0; width:952px; background:#fff;}
table#TopPromoArea td.v4topright table.v4acpcont{ margin-left:0px;}
table#TopPromoArea table.v4acpcont table.v4acp{ margin:0; padding: 0px; border:0; width:952px; height:31px; line-height:31px;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4title{ margin:0; padding:0 10px; border:0; background:url(images/newarrival.jpg) no-repeat center top;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4title font, #LeftPanel table.v4acp tr.v4acp_head td.v4title font{ font-family:Arial; font-size:13px; font-weight:bold; color:#000;}
table#TopPromoArea table.v4acpcont table.v4acp td.v4vspacer, table#TopPromoArea table.v4acpcont table.v4acp td.v4baccent{ margin:0; padding:0; border:0; background:url(images/promo_mid_bg.gif) left top repeat-y; height:1px; }

table#TopPromoArea td.v4topleft .v4nfc, table#TopPromoArea td.v4topright .v4nfc{ margin:0; padding:0; border:0; height:auto; background:url(images/promo_mid_bg.png) left top repeat-y;}
table#TopPromoArea table.v4acpcont td.v4mid{ margin:0px 0px 0px 0px; padding:10px 0px; border:0; background:url(images/promo_head_bg_bottom.png) left bottom no-repeat; height:10px;}
table#TopPromoArea table.v4acpcont td.v4mid div.fs2-fs, table#TopPromoArea table.v4acpcont td.v4mid table.fs2-fs{ margin:0 5px; padding:0; border:0;}
table#TopPromoArea table.v4acpcont td.v4mid td.fs2-db{ border-left:1px solid #bcbcbc;}

table#TopPromoArea div.fs2-prel, div.fs2-cntr{ /*width:274px!important;*/}

table#TopPromoArea table.v4midBox{ border:0; background:url(images/promo_mid_bg.gif) left top repeat-y;}

/* TopPromoArea */

/*---Footer->START*/
.Navigation1{margin:177px 0px 0px 243px; position:absolute; width:952px}
.Navigation2{margin:177px 0px 0px 243px; position:absolute; width:952px}
.Navigation3{margin:177px 0px 0px 372px; position:absolute; width:952px}
.Navigation4{margin:177px 0px 0px 415px; position:absolute; width:952px}
.Navigation1600{margin:177px 0px 0px 532px; position:absolute; width:952px;}

#v4-20{color:#FFFFFF;}
#v4-20 a{color:#FFFFFF;}
#v4-20 a:hover{color:#FFFFFF;}

.stBadge { display: inline-block !important; width: 100% !important; float:left; min-width: 100% !important;}
.stBadge img {max-width:100% !important;}



/*new style*/
.grid td.gallery { text-align:center;}
#CentralArea td.gallery table.gallery {
    text-align: left;
    /* background: url(images/prod_box.jpg) no-repeat right top; */
    color: #000;
    /* height: 400px; */
    margin-left: 0px !important;
    display: inline-block;
    max-width: 260px !important;
    width: 100% !important;
    margin-bottom: 18px;
    /* border: 1px solid #7a7a7a; */
    background: #fff;
    box-shadow: 0px 0px 10px #c1c1c1;
	
}
#CentralArea td.gallery table.gallery tbody { display:block !important; width:100% !important;}
#CentralArea td.gallery table.gallery tbody tr{ display:block; width:100% !important;}
#CentralArea td.gallery table.gallery tbody tr td.picture {margin:0; padding:0px 0px 0px 0px !important; border:0; display:block !important; width:100% !important;height: 200px;text-align:center; overflow: hidden; }
#CentralArea td.gallery table.gallery tbody tr td.picture img { transition:0.3s all ease;}
#CentralArea td.gallery table.gallery tbody tr td.picture:hover img { opacity:0.7;}
td.details {
    margin: 0px 0px 0px 0px!important;
    padding: 12px 14px;
    float: left;
    width: 100% !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
	height:150px;
}
.basics { margin-top: 10px; display: block;}
.basics .label{ font-size:12px !important; margin-right:2px; padding:0 !important; color:#000 !important; font-weight:normal !important;}
table.gallery table.fixed div.time2 {padding-top:2px !important;}
.time2 .label{ font-size:12px !important; margin-right:2px; padding:0 !important; color:#000 !important; font-weight:normal !important;}
.r form.form input[type="submit"]{ color:#000;}
#gh-la img { max-width:none;}



@media screen and (max-width:1200px){
.estore-content {
	max-width: 970px;
}
#rightarea {
    margin-right: 3px;
}


#CentralArea td.gallery table.gallery {
    max-width: 228px !important;
}
#estore-categories ul.lev1 {
    width: 100.1% !important;
}
#CentralArea td.gallery table.gallery tbody tr td.picture {
    height: 175px;
}
#estore-categories {
    width: 100%;
    margin: 0px 0 0 0px;
}
}
@media screen and (max-width:991px){
	.navigation h1::after {
    content: "\f0c9";
    font-family: "fontawesome";
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
}
.special h1::after {
    content: "\f00d";
    font-family: "fontawesome";
    color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
}
.navigation h1{
	cursor:pointer;
	position:relative;
	}
#LeftPanel { width:95% !important; margin:0 2.5%; display:block; /*text-align: center;*/ padding-left: 0;}
#rightarea {
    width: 100% !important;
    padding: 0;
}
.stBadge-midContent { padding:10px !important;}
.stBadge img { display:none !important;}
.stBadge .stBadge-accent { display:none !important;}
.stBadge-midContent > div > table > tbody>tr>td{ display:block !important; padding:6px 0 0 0 !important; width:100% !important; text-align: left !important;}
#storercp { margin-bottom:10px !important;}
#categories{
	display:none;
	}
	.leftcatcont{
		
		display:block !important;
		}
	.cate{
	cursor:pointer;
		}
.estore-content {
    display: table;
}
td#CentralArea div.fpcc {
   margin:0;
}
.estore-content {
	max-width: 750px;
}
#estore-categories ul.lev1 li span {
   margin:0 !important;
}
#estore-categories ul.lev1 li a{
	margin:0 !important;
	}	
}
@media screen and (max-width:700px){
.grid td.gallery { display:block !important; width:100% !important;}
#LeftPanel { float:left !important;}

}


@media screen and (max-width:767px){
.estore-content {
    margin: 0 auto;
}
#rightarea {
    margin: 0;
}
td#CentralArea {
    padding: 0px;
}

}



@media screen and (max-width: 500px){
.dynpg td { display:inline; width:100%; text-align:center;}
.dynpg .l { display:none !important;}
.dynpg .r { text-align:center;}
.pager {
    margin: 0px auto !important;
    margin-top: 15px !important;
}
}


@media screen and (max-width: 400px){
td#CentralArea span.pdmt {
    padding-right: 5px;
    padding-left: 5px;
}
}


@media screen and (max-width: 350px){
	td#CentralArea div.fpcc {
    min-height: 70px;
}
td#CentralArea .ctrlbr {
    margin: -35px 0 0 0;
    padding: 1px 0px 0 6px;
}
}
.fixed>tbody tr{
	display:none !important;
	}
.fixed>tbody tr:first-child{
	display:block !important;
	}	