/****************************************/
/**********Default Property*************/
*{ padding:0; margin:0;}
li{ list-style:none;}
a{ color:inherite; text-decoration:none;}
img{ max-width:100%;}
body{}

#header{ float:left; width:100%;}

/****************************************/
.mt-1 { margin-top: 1px; }

.mt-2 { margin-top: 2px; }

.mt-3 { margin-top: 3px; }

.mt-4 { margin-top: 4px; }

.mt-5 { margin-top: 5px; }

.mt-6 { margin-top: 6px; }

.mt-7 { margin-top: 7px; }

.mt-8 { margin-top: 8px; }

.mt-9 { margin-top: 9px; }

.mt-10 { margin-top: 10px; }

.mt-11 { margin-top: 11px; }

.mt-12 { margin-top: 12px; }

.mt-13 { margin-top: 13px; }

.mt-14 { margin-top: 14px; }

.mt-15 { margin-top: 15px; }

.mt-16 { margin-top: 16px; }

.mt-17 { margin-top: 17px; }

.mt-18 { margin-top: 18px; }

.mt-19 { margin-top: 19px; }

.mt-20 { margin-top: 20px; }

.mt-21 { margin-top: 21px; }

.mt-22 { margin-top: 22px; }

.mt-23 { margin-top: 23px; }

.mt-24 { margin-top: 24px; }

.mt-25 { margin-top: 25px; }

.mt-26 { margin-top: 26px; }

.mt-27 { margin-top: 27px; }

.mt-28 { margin-top: 28px; }

.mt-29 { margin-top: 29px; }

.mt-30 { margin-top: 30px; }

.mt-31 { margin-top: 31px; }

.mt-32 { margin-top: 32px; }

.mt-33 { margin-top: 33px; }

.mt-34 { margin-top: 34px; }

.mt-35 { margin-top: 35px; }

.mt-36 { margin-top: 36px; }

.mt-37 { margin-top: 37px; }

.mt-38 { margin-top: 38px; }

.mt-39 { margin-top: 39px; }

.mt-40 { margin-top: 40px; }

.mt-41 { margin-top: 41px; }

.mt-42 { margin-top: 42px; }

.mt-43 { margin-top: 43px; }

.mt-44 { margin-top: 44px; }

.mt-45 { margin-top: 45px; }

.mt-46 { margin-top: 46px; }

.mt-47 { margin-top: 47px; }

.mt-48 { margin-top: 48px; }

.mt-49 { margin-top: 49px; }

.mt-50 { margin-top: 50px; }

.mt-51 { margin-top: 51px; }

.mt-52 { margin-top: 52px; }

.mt-53 { margin-top: 53px; }

.mt-54 { margin-top: 54px; }

.mt-55 { margin-top: 55px; }

.mt-56 { margin-top: 56px; }

.mt-57 { margin-top: 57px; }

.mt-58 { margin-top: 58px; }

.mt-59 { margin-top: 59px; }

.mt-60 { margin-top: 60px; }

.mt-61 { margin-top: 61px; }

.mt-62 { margin-top: 62px; }

.mt-63 { margin-top: 63px; }

.mt-64 { margin-top: 64px; }

.mt-65 { margin-top: 65px; }

.mt-66 { margin-top: 66px; }

.mt-67 { margin-top: 67px; }

.mt-68 { margin-top: 68px; }

.mt-69 { margin-top: 69px; }

.mt-70 { margin-top: 70px; }

.mt-71 { margin-top: 71px; }

.mt-72 { margin-top: 72px; }

.mt-73 { margin-top: 73px; }

.mt-74 { margin-top: 74px; }

.mt-75 { margin-top: 75px; }

.mt-76 { margin-top: 76px; }

.mt-77 { margin-top: 77px; }

.mt-78 { margin-top: 78px; }

.mt-79 { margin-top: 79px; }

.mt-80 { margin-top: 80px; }

.mt-81 { margin-top: 81px; }

.mt-82 { margin-top: 82px; }

.mt-83 { margin-top: 83px; }

.mt-84 { margin-top: 84px; }

.mt-85 { margin-top: 85px; }

.mt-86 { margin-top: 86px; }

.mt-87 { margin-top: 87px; }

.mt-88 { margin-top: 88px; }

.mt-89 { margin-top: 89px; }

.mt-90 { margin-top: 90px; }

.mt-91 { margin-top: 91px; }

.mt-92 { margin-top: 92px; }

.mt-93 { margin-top: 93px; }

.mt-94 { margin-top: 94px; }

.mt-95 { margin-top: 95px; }

.mt-96 { margin-top: 96px; }

.mt-97 { margin-top: 97px; }

.mt-98 { margin-top: 98px; }

.mt-99 { margin-top: 99px; }

.mt-100 { margin-top: 100px; }

.mb-1 { margin-bottom: 1px; }

.mb-2 { margin-bottom: 2px; }

.mb-3 { margin-bottom: 3px; }

.mb-4 { margin-bottom: 4px; }

.mb-5 { margin-bottom: 5px; }

.mb-6 { margin-bottom: 6px; }

.mb-7 { margin-bottom: 7px; }

.mb-8 { margin-bottom: 8px; }

.mb-9 { margin-bottom: 9px; }

.mb-10 { margin-bottom: 10px; }

.mb-11 { margin-bottom: 11px; }

.mb-12 { margin-bottom: 12px; }

.mb-13 { margin-bottom: 13px; }

.mb-14 { margin-bottom: 14px; }

.mb-15 { margin-bottom: 15px; }

.mb-16 { margin-bottom: 16px; }

.mb-17 { margin-bottom: 17px; }

.mb-18 { margin-bottom: 18px; }

.mb-19 { margin-bottom: 19px; }

.mb-20 { margin-bottom: 20px; }

.mb-21 { margin-bottom: 21px; }

.mb-22 { margin-bottom: 22px; }

.mb-23 { margin-bottom: 23px; }

.mb-24 { margin-bottom: 24px; }

.mb-25 { margin-bottom: 25px; }

.mb-26 { margin-bottom: 26px; }

.mb-27 { margin-bottom: 27px; }

.mb-28 { margin-bottom: 28px; }

.mb-29 { margin-bottom: 29px; }

.mb-30 { margin-bottom: 30px; }

.mb-31 { margin-bottom: 31px; }

.mb-32 { margin-bottom: 32px; }

.mb-33 { margin-bottom: 33px; }

.mb-34 { margin-bottom: 34px; }

.mb-35 { margin-bottom: 35px; }

.mb-36 { margin-bottom: 36px; }

.mb-37 { margin-bottom: 37px; }

.mb-38 { margin-bottom: 38px; }

.mb-39 { margin-bottom: 39px; }

.mb-40 { margin-bottom: 40px; }

.mb-41 { margin-bottom: 41px; }

.mb-42 { margin-bottom: 42px; }

.mb-43 { margin-bottom: 43px; }

.mb-44 { margin-bottom: 44px; }

.mb-45 { margin-bottom: 45px; }

.mb-46 { margin-bottom: 46px; }

.mb-47 { margin-bottom: 47px; }

.mb-48 { margin-bottom: 48px; }

.mb-49 { margin-bottom: 49px; }

.mb-50 { margin-bottom: 50px; }

.mb-51 { margin-bottom: 51px; }

.mb-52 { margin-bottom: 52px; }

.mb-53 { margin-bottom: 53px; }

.mb-54 { margin-bottom: 54px; }

.mb-55 { margin-bottom: 55px; }

.mb-56 { margin-bottom: 56px; }

.mb-57 { margin-bottom: 57px; }

.mb-58 { margin-bottom: 58px; }

.mb-59 { margin-bottom: 59px; }

.mb-60 { margin-bottom: 60px; }

.mb-61 { margin-bottom: 61px; }

.mb-62 { margin-bottom: 62px; }

.mb-63 { margin-bottom: 63px; }

.mb-64 { margin-bottom: 64px; }

.mb-65 { margin-bottom: 65px; }

.mb-66 { margin-bottom: 66px; }

.mb-67 { margin-bottom: 67px; }

.mb-68 { margin-bottom: 68px; }

.mb-69 { margin-bottom: 69px; }

.mb-70 { margin-bottom: 70px; }

.mb-71 { margin-bottom: 71px; }

.mb-72 { margin-bottom: 72px; }

.mb-73 { margin-bottom: 73px; }

.mb-74 { margin-bottom: 74px; }

.mb-75 { margin-bottom: 75px; }

.mb-76 { margin-bottom: 76px; }

.mb-77 { margin-bottom: 77px; }

.mb-78 { margin-bottom: 78px; }

.mb-79 { margin-bottom: 79px; }

.mb-80 { margin-bottom: 80px; }

.mb-81 { margin-bottom: 81px; }

.mb-82 { margin-bottom: 82px; }

.mb-83 { margin-bottom: 83px; }

.mb-84 { margin-bottom: 84px; }

.mb-85 { margin-bottom: 85px; }

.mb-86 { margin-bottom: 86px; }

.mb-87 { margin-bottom: 87px; }

.mb-88 { margin-bottom: 88px; }

.mb-89 { margin-bottom: 89px; }

.mb-90 { margin-bottom: 90px; }

.mb-91 { margin-bottom: 91px; }

.mb-92 { margin-bottom: 92px; }

.mb-93 { margin-bottom: 93px; }

.mb-94 { margin-bottom: 94px; }

.mb-95 { margin-bottom: 95px; }

.mb-96 { margin-bottom: 96px; }

.mb-97 { margin-bottom: 97px; }

.mb-98 { margin-bottom: 98px; }

.mb-99 { margin-bottom: 99px; }

.mb-100 { margin-bottom: 100px; }

.mtb-1 { margin-top: 1px; margin-bottom: 1px; }

.mtb-2 { margin-top: 2px; margin-bottom: 2px; }

.mtb-3 { margin-top: 3px; margin-bottom: 3px; }

.mtb-4 { margin-top: 4px; margin-bottom: 4px; }

.mtb-5 { margin-top: 5px; margin-bottom: 5px; }

.mtb-6 { margin-top: 6px; margin-bottom: 6px; }

.mtb-7 { margin-top: 7px; margin-bottom: 7px; }

.mtb-8 { margin-top: 8px; margin-bottom: 8px; }

.mtb-9 { margin-top: 9px; margin-bottom: 9px; }

.mtb-10 { margin-top: 10px; margin-bottom: 10px; }

.mtb-11 { margin-top: 11px; margin-bottom: 11px; }

.mtb-12 { margin-top: 12px; margin-bottom: 12px; }

.mtb-13 { margin-top: 13px; margin-bottom: 13px; }

.mtb-14 { margin-top: 14px; margin-bottom: 14px; }

.mtb-15 { margin-top: 15px; margin-bottom: 15px; }

.mtb-16 { margin-top: 16px; margin-bottom: 16px; }

.mtb-17 { margin-top: 17px; margin-bottom: 17px; }

.mtb-18 { margin-top: 18px; margin-bottom: 18px; }

.mtb-19 { margin-top: 19px; margin-bottom: 19px; }

.mtb-20 { margin-top: 20px; margin-bottom: 20px; }

.mtb-21 { margin-top: 21px; margin-bottom: 21px; }

.mtb-22 { margin-top: 22px; margin-bottom: 22px; }

.mtb-23 { margin-top: 23px; margin-bottom: 23px; }

.mtb-24 { margin-top: 24px; margin-bottom: 24px; }

.mtb-25 { margin-top: 25px; margin-bottom: 25px; }

.mtb-26 { margin-top: 26px; margin-bottom: 26px; }

.mtb-27 { margin-top: 27px; margin-bottom: 27px; }

.mtb-28 { margin-top: 28px; margin-bottom: 28px; }

.mtb-29 { margin-top: 29px; margin-bottom: 29px; }

.mtb-30 { margin-top: 30px; margin-bottom: 30px; }

.mtb-31 { margin-top: 31px; margin-bottom: 31px; }

.mtb-32 { margin-top: 32px; margin-bottom: 32px; }

.mtb-33 { margin-top: 33px; margin-bottom: 33px; }

.mtb-34 { margin-top: 34px; margin-bottom: 34px; }

.mtb-35 { margin-top: 35px; margin-bottom: 35px; }

.mtb-36 { margin-top: 36px; margin-bottom: 36px; }

.mtb-37 { margin-top: 37px; margin-bottom: 37px; }

.mtb-38 { margin-top: 38px; margin-bottom: 38px; }

.mtb-39 { margin-top: 39px; margin-bottom: 39px; }

.mtb-40 { margin-top: 40px; margin-bottom: 40px; }

.mtb-41 { margin-top: 41px; margin-bottom: 41px; }

.mtb-42 { margin-top: 42px; margin-bottom: 42px; }

.mtb-43 { margin-top: 43px; margin-bottom: 43px; }

.mtb-44 { margin-top: 44px; margin-bottom: 44px; }

.mtb-45 { margin-top: 45px; margin-bottom: 45px; }

.mtb-46 { margin-top: 46px; margin-bottom: 46px; }

.mtb-47 { margin-top: 47px; margin-bottom: 47px; }

.mtb-48 { margin-top: 48px; margin-bottom: 48px; }

.mtb-49 { margin-top: 49px; margin-bottom: 49px; }

.mtb-50 { margin-top: 50px; margin-bottom: 50px; }

.mtb-51 { margin-top: 51px; margin-bottom: 51px; }

.mtb-52 { margin-top: 52px; margin-bottom: 52px; }

.mtb-53 { margin-top: 53px; margin-bottom: 53px; }

.mtb-54 { margin-top: 54px; margin-bottom: 54px; }

.mtb-55 { margin-top: 55px; margin-bottom: 55px; }

.mtb-56 { margin-top: 56px; margin-bottom: 56px; }

.mtb-57 { margin-top: 57px; margin-bottom: 57px; }

.mtb-58 { margin-top: 58px; margin-bottom: 58px; }

.mtb-59 { margin-top: 59px; margin-bottom: 59px; }

.mtb-60 { margin-top: 60px; margin-bottom: 60px; }

.mtb-61 { margin-top: 61px; margin-bottom: 61px; }

.mtb-62 { margin-top: 62px; margin-bottom: 62px; }

.mtb-63 { margin-top: 63px; margin-bottom: 63px; }

.mtb-64 { margin-top: 64px; margin-bottom: 64px; }

.mtb-65 { margin-top: 65px; margin-bottom: 65px; }

.mtb-66 { margin-top: 66px; margin-bottom: 66px; }

.mtb-67 { margin-top: 67px; margin-bottom: 67px; }

.mtb-68 { margin-top: 68px; margin-bottom: 68px; }

.mtb-69 { margin-top: 69px; margin-bottom: 69px; }

.mtb-70 { margin-top: 70px; margin-bottom: 70px; }

.mtb-71 { margin-top: 71px; margin-bottom: 71px; }

.mtb-72 { margin-top: 72px; margin-bottom: 72px; }

.mtb-73 { margin-top: 73px; margin-bottom: 73px; }

.mtb-74 { margin-top: 74px; margin-bottom: 74px; }

.mtb-75 { margin-top: 75px; margin-bottom: 75px; }

.mtb-76 { margin-top: 76px; margin-bottom: 76px; }

.mtb-77 { margin-top: 77px; margin-bottom: 77px; }

.mtb-78 { margin-top: 78px; margin-bottom: 78px; }

.mtb-79 { margin-top: 79px; margin-bottom: 79px; }

.mtb-80 { margin-top: 80px; margin-bottom: 80px; }

.mtb-81 { margin-top: 81px; margin-bottom: 81px; }

.mtb-82 { margin-top: 82px; margin-bottom: 82px; }

.mtb-83 { margin-top: 83px; margin-bottom: 83px; }

.mtb-84 { margin-top: 84px; margin-bottom: 84px; }

.mtb-85 { margin-top: 85px; margin-bottom: 85px; }

.mtb-86 { margin-top: 86px; margin-bottom: 86px; }

.mtb-87 { margin-top: 87px; margin-bottom: 87px; }

.mtb-88 { margin-top: 88px; margin-bottom: 88px; }

.mtb-89 { margin-top: 89px; margin-bottom: 89px; }

.mtb-90 { margin-top: 90px; margin-bottom: 90px; }

.mtb-91 { margin-top: 91px; margin-bottom: 91px; }

.mtb-92 { margin-top: 92px; margin-bottom: 92px; }

.mtb-93 { margin-top: 93px; margin-bottom: 93px; }

.mtb-94 { margin-top: 94px; margin-bottom: 94px; }

.mtb-95 { margin-top: 95px; margin-bottom: 95px; }

.mtb-96 { margin-top: 96px; margin-bottom: 96px; }

.mtb-97 { margin-top: 97px; margin-bottom: 97px; }

.mtb-98 { margin-top: 98px; margin-bottom: 98px; }

.mtb-99 { margin-top: 99px; margin-bottom: 99px; }

.mtb-100 { margin-top: 100px; margin-bottom: 100px; }

@media screen and (max-width: 768px) { .mt-1 { margin-top: 1px; } }
@media screen and (max-width: 768px) { .mt-2 { margin-top: 2px; } }
@media screen and (max-width: 768px) { .mt-3 { margin-top: 3px; } }
@media screen and (max-width: 768px) { .mt-4 { margin-top: 4px; } }
@media screen and (max-width: 768px) { .mt-5 { margin-top: 5px; } }
@media screen and (max-width: 768px) { .mt-6 { margin-top: 6px; } }
@media screen and (max-width: 768px) { .mt-7 { margin-top: 7px; } }
@media screen and (max-width: 768px) { .mt-8 { margin-top: 8px; } }
@media screen and (max-width: 768px) { .mt-9 { margin-top: 9px; } }
@media screen and (max-width: 768px) { .mb-1 { margin-bottom: 1px; } }
@media screen and (max-width: 768px) { .mb-2 { margin-bottom: 2px; } }
@media screen and (max-width: 768px) { .mb-3 { margin-bottom: 3px; } }
@media screen and (max-width: 768px) { .mb-4 { margin-bottom: 4px; } }
@media screen and (max-width: 768px) { .mb-5 { margin-bottom: 5px; } }
@media screen and (max-width: 768px) { .mb-6 { margin-bottom: 6px; } }
@media screen and (max-width: 768px) { .mb-7 { margin-bottom: 7px; } }
@media screen and (max-width: 768px) { .mb-8 { margin-bottom: 8px; } }
@media screen and (max-width: 768px) { .mb-9 { margin-bottom: 9px; } }
@media screen and (max-width: 768px) { .mtb-1 { margin-top: 1px; margin-bottom: 1px; } }
@media screen and (max-width: 768px) { .mtb-2 { margin-top: 2px; margin-bottom: 2px; } }
@media screen and (max-width: 768px) { .mtb-3 { margin-top: 3px; margin-bottom: 3px; } }
@media screen and (max-width: 768px) { .mtb-4 { margin-top: 4px; margin-bottom: 4px; } }
@media screen and (max-width: 768px) { .mtb-5 { margin-top: 5px; margin-bottom: 5px; } }
@media screen and (max-width: 768px) { .mtb-6 { margin-top: 6px; margin-bottom: 6px; } }
@media screen and (max-width: 768px) { .mtb-7 { margin-top: 7px; margin-bottom: 7px; } }
@media screen and (max-width: 768px) { .mtb-8 { margin-top: 8px; margin-bottom: 8px; } }
@media screen and (max-width: 768px) { .mtb-9 { margin-top: 9px; margin-bottom: 9px; } }
@media screen and (max-width: 768px) { .mt-10 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-11 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-12 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-13 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-14 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-15 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-16 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-17 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-18 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-19 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-20 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-21 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-22 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-23 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-24 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-25 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-26 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-27 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-28 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-29 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-30 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-31 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-32 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-33 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-34 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-35 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-36 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-37 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-38 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-39 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-40 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-41 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-42 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-43 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-44 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-45 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-46 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-47 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-48 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-49 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-50 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-51 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-52 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-53 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-54 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-55 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-56 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-57 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-58 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-59 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-60 {
    margin-top: 80px;
} }
@media screen and (max-width: 768px) { .mt-61 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-62 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-63 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-64 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-65 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-66 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-67 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-68 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-69 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-70 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-71 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-72 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-73 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-74 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-75 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-76 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-77 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-78 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-79 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-80 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-81 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-82 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-83 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-84 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-85 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-86 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-87 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-88 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-89 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-90 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-91 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-92 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-93 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-94 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-95 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-96 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-97 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-98 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-99 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mt-100 { margin-top: 10px; } }
@media screen and (max-width: 768px) { .mb-10 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-11 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-12 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-13 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-14 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-15 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-16 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-17 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-18 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-19 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-20 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-21 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-22 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-23 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-24 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-25 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-26 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-27 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-28 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-29 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-30 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-31 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-32 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-33 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-34 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-35 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-36 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-37 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-38 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-39 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-40 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-41 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-42 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-43 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-44 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-45 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-46 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-47 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-48 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-49 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-50 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-51 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-52 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-53 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-54 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-55 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-56 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-57 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-58 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-59 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-60 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-61 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-62 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-63 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-64 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-65 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-66 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-67 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-68 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-69 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-70 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-71 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-72 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-73 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-74 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-75 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-76 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-77 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-78 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-79 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-80 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-81 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-82 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-83 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-84 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-85 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-86 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-87 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-88 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-89 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-90 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-91 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-92 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-93 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-94 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-95 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-96 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-97 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-98 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-99 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mb-100 { margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-10 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-11 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-12 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-13 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-14 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-15 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-16 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-17 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-18 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-19 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-20 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-21 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-22 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-23 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-24 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-25 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-26 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-27 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-28 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-29 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-30 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-31 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-32 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-33 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-34 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-35 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-36 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-37 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-38 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-39 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-40 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-41 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-42 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-43 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-44 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-45 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-46 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-47 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-48 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-49 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-50 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-51 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-52 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-53 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-54 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-55 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-56 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-57 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-58 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-59 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-60 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-61 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-62 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-63 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-64 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-65 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-66 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-67 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-68 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-69 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-70 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-71 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-72 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-73 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-74 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-75 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-76 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-77 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-78 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-79 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-80 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-81 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-82 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-83 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-84 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-85 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-86 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-87 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-88 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-89 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-90 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-91 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-92 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-93 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-94 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-95 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-96 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-97 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-98 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-99 { margin-top: 10px; margin-bottom: 10px; } }
@media screen and (max-width: 768px) { .mtb-100 { margin-top: 10px; margin-bottom: 10px; } }
a { text-decoration: none; }
a:hover { text-decoration: none; }

.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
@media screen and (max-width: 768px) { .row-eq-height { display: block; } }

.inflex { display: inline-flex; }
@media screen and (max-width: 768px) { .inflex { display: block; } }

.logo { margin-left: 0; }
@media screen and (max-width: 768px) { .logo { display: block; margin-left: auto; margin-right: auto; } }

.colpadrit { padding-right: 0 !important; }
@media screen and (max-width: 768px) { .clpadr { padding-right: 15px !important; } }

.colpadl { padding-left: 0 !important; }
@media screen and (max-width: 768px) { .clpadl { padding-left: 15px !important; } }

.colpad { padding-left: 0 !important; padding-right: 0 !important; }
@media screen and (max-width: 768px) { /*.clpad { padding-left: 15px !important; padding-right: 15px !important; } */}

.navbar-toggle { background-color: #6cbbbd  !important; border-radius: 0px; }

.navbar-default .navbar-toggle .icon-bar { background: #fff !important; }

.navbar-toggle .icon-bar { position: relative; transition: all 500ms ease-in-out; }

.navbar-toggle.active .type1 { top: 6px; transform: rotate(46deg); }

.navbar-toggle.active .type2 { background-color: transparent !important; }

.navbar-toggle.active .type3 { top: -6px; transform: rotate(-50deg); }

.txt-rit { text-align: right; }
@media screen and (max-width: 768px) { .txt-r { text-align: center; } }

.txt-l { text-align: left; }
@media screen and (max-width: 768px) { .txt-l { text-align: center; } }

.left_menu_main a { font: 600 14px "Raleway", sans-serif; color: white; text-decoration: none; display: block; padding: 10px 10px 10px 10px; transition: all 0.5s; }

.left_menu_main a:hover { color: #fff; background: #78c14c; padding: 10px 10px 10px 15px; }

.left_sub_menu a { font: 400 13px "Raleway", sans-serif; color: #cde0ff; text-decoration: none; display: block; padding: 5px 5px 5px 10px; transition: all 0.3s; }

.left_sub_menu a:hover { color: #78c14c; padding: 5px 5px 5px 15px; }

.paging { color: #fff; font-size: 15px; }
.paging:hover { color: #78c14c; }

.base { color: #78c14c; font-size: 15px; }
.carousel-inner>.item>img{
    display: block;
    max-width: 100%;
    height: auto;
	width:100%;
}

/****************************************/