@charset "utf-8";
body {
	background-color: #ffffff;
	width:100%;
	position:relative;
	margin:0;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.row{
	position:relative;
	margin:0;
}
.thumb-pad1 {
    margin: 0;
    list-style: none;
    overflow: hidden;
    margin-bottom: 37px;
}
.thumb-pad1 .thumbnail {
    position: relative;
    padding:0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #ffffff;
    text-align: center;
}
.thumb-pad1 .thumbnail{
	text-align: left;
}
.thumb-pad1 {
    margin: 0;
	padding-bottom:45px;
}
.thumb-pad1 img {
	float:left;
}
.thumb-pad1 .thumbnail .caption {
    padding: 0 45px;
    color: #9b9b9b;
}
.thumb-pad1 .thumbnail .caption>div {
}
.thumb-pad1 .thumbnail .caption {
    color: #9b9b9b;
}
.thumb-pad1 .thumbnail .caption>div>h2 {
	transition: all 0.35s ease;
}
h2 {
	color: #4a3611;
	font-weight:bold;
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	color:#303030;
}
p {
    margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
    font-style: normal;
	color:#919191;
	font-size:15px;
	line-height: 23px;
}

.main-header h3{
	margin-bottom: 25px;
	margin-top: 35px;
	font-size: 35px;
	line-height: 60px;
	font-weight: 600;
	text-align: center;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	position: relative;
}
hr {
    margin-top: 32px;
    margin-bottom: 32px;
    border: 0;
    border-top: 1px solid #86a942;
}
.thumb-pad1 figure img {
    width: 100%;
}
.sofa-categories {
    position: relative;
	background-color: #e0dfdf;
	padding-bottom:55px;
}
* {
    box-sizing: border-box;
}
.header {
    text-align: center;
    padding: 32px;
}
.category {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
padding: 0 29px;
}
.category-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    padding: 0 8px;
}

.category-column img {
    margin-top: 16px;
	width:340px !important;
    vertical-align: middle;
}
.span12 h1 {
    margin-bottom: 39px;
    font-size: 80px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: "Arno Pro";
    margin-top: 152px;
    position: relative;
}
.tfp-warehouse .span12 h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.8px;
    color: #ffffff;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 866px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.span12 h2{
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.8px;
    color: #000000;
    margin: 10px 0 20px 0;
	text-align:left;
	text-transform:uppercase;
	max-width:866px;
	line-height:24px;
	letter-spacing: 0.2px;
}
.tfp-warehouse .btn.btn-link {
	text-decoration:none;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 7px;
	font-size: 19px;
	font-weight: bold;
	line-height: 45px;
	padding: 0;
	text-transform: uppercase;
	padding-left: 15px;
    padding-right: 15px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/hours.jpg) center top no-repeat;
	background-repeat:repeat-x;
	transition:none;
}
.hours-link{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tfp-warehouse .btn{
	text-align:center;
}
.tfp-warehouse {
    position: relative;
	min-height:460px;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
	padding-bottom: 65px;
    background: url(../images/tfp-pic.jpg) center top no-repeat;
}
.tfp-headline{
	background: url(../images/tfp-headline.jpg) center top no-repeat;
	background-repeat:repeat-x;
}
.tfp-headline h1{
	padding-top: 20px;
    padding-bottom: 20px;
	margin:0;
	font-size: 50px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	position: relative;
}
.span12 {
    width: 1170px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
}
.span6{
	width:441px;
}
.container {
    padding: 0 20px;
}
.caption{
	float:left;
}
@media (min-width: 1200px){
/**************Start of Header Section**************/
.container {
    max-width: 1170px;
}
.span12 {
    width: 1170px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0;
}
[class*="span3"] {
    float: left;
    min-height: 1px;
    margin-left: 51px;
}
[class*="span4"] {
    float: left;
    min-height: 1px;
    margin-left: 31px;
}

article .bannerHolder{
	width:30%;
	margin:15.6px;
	float:left;
}
}
@media (max-width: 1199px) and (min-width: 992px){
	body {
	background-color: #ffffff;
	width:100%;
	position:relative;
	margin:0;
}
.container {
    width: 100%;
	padding-left:15px;
	padding-right:15px;
}
.bannerHolder{
	padding-right:0;
}
.category{
	padding:0;
}
.span12 {
    width: 1170px;
}
[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0;
}
[class*="span3"] {
    float: left;
    min-height: 1px;
    margin-left: 51px;
}
[class*="span4"] {
    float: left;
    min-height: 1px;
    margin-left: 31px;
}

article .bannerHolder{
	width:30%;
	margin:15.6px;
	float:left;
}
.thumb-pad1 h2 {
	color: #4a3611;
	font-weight:bold;
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	color:#303030;
}
}
@media (max-width: 991px) and (min-width: 840px){
body {
	background-color: #ffffff;
	width:100%;
	position:relative;
	margin:0;
}
.container {
    min-width: 1020px;
}
h2 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #303030;
}
margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #919191;
    font-size: 15px;
    line-height: 23px;
}
@media screen and (max-width: 839px){
header {
}
header>div {
    background: none;
    padding-top: 0;
}
.container {
    width: auto;
    padding: 0 20px;
}
.row, .thumbnails {
    margin-left: 0;
}
.span12, .row-fluid .span12 {
    width: 100%;
    box-sizing: border-box;
}
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;
    margin-left: 0;
}
h1.brand {
    text-align: center;
    width: 100%;
    float: none;
    margin: 30px 0 20px 0!important;
}
}