/*CHECKBOX CUSTOM*/
  label.checkbox_container{
    position: relative;
    float: left;
    width: 45px;
    margin-bottom: 0px;
  }
  label.checkbox_container:hover
  {
    cursor: pointer;
  }
  label.checkbox_container input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    left: -28px;
  }

  input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;  
    height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin-top: 8px;
  }

  input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #153964;
    border: 1px solid #154277;
    box-shadow: inset 0 0 0 10px #194e8d;
  }

  input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; 
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
  }

  input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
  }
/*END CHECKBOX CUSTOM*/

/*Ajax loading*/
    div.ajax_loading
    {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 99999999999999;
        background: rgba(0, 0, 0, 0.60);
    }

    div.ajax_loading i
    {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 80px;
        margin-left: -40px;
        margin-top: -40px;
        color: #fff;
    }
    button.btn.dropdown-toggle.btn-default
    {
      max-width: 600px !important;
    }
/*END Ajax loading*/

.box > .content
{
  overflow: visible;
}
tr.no_border > td
{
  border: none !important;
}

.fa
{
  margin-right: 11px;
}

.help
{
  font-size: 9px;
  margin-top: -2px;
}
div.form-group .help
{
  margin-top: -9px;
}

legend
{
  background-color: #101010;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 17px;
  font-style: normal;
  line-height: 45px;
  margin-bottom: 0;
  margin-top: 5px;
  position: relative;
  text-indent: 13px;
  text-shadow: 2px 2px 1px #000;
  width: 100%;
}

.list tfoot td
{
  padding: 0 5px;
}

/*Buttons*/
  div.content .button {
    background-color: #55acee;
    border-radius: 5px;
    box-shadow: 0 5px 0 0 #3c93d5;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 9px 19px;
    position: relative;
    text-decoration: none;
  }

  div.content .button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    background: #49a6ed;
  }
  div.content .button:hover
  {
    background: #49a6ed;
  }
/*END Buttons*/

textarea
{
  height: 200px;
  width: 100%;
}

table.multistore_table
{
  background: #eee;
  border-radius: 3px;
}

.gray
{
  background: #dddddd;
}

h4.gray
{
  padding: 5px;
  border-radius: 3px;
}

/*Bootstrap styles*/
  div.no_table div.form-group {
    margin-bottom: 15px;
    float: left;
    position: relative;
    width: 100%;
  }
  div.no_table > div.form-group {
    margin-bottom: 5px;
    border-bottom: 1px dotted #cccccc;
  }

  div.no_table h4
  {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 8.5px;
    font-size: 15px;
    background: none;
    margin-top: 0px;
    padding: 0px;
  }
  div.no_table label.control-label
  {
    float: left;
    height: 21px;
    line-height: 20px;
    margin-right: 18px;
    position: relative;
    text-align: right;
    width: 200px;
  }
  div.no_table div.no_border
  {
    border-bottom: none;
  }
  div.no_table .col-xs-1, div.no_table .col-sm-1, div.no_table .col-md-1, div.no_table .col-lg-1, div.no_table .col-xs-2, div.no_table .col-sm-2, div.no_table .col-md-2, div.no_table .col-lg-2, div.no_table .col-xs-3, div.no_table .col-sm-3, div.no_table .col-md-3, div.no_table .col-lg-3, div.no_table .col-xs-4, div.no_table .col-sm-4, div.no_table .col-md-4, div.no_table .col-lg-4, div.no_table .col-xs-5, div.no_table .col-sm-5, div.no_table .col-md-5, div.no_table .col-lg-5, div.no_table .col-xs-6, div.no_table .col-sm-6, div.no_table .col-md-6, div.no_table .col-lg-6, div.no_table .col-xs-7, div.no_table .col-sm-7, div.no_table .col-md-7, div.no_table .col-lg-7, div.no_table .col-xs-8, div.no_table .col-sm-8, div.no_table .col-md-8, div.no_table .col-lg-8, div.no_table .col-xs-9, div.no_table .col-sm-9, div.no_table .col-md-9, div.no_table .col-lg-9, div.no_table .col-xs-10, div.no_table .col-sm-10, div.no_table .col-md-10, div.no_table .col-lg-10, div.no_table .col-xs-11, div.no_table .col-sm-11, div.no_table .col-md-11, div.no_table .col-lg-11, div.no_table .col-xs-12, div.no_table .col-sm-12, div.no_table .col-md-12, div.no_table .col-lg-12 {
    min-height: 1px;
    position: relative;
    float: left;
  }
  div.no_table input.ios-switch[type="checkbox"] + div
  {
    margin-top: 0px;
  }
  div.col-sm-12
  {
    width: 100%;
  }
  .btn-danger {
    background-color: #f56b6b;
    border-color: #f24545;
    color: #ffffff;
  }
  .btn-primary {
    background-color: #1e91cf;
    border-color: #1978ab;
    color: #ffffff;
  }
  
/*END Bootstrap styles*/

table.store_input input
{
  width: 96%;
}
table.store_input a.btn
{
  margin: 3px 0px;
}

div.no_table
{
  display: table;
  width: 100%;
}

div.no_table > div > legend
{
  margin-bottom: 20px;
}
div.no_table div.row_no_table
{
  position: relative;
  float: left;
  width: 100%;
  display: table-row;
  margin-bottom: 15px;
}

div.no_table div.row_no_table > label,
div.no_table div.row_no_table > div.input_no_table
{
  position: relative;
  float: left;
  display: table-cell;
}
div.no_table div.row_no_table > label
{
  width: 20% !important;
  margin-right: 0px;
  padding-right: 20px;
}

div.no_table div.row_no_table > div.input_no_table
{
  width: 75% !important;
}