#velsof-aci-popup-cart-table 
            {
                background-color: #FFFFFF !important;
                border: medium none !important;
                border-collapse: collapse !important;
                table-layout: fixed !important;
                width: 100% !important;
            }
            .velsof-aci-popup-td-image 
            {
                border-bottom: 1px dotted #C0C0C0 !important;
                text-align: center !important;
                background-color: #FFFFFF;
                overflow: hidden;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-align: center !important;
            }
            .velsof-aci-popup-td-name 
            {
                background-color: #FCFCFC !important;
                border-bottom: 1px dotted #C0C0C0 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 13px !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-decoration: none !important;
            }
            .velsof-aci-popup-td-model 
            {
                background-color: #F9F9F9 !important;
                border-bottom: 1px dotted #C0C0C0 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 13px !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-align: center !important;
            }
            .velsof-aci-popup-td-quantity 
            {
                background-color: #FCFCFC !important;
                border-bottom: 1px dotted #C0C0C0 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 13px !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-align: center !important;
            }
            .velsof-aci-popup-td-price 
            {
                background-color: #F9F9F9 !important;
                border-bottom: 1px dotted #C0C0C0 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 13px !important;
                font-weight: bold !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
                text-align: center !important;
            }
            .velsof-aci-popup-td-total 
            {
                background-color: #FCFCFC !important;
                border-bottom: 1px dotted #C0C0C0 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 17px !important;
                font-weight: bold !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
                text-align: center !important;
            }
            .velsof-aci-popup-th-image, .velsof-aci-popup-th-name, .velsof-aci-popup-th-model,
            .velsof-aci-popup-th-quantity, .velsof-aci-popup-th-price, .velsof-aci-popup-th-total
            {
                border-bottom: 1px solid #A9A9A9 !important;
                font-family: arial,tahoma,verdana,sans-serif !important;
                font-size: 14px !important;
                padding: 10px 0 7px !important;
                text-align: center !important;
                text-transform: uppercase !important;
                font-weight: normal !important;
            }
            .velsof-aci-popup-th-image
            {
                width: 20% !important;
            }
            .velsof-aci-popup-th-name
            {
                width: 25% !important;
            }
            .velsof-aci-popup-th-model
            {
                width: 25% !important;
            }
            .velsof-aci-popup-th-quantity
            {
                width: 8% !important;
            }
            .velsof-aci-popup-th-price
            {
                width: 12% !important;
            }
            .velsof-aci-popup-th-total
            {
                width: 15% !important;
            }
            .popup
		    {
		        position: absolute;
		        border: 5px solid gray;
		        padding: 10px;
		        background: white;
		        width: 60%;
		        float: right;
		        margin-left: 10px;
		        padding-top: 10px;
		        border: 1px solid #eee;
		        border-radius: 5px;
		        padding-right: 7px;
		        padding-left: 7px;
		        min-height: 200px;
		    }
            .list tbody tr:hover td
            {
                background-color:#FFFFFF !important;
            }
            .glyphicons.customer_info i:before {
                font-size: 15px !important;
            }
            
            .customer_info{
                padding-left:30px !important;
                top:-7px !important;
            }
            .loader_div{
                background: url("view/image/aci/loader.gif") no-repeat scroll 50% 10% #ffffff;               
                height:800px;
                width:100%;
                text-align:center;
            }
            .blank_div
            {
                display: none !important;
                z-index: -2;
            }
