.ciradio-background{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 3px solid #ddd;
	background-position: center;

background-repeat: repeat !important;

background-size: inherit !important;
}
.ciradio{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.ciradio .radio{
	display: none;	
}
.ciradio label{
	cursor: pointer;
	margin-bottom: 0;
}
.oc2 .required .ciradio label:before, .ciradio label:before{
	content: '';
}
.ciradio .ciradio-active{
	border: 3px dotted #000;
	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}