.os-loading, .os-danger, .os-success {
    padding: 8px 14px 8px 14px;
    border-radius: 4px;
}

.os-loading {
    border: 1px solid #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.os-danger {
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    color: #a94442;
}

.os-success {
    border: 1px solid #d6e9c6;
    background-color: #dff0d8;
    color: #3c763d;
}

.os-hidden {
    color: #bbb;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}