
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: center; position:absolute ;width:100%; top:37%;}
.customNavigation a{
	-webkit-tap-highlight-color:transparent;
	display: block;
    position: relative;
	z-index:99999;
	border:medium none;
}


.customNavigation a.prev {
	border-radius:0;
	color:#FFFFFF;
	cursor:pointer;
	height:35px;
	width:35px;
	opacity:1;
	float:left;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -3px 6px #fff;
}

.product-image .customNavigation a.prev {left:0; color:#000000; width:20px;}
.product-image .customNavigation a.next {right:0; color:#000000; width:20px;}
.product-image  .customNavigation a {top:40px;}

.customNavigation a.prev:hover 	{ text-decoration:none; background-color:#ffcb3e; opacity:0.57; }
.customNavigation a.next {
    border-radius:0;
	color:#FFFFFF;
	cursor:pointer;
	height:35px;
	width:35px;
	opacity:1;
	float:right;
	background:url(../../image/megnor/sprite.png) no-repeat scroll -34px 6px #fff;
}
.customNavigation a.next:hover 	{  text-decoration:none; background-color:#ffcb3e; opacity:0.7; }

.banners-slider-carousel .product-carousel{  width:auto; margin:0 15px; }
.banners-slider-carousel .customNavigation a.prev {
    left:0px;
	top:60px;
	z-index:999;  
	cursor:pointer;
	width:20px;
	color:#000000;
}
.banners-slider-carousel .customNavigation a.prev:hover 	{text-decoration:none; z-index:999;}
.banners-slider-carousel .customNavigation a.next {
    right:0px;
	top:60px;
	cursor:pointer;
	z-index:999; 
	color:#000000;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:999;}


.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9; top:auto;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation span.prev {
    left:0px;
	top:35px;
	 position:absolute;
	 cursor:pointer;
}
.product-info .product-image .customNavigation span.prev:hover 	{  text-decoration:none;}
.product-info .product-image .customNavigation span.next {
	right:0px;
	top:35px;
	 position:absolute;
	 cursor:pointer;
}
.product-info .product-image .customNavigation span.next:hover 	{  text-decoration:none;}


