* { direction: rtl; }

#column-left{ float:right; }
#column-right{ float:left; }
.owl-carousel .owl-wrapper-outer, .owl-carousel .owl-wrapper:after {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:0px; right:auto; }
.product-list .sale{  left: auto;right: 10px; }
.main-menu > ul > li ul > li > a.activSub{background: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png") no-repeat scroll left center; }
#top-links .myaccount a {
    background: url("../../image/megnor/sprite.png") no-repeat scroll 40px -309px #fff;
    padding: 3px 25px 3px 0;
}
#top-links .myaccount a:hover{background-position:40px  -337px;}
#top-links .top-wishlist a {
    background: url("../../image/megnor/sprite.png") no-repeat scroll 70px -363px #fff;
    padding: 3px 25px 3px 0;
}
#top-links .top-wishlist a:hover{background-position:70px -391px;}
#top-links .top-checkout a {
    background: url("../../image/megnor/sprite.png") no-repeat scroll 48px -419px #fff;
    padding: 3px 22px 3px 0;
}
#language .dropdown-toggle > img {
    margin-bottom: 5px;
}
#top-links .top-checkout a:hover{background-position:48px -447px;}
.main-menu > ul > li ul > li:hover > ul {	left:auto; right:173px;}
.box .box-content ul li{ padding-right:0; margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{
	background: none
    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	
}
#footer .column li a{
	background: none;
    padding-right: 0;
	padding-left:0;
	}
#footer .column li a:hover{

}

.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-right:0px; margin-left:0; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}
.product-list .image {    float: right;    margin-left: 10px; margin-right:0; }
.product-info > .left {    float: none;    margin-right: -20px; margin-left:0px; }
.left.product-image.thumbnails > li{margin-right:0;}
.thumbnails > li{margin-right:20px; margin-left:0;}
.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:0;}
.col-sm-3.category_list {
    float: right;
}
.col-sm-3.category_list > ul {
    padding-right: 0px;
}
#column-left .product-thumb .button-group { margin-left: 80px;}
.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}

.addthis_toolbox.addthis_default_style {float:right;}

.header-left, .header-right .header-right-bottom .main-menu, #menu > ul > li, .header-right-bottom, #menu .categoryinner > ul, .post-date, .col-sm-3.category_list li, .col-md-4.btn-list-grid, .res-left{float:right;}
.header-right-top, .pull-right, #top .pull-left, .col-sm-3.cart, .cate-block .right-arrow, #accordion .panel-heading .fa.fa-caret-down, .close, .map{float:left;}
.col-sm-4.header-logo{float:right;}
.header-right-inner{border-left:medium none; border-right:1px solid #e4e4e4;}
.wishlist_button{right:0; left:auto; border-right:medium none; border-left:1px solid #fff;}
.compare_button{right:auto; left:0; border-right:1px solid #fff; border-left:medium none;}
.currency .fa.fa-angle-down, .language .fa.fa-angle-down {margin-right: 3px; margin-left:0;}
#search .btn-lg{border-left:1px solid #e4e4e4; border-right:medium none; margin-left:0; margin-right:-1px;}
#cart button > span {background-position: 51px -637px; padding: 6px 25px 6px 5px;}
#top .col-sm-5.header-search {border-right: 1px solid #e4e4e4; border-left:medium none; float: left; padding: 15px 30px 16px 0;}
#top-links {border-right: 1px solid #e4e4e4; border-left:medium none; padding: 23px 27px 24px 25px;}
#top .header-right-top .pull-left #language button {padding: 21px 0 23px 29px;}
#currency .dropdown-menu, #top .header-right-top .pull-left #language ul, #menu > ul > li > div{right:0; left:auto; }
.dropdown-menu.pull-right, .breadcrumb{left:0; right:auto;}
.container h2, .container h1{right:0; left:auto;}
#top #currency .currency-select, #menu > ul > li > div{text-align:right;}
.categorycolumn{margion-left:10px; margin-right:0;}
#menu > ul > li ul > li ul > li{padding-left:6px !important; padding-right:0 !important;}
#menu .cate_inner_bg > ul > li a {background-position: right 11px ; padding-right: 15px; padding-left:0;}
#menu > ul > li ul > li:hover > a{background-position: right -15px;}
.advt1, .advt2, .advt3{float:right;}
#footer #about-block.col-sm-3.column { border-left: 1px solid #e4e4e4; border-right:medium none; float: right; margin-left: 52px; margin-right:0; padding-left: 52px; padding-right:0; }
#footer #testcms.col-sm-3.column{margin:0 0 0 57px;}
#footer .col-sm-3.column{float:right; padding: 0 44px 0 0 ;}
.col-sm-3.column.right{border-right:1px solid #e4e4e4; border-left:medium none;}
#footer > p{float:left; left:47px; right:auto;}
.footer-bottom-right{float:left; padding: 0 50px 0 0;}
#contact_info > ul{text-align:left;}
.footer-bottom-left{float:right; padding: 0 145px 0 50px; border-left:1px solid #cdcdcd; border-right:medium none;}
#links li{background-position:left 4px;}
#links li.first{padding-right:0; padding-left:5px;}
.email .fa.fa-envelope, .contact .fa.fa-phone, .post-content-bottom .post-date .fa.fa-clock-o{margin-left:5px; margin-right:0;}
.post-image {float: right; margin: 7px 0 0 17px;}
.post-description{margin-right:190px; margin-left:0;}
.post-inner-content{text-align:right;}
#testcms .customNavigation a.next{right:auto; left:12px;}
#testcms .customNavigation a.prev{right:auto; left:0px;}
#testimonial .fa.fa-caret-right {display: none;}
#testimonial .fa.fa-caret-left {display: block;}
.payment_block li{margin-right:0; margin-left:7px;}

.layout-2.left-col #column-left{padding: 0 0 0 20px;}

.product-list .product-thumb .image {float: right; margin: 0 0 0 20px;}
.product-list .product-thumb .caption{margin-left:0; margin-right:307px;}
#column-left .product-thumb .button-group {margin-left: 0; margin-right: 80px; text-align: right;}
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button, .input-group .form-control, .product-search .col-sm-4{float:right;}
.col-sm-6.text-left{float:right; text-align:right;}
.category-page .col-sm-6.text-left{float:right;}
.col-sm-6.text-right.pages{text-align:left;}
.product-layout.product-grid.col-lg-4.col-md-4.col-sm-6.col-xs-12, .productpage .col-sm-8, .pull-left, .col-sm-3, .shopping-cart table td .form-control{float:right;}
#vertical_latest_product1 .overview li{margin:0 0 0 20px;}
#vertical_latest_product1{float:right; margin-right:10px;}
.product-info .image{float:left;}
#vertical_latest_product1 .buttons{margin:0 10px 0 34px;}
.productpage .col-sm-4{width:49%;}
.productpage .list-unstyled span{float:right; margin-left:5px; margin-right:0;}
.radio, .checkbox{padding-right:20px; padding-left:0;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{float:right; margin-right:-20px; margin-left:0px;}
.qty .control-label {float: right; margin: 10px 0 0 8px;}
#input-quantity{float:right; margin-left:20px; margin-right:0;}
.nav-tabs{padding:0;}
.nav-tabs > li {float: right; margin-left: 20px; margin-right:0;}
#content .col-sm-2 {float: right; text-align: left;}
.text-left{text-align:right;}
.radio-inline, .checkbox-inline{padding-right:20px; padding-left:0;}
.Social_block li{margin-left:8px; margin-right:0;}
.product-list .sale {right: auto; left: 0px;}
.account-transaction table td.text-right, .affiliate-transaction table td.text-right{border-right:none;border-left: 1px solid #ddd !important;}
.account-transaction .table-bordered>tbody>tr>td, .affiliate-transaction .table-bordered>tbody>tr>td{border-right:none;border-left: 1px solid #ddd !important;}
#column-left .product-thumb .caption{margin-left:0; margin-right:70px;}
.compare-total, .category_filter .sort-by, .category_filter .show{float:right;}
.pagination-right{float:left;}
.res-left, .post_comment{float:left;}
#links li{padding:0 1px 0 5px;}
#top .header-right-top .pull-left #currency button{padding:19px 0 23px 15px;}
.text-right{text-align:left;}
.category-page .pagination{padding-right:0;}
.banner-hover{left:auto; right:0;}
.res-wishlist_button{margin:0;}
.cart-total .col-sm-4.col-sm-offset-8{float:left; margin-left:0;}
#button-coupon, #button-voucher{margin-left: 0px; margin-right:10px;}
.shopping-cart #accordion .input-group-btn {float: right;}
.tm-about-description{padding:0 0 0 23px;}
.about-content{margin-left:0; margin-right:60px;}
.image1, .image2, .image3, .image4{float:right;}


@media only screen and (min-width: 1024px) and (max-width: 1230px) {
	#menu > ul > li > div{right:-64px;}
	#footer #about-block.col-sm-3.column {margin-left: 16px; padding-left: 27px;}
	#footer #testcms.col-sm-3.column {margin: 0 0px 0 17px;}
	.footer-bottom-left {padding: 0 72px 0 50px;}
	#footer > p{left:29px;}
	.productpage .col-sm-4{width:38%;}
	#vertical_latest_product1{float:right; margin-right:0px;}
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
	#menu > ul > li > div {right: -100px;}
	#footer #about-block.col-sm-3.column {margin-left: 16px; padding-left: 27px;}
	#footer #testcms.col-sm-3.column {margin: 0 0px 0 12px;}
	#footer .col-sm-3.column {padding: 0 23px 0 0px;}
	.productpage .col-sm-4{width:33.333%;}
	.footer-bottom-left {padding: 0 103px 0 40px;}
	#footer > p{left:25px;}
	.post_comment {clear: both; float: right; margin-right: 191px; margin-left:0;}
	#vertical_latest_product1{float:right; margin-right:0px;}
}

@media only screen and (max-width: 979px) {
 	#logo {border-left: medium none;}
	.header-right-inner{border-right:medium none;}
	.col-sm-3.cart{left:0; right:auto;}
	#top-links{padding:23px 72px;}
	.responsive-menu .expandable-hitarea{background-position: -15px -110px; }
	.responsive-menu .collapsable-hitarea{background-position: -44px -109px;}
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 4px; }
	.active .mobile_togglemenu {background-position: left -48px;}
	#footer #about-block.col-sm-3.column {border-left: medium none; margin-left: 0; padding-right: 0; padding-left: 0;}	 
	#footer .col-sm-3.column {padding: 0;}
	.col-sm-3.column.right {border-right: medium none;}
	.footer-bottom-left {padding: 0 0px 0 40px;}
	.footer-bottom-right {padding: 0 40px 0 0px;}
	#footer > p{left:18px;}
	.developed{top:39px;}
	.Social_block{top:40px;}
	.col-sm-10.category_description, .col-sm-2.category_img{width:100%;}
	.product-info .image, .product-info > .left{float: none;}
	.thumbnails > li{margin-right:0;}
	.product-search .col-sm-3.cart{width:auto;}
	.product-list .sale{left:14px;}
	.pagination-right{float:right; clear:both;}
	#top .header-right-top .pull-left #currency button {padding: 19px 0 23px 15px;}
	.product-list .product-thumb .image{margin:0 0 20px 20px;}
	.map{float:right;}
	.tm-about-description{padding: 0 0 0 23px;}
	.product-list .product-thumb .caption{margin-right:0;}
	.category_filter .sort-by{margin:8px 10px 0;}
	.nav-responsive span{padding:20px 0px 20px 22px;}
	.nav-responsive .expandable{margin-left:0;}
	.responsive-menu .main-navigation{margin-top:3px !important;}
}
@media only screen and (max-width: 767px) {
	#top-links {border-right: medium none; padding: 23px 0;}
	.res-left{float:right;}
	#top .col-sm-5.header-search{border-right:medium none; padding:0;}
	.productpage .col-sm-8{float:none;}
	.productpage .col-sm-4{width:100%; margin-bottom:30px;}
	.productpage .col-sm-12{float:none; clear:both;}
	.container h2, .container h1{right:15px;}
	.breadcrumb{right:15px;}
	#content .col-sm-2{text-align:right;}
	.layout-2.left-col .col-sm-10, .layout-2.left-col .col-sm-2{clear:both;}
	.product-info > .left{margin-right:0;}
	.common-home .footer-bottom-left, .footer-bottom-left{border-left:medium none; padding:0;}
	.footer-bottom-right{padding:0 0 30px;}
	#contact_info > ul{text-align:center;}
	.Social_block{top:30px;}
	.developed{top:25px;}
	#footer > p{text-align:center; width:100%; left:auto; right:auto;}
	.alert{ margin-left: 0; margin-right: 0;}
	.category_filter .sort-by {margin: 0 10px;}
	.col-sm-6.text-right.pages{float:left;}
	#footer > p{bottom:75px;}
	}
@media (max-width: 697px) {
	
	.product-list .product-thumb .caption {clear: both;  margin: 0;}
	.product-list .product-thumb .image {margin: 0 0 20px;}
	.product-list .sale{left:14px;}
}
@media (max-width: 479px) {
	#top-links .myaccount ul{left:0; right:auto;}
	.breadcrumb{right:15px; left:auto;}
	.dropdown-menu.pull-right{left:auto; right:0;}
	.map{float:right;}
	.col-sm-3.cart{left:0; right:0;}
	#top .header-right-top .pull-left #language button{padding:14px 0 14px 29px;}
	#top .header-right-top .pull-left #currency button{padding:12px 0 12px 15px;}
	#top-links{padding:14px 0;}
	.col-sm-6.text-right.pages{text-align:right;}
	.sort-by-wrapper, .show-wrapper{float:right;}
}
@media (max-width: 371px) {
	.developed{top:39px;}
	.Social_block{top:40px;}
}
@media (max-width: 342px) {
	.dropdown-menu.pull-right.cart-menu{right:-57px;}
	.authr-logo2{margin: 0 15px 0 21px;}
	.authr-logo3{margin-right:5px;}
	.authr-logo2{margin:0 21px 0 15px;}
}

