/* Tiny Carousel */
#vertical_latest_product1 { height: 1%; overflow: hidden; padding: 0 0 10px; list-style:outside none none;}
#vertical_latest_product1 .viewport { float: left; width: 140px; height: 485px; overflow: hidden; position: relative; }
#vertical_latest_product1 .buttons {
    display: block;
    margin: 0px 10px 0 35px;
    float: left;
    position: relative;
    text-align: center;
	border-radius: 0;
    color: #656565;
    cursor: pointer;
    height: 35px;
    opacity: 1;
    width: 90px;
}
#vertical_latest_product1 .next {
    margin: 0px 0 0 30px;
}
#vertical_latest_product1 .buttons:hover {
    color: #000;
    background-color: #ffcb3e;
	opacity:1;
}
.fa.fa-chevron-up, .fa.fa-chevron-down {
    margin-top: 10px;
}
#vertical_latest_product1 .disable { visibility: hidden; }
#vertical_latest_product1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 140px; left: 0; top: 0; }
#vertical_latest_product1 .overview li { margin: 0 20px 0 0; padding: 1px; height: auto; border: medium none; width: 100%; }
