/* Tiny Carousel */
#vertical_latest_product1 { height: 160px; overflow: hidden; padding: 0 0 10px; list-style:outside none none;}
#vertical_latest_product1 .viewport { float: left; width: 80%; height: 160px; overflow: hidden; position: relative; }
#vertical_latest_product1 .buttons {
    display: block;
     float: left;
    position: relative;
    text-align: center;
	border-radius: 0;
    color: #656565;
    cursor: pointer;
     opacity: 1;
 }
#vertical_latest_product1 .next {
 }
#vertical_latest_product1 .buttons:hover {
    color: #000;
    background-color: #ffcb3e;
	opacity:1;
}
.fa.fa-chevron-up, .fa.fa-chevron-down {
    margin-top: 10px;
}
#vertical_latest_product1 .disable { visibility: hidden; }
#vertical_latest_product1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 145px; left: 0; top: 0; }
#vertical_latest_product1 .overview li { margin: 0 5px 0 0; padding: 1px; height: auto; border: medium none; width: 18%; float:left; }
