body {

	font-family: 'Arimo', sans-serif;

	font-weight: 400;

	color: #888888;

	font-size: 12px;

	line-height: 20px;

	text-transform:uppercase;

}

h1, h2, h3, h4, h5, h6 {

	color: #444;

}

/* default font size */

.fa {

	font-size: 14px;

}

/* Override the bootstrap defaults */

h1 {

	font-size: 33px;

}

h2 {

	font-size: 27px;

}

h3 {

	font-size: 21px;

}

h4 {

	font-size: 15px;

}

h5 {

	font-size: 12px;

}

h6 {

	font-size: 10.2px;

}

a {

	color: #23a1d1;

}

a:hover {

	text-decoration: none;

}

legend {

	font-size: 18px;

	padding: 7px 0px

}

label {

	font-size: 12px;

	font-weight: normal;

}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {

	font-size: 12px;

}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {

	font-size: 12px;

}

.input-group .input-group-addon {

	font-size: 12px;

	height: 30px;

}

/* Fix some bootstrap issues */

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {

	display: inline;

}



.nav-tabs {

	margin-bottom: 15px;

}

div.required .control-label:before {

	content: '* ';

	color: #F00;

	font-weight: bold;

}

/* Gradent to all drop down menus */

.dropdown-menu li > a:hover {

	text-decoration: none;

	color: #ffffff;

	background-color: #229ac8;

}

/* top */

#top {

	background-color: #fff;

	padding: 0;

	margin:0;

	min-height: 43px;

}

.header-right {

    float: left;

    width: 82.5%;

}

.header-right-inner {

    border-left: 1px solid #e4e4e4;

    float: left;

    width: 100%;

}

#top .container #currency span, #top .container #language span {

    display: none;

    font-size: 0;

}

#top .pull-left{float:right;}

#top .col-sm-5.header-search { float: right; padding:15px 0 16px 30px; width:27%; border-left:1px solid #e4e4e4;}

#top .container {

	padding: 0;

}

#top #currency .currency-select {

	text-align: left;

	text-transform:uppercase;

}

#top #currency .currency-select:hover {

	text-shadow: none;

	color: #595959;

	background-color: #fff;

}

.currency .fa.fa-angle-down, .language .fa.fa-angle-down {

    margin-left: 3px;

}

#currency .dropdown-menu { padding: 8px;}



#language .dropdown-menu > li > a { padding: 3px 8px;}

#currency .dropdown-menu .btn { font-size: 12px ; padding: 2px !important;}

#language .dropdown-menu > li > a:hover {color:#595959;}

#top .btn-link, #top-links li, #top-links a {

	color: #888;

	text-shadow: 0 1px 0 #FFF;

	text-decoration: none;

}

#top .btn-link:hover, #top-links a:hover {

	color: #595959;

}

#top-links .dropdown-menu a {

	text-shadow: none;

}

#top-links .dropdown-menu a:hover {

	color: #FFF;

}

#top .btn-link strong {

	font-size: 14px;

	font-weight:400;

}

#language .dropdown-toggle > img {

    margin-bottom: 5px;

}

#top-links {

	padding: 23px 25px 21px 27px;

	border-left:1px solid #e4e4e4;

}

#top-links a + a {

	margin-left: 15px;

}

#top-links .top-wishlist {

    padding: 0 16px 0 7px;

}

#top-links ul{margin-bottom:0; text-transform:uppercase;}

#top .header-right-top .pull-left #language button {

    padding: 21px 29px 23px 0;

	border:medium none;

}

#top .header-right-top .pull-left #currency button {

    padding: 19px 15px 23px;

	border:medium none;

}

#top-links .myaccount a {

    padding:3px 0 3px 25px;

	background:url(../image/megnor/sprite.png) no-repeat scroll 0px -309px #fff;

}

#top-links .myaccount a:hover {background-position:0px -337px;}

#top-links .top-wishlist a {

    padding:3px 0 3px 25px;

	background:url(../image/megnor/sprite.png) no-repeat scroll -1px -363px #fff;

}

#top-links .top-wishlist a:hover{background-position:-1px -391px;}

#top-links .top-checkout a {

    padding:3px 0 3px 22px;

	background:url(../image/megnor/sprite.png) no-repeat scroll -3px -419px #fff;

}

#top-links .top-checkout a:hover {background-position:-3px -447px;}

#top .myaccount .myaccount-menu a {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    font-size: 12px;

    padding: 3px 10px;

}

#top .myaccount .myaccount-menu a:hover{ color:#595959;}

#top-links .myaccount ul{left:-6px; top:110%; min-width:130px;}

#top .header-right-top .pull-left #currency ul, #top .header-right-top .pull-left #language ul{top:70%;}

#top .header-right-top .pull-left #currency ul > li button{border-left:medium none;}

.header-left {float: left; width:17.5%;}

.col-sm-4.header-logo {width: auto; padding:0;}

.header-right-top{height:64px;}

.myaccount .dropdown-toggle span {margin-right: 5px;}

.account-transaction table td.text-right{border-right:1px solid #ddd;}

.account-transaction .table-bordered>tbody>tr>td{border-right:1px solid #ddd;}



/* logo */



#logo {

    padding:0;

	margin:16px 0 20px;

}



/* search */

#search {

	margin-bottom: 0px;

}

#search .input-lg {

	height: 33px;

	line-height: 20px;

	padding: 0 10px;

	border:1px solid #e4e4e4;

}

#search .btn-lg {

	font-size: 15px;

	line-height: 18px;

	padding: 5px 11px 8px;

	border-left:medium none;

	color:#b9b9b9;

	border-color:#e4e4e4;

	border-width:1px;

}

#search .btn:hover, #search .btn:focus, #search .btn:active{background-color:#fff; border-color:#e4e4e4;}

/* cart */

#cart {

	margin-bottom: 0px;

}

#cart > .btn {

	font-size: 12px;

	color: #888;

	background-color:#fff;

	text-transform:uppercase;

	padding:24px 0;

	border:medium none;

	font-weight:400;

}

#cart.open > .btn {

	background-image: none;

	background-color: #FFFFFF;

	border: medium none;

	color: #595959;

	box-shadow: none;

	text-shadow: none;

}

#cart > .btn:hover{background-color:#fff;}

#cart button > span {

    padding: 8px 5px 6px 25px;

	background:url("../image/megnor/sprite.png") no-repeat scroll 2px -637px transparent;

}

#cart.open > .btn:hover {

	color: #444;

}

#cart .dropdown-menu {

	background: #eee;

	z-index: 1001;

}

#cart .dropdown-menu {

	min-width: 250px;

}

#cart .dropdown-menu table {

	margin-bottom: 10px;

	border:medium none;

}

#cart .dropdown-menu li > div {

	min-width: 345px;

	padding: 0 10px;

}

#cart .dropdown-menu li p {

	margin: 20px 0;

}

.col-sm-3.cart {

    float: right;

   padding:0;

	width:auto;

}

#cart .text-right > a {

    background-color: #fff;

    border: 2px solid #656565;

    color: #656565;

    padding: 8px 12px;

}

#cart .text-right > a:hover {

    background-color: #000;

    border: 2px solid #000;

    color: #fff;

    padding: 8px 12px;

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

#cart .cart-menu table tbody tr td {

    background-color: transparent;

	border:medium none;

	padding:5px;

	vertical-align:middle;

}

#cart .btn.btn-danger {

    border-radius: 14px;

	-webkit-border-radius: 14px;

	-khtml-border-radius: 14px;

	-moz-border-radius: 14px;

	-o-border-radius: 14px;

    border-width: 1px;

    font-size: 12px;

    line-height: 1.5;

    padding: 1px 5px;

}



/* menu */



#slideshow0 .img-responsive {

    width: 100%;

}



.header-right-bottom {

    border-top: 1px solid #e4e4e4;

    padding: 0;

	float:left;

	width:100%;

}

.nav-responsive { display:none;}

.responsive-menu,

.main-menu {

	background: #fff;	

	height: 63px;

	margin-bottom: 0px;

	padding: 0px 5px; 

	/*overflow:hidden; HIDE CATEGORIES THOSE ARE OUT OF MANU.  */	  

}

.header-right .header-right-bottom .main-menu{float:left;}

.main-menu ul {

	list-style: none;

	margin: 0;

	padding: 0; 

}

.main-menu > ul > li {

	position: relative;

	float: left;

	z-index: 20;

	background-color:#fff;

}

.main-menu > ul > li:hover {

} 

.main-menu .main-navigation > li:before {

    border-top: 3px solid #ffcb3e;

    content: "";

    display: block;

    opacity: 0;

	-moz-opacity: 0;

	-webkit-opacity: 0;

	-khtml-opacity: 0;

	-o-opacity: 0;

    position: relative;

    top: -1px;

}

.main-menu > ul > li:hover:before {

    opacity: 1;

	-moz-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

	-khtml-opacity: 1;

    transition: all 1s ease 0s;

	-moz-transition: all 1s ease 0s;

	-webkit-transition: all 1s ease 0s;

	-khtml-transition: all 1s ease 0s;

	-o-transition: all 1s ease 0s;

}

 

.main-menu > ul > li > a {

	font-size: 14px;

	color: #1a1a1a;

	display: block;

	padding: 20px 22px;

	margin-bottom: 0px;

	z-index: 6;

	font-weight:700;

	position: relative;

	text-transform:uppercase;

}

.nav-responsive span{

	font-size: 14px;

	color: #1a1a1a;

	display: block;

	padding: 20px 22px 20px 0;

	margin-bottom: 0px;

	z-index: 6;

	font-weight:700;

	position: relative;

	text-transform:uppercase;

}

.main-menu a:hover { text-decoration:none}



.main-menu > ul > li:hover > a {

	background: #fff;

	color:#ffcb3e;	

}

.main-menu > ul > li > ul , .responsive-menu .main-navigation{

	display: none;

	background: #fff;

	position: absolute;	

	z-index: 5;

	padding: 5px;	

} 

.main-menu > ul > li:hover > ul {

	display: block;

} 

.main-menu > ul > li ul > li > ul {

	display: none;

	background: #fff;

	position: absolute;	

	z-index: 5;

	padding: 5px;	

	margin-left:-13px;

}

.main-menu > ul > li ul > li:hover > ul {

	display: block;

	 top: 0px;

    left: 173px;

}



.main-menu > ul > li > ul > ul {

	/*display: table-cell;*/

}

.main-menu > ul > li ul + ul {

	/*padding-left: 20px;*/

}

.main-menu > ul > li ul > li > a , .responsive-menu .main-navigation li a{	

	padding: 8px;

	color: #656565;

	display: block;

	white-space: nowrap; 

}

.main-menu > ul > li ul > li > a{min-width: 160px;}

.main-menu > ul > li ul > li > a:hover  , .responsive-menu .main-navigation li a:hover  {

	color: #1a1a1a;

}

.main-menu > ul > li ul > li > a.activSub {	

	background-image:url(../image/megnor/cat_arrow_hover.png) ;

	background-repeat:no-repeat;

	background-position: right center;

}

.main-menu > ul > li > ul > ul > li > a {

	color: #FFFFFF;

} 



/*Mega Menu Start*/



#menu ul {

    float: left;

    list-style: outside none none;

    margin: 0;

    padding: 0;

}

#menu > ul > li{

	float: left;

	position: relative;

    z-index: 20;

}

#res-menu {display: none;}

#menu .categoryinner > ul{float:left;}

#menu > ul > li > div{

	 background: none repeat scroll 0 0 #e9e9e9;

    display: none;

    left: 0;

    min-width: 560px;

    padding: 15px;

    position: absolute;

    text-align: left;

    z-index: 12345;

}

#menu > ul > li.hiden_menu div {

    min-width: 180px;

}

#menu > ul > li:hover > div{display:block;}

#menu .categoryinner ul > ul{float:left;}

#menu ul {

    float: right;

    list-style: outside none none;

    margin: 0;

    padding: 0;

}

.categorycolumn {

    float: left;

    margin-bottom: 0;

    margin-right: 10px;

    vertical-align: top;

	}

a.submenu1, .level0 .level0 a {

    color: #1a1a1a;

    display: block;

    font-size: 14px;

    font-weight: 700;

    margin-left: 5px;

	padding:5px 0;

    position: relative;

}

a:hover.submenu1{color:#1a1a1a;}

#menu .cate_inner_bg > ul > li a {

  	background: url("../image/megnor/menu_dots.png") no-repeat scroll 5px 11px transparent;

    color: #656565;

    font-size: 12px;

    padding-left: 15px;

}

#menu > ul > li ul > li:hover > a {

	background: url("../image/megnor/menu_dots.png") no-repeat scroll 5px -15px transparent;

	transition-duration: 500ms;

	-moz-transition-duration: 500ms;

	-o-transition-duration: 500ms;

	-webkit-transition-duration: 500ms;

	-khtml-transition-duration: 500ms;

	color:#1a1a1a;

}

.categorycolumn ul {

    float: left;

}

.cate_inner_bg ul {

    padding-top: 7px !important;

}

.categoryinner ul {

    padding: 0 !important;

}

.cate_inner_bg li {

    padding: 0 ;

}

#menu > ul > li ul > li ul > li{

	}

#menu > ul > li ul > li ul > li:hover{

	}

#menu > ul > li ul > li > a {

    font-weight: normal;

	color: #a27c66;

    line-height: 18px;

    padding: 4px 6px;

	text-decoration:none;

    display: inline-block;

    white-space: nowrap;

}



.submenu2 {

    border-bottom: 0 none;

    font-size: 11px;

    font-weight: normal;

    margin-left: 0;

    text-transform: uppercase;

}

#menu .hiden_menu .categoryinner > ul {

    display: none;

}





/*Mega Menu End*/

 







/* CMS Content */



.cms-banner-block {

    margin: 12px auto 30px;

    width: 960px;

	outline: 1px solid #e4e4e4;

	overflow: hidden;

}

.inner-cms-block {

}

.left-banner, .center-banner, .right-banner{

    float: left;

}

.left-top, .right-top, .left-bottom, .right-bottom  {

    margin: 12px;

	position:relative

}

.left-bottom, .right-bottom {

    overflow: hidden;

    position: relative;

}

.left-top .content-text {

    position: absolute;

    text-align: center;

    top: 35px;

    width: 100%;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.left-top .heading1 {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.55);

    color: #2f2d2a;

    font-size: 22px;

    font-weight: 700;

    padding: 6px 50px 5px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.left-top:hover .heading1 {

	padding:114px 50px 140px;

    transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.left-top:hover .content-text{top:115px; 

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.left-top .heading2 {

    color: #fff;

    font-size: 22px;

    font-weight: 700;

	position:relative;

	top:10px;

}

.left-bottom .content-text {

    bottom: 6px;

    position: absolute;

    text-align: center;

    width: 100%;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.left-bottom:hover .content-text{bottom:52px; 

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.left-bottom .heading1 {

   color: #fff;

    font-size: 18px;

    font-weight: 700;

    position: absolute;

    text-align: center;

    top: -32px;

    width: 100%;

}

.left-bottom .heading2 {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);

    color: #fff;

    font-size: 14px;

    font-weight: 400;

    padding: 8px 49px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.left-bottom:hover .heading2 {

	padding: 104px 49px 54px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.middle-banner {

    margin:12px 0;

	position:relative

}

.middle-banner .content-text {

    bottom: 42px;

    position: absolute;

    text-align: center;

    width: 100%;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.middle-banner:hover .content-text{bottom:184px; 

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.middle-banner .heading1 {

    color: #2f2d2a;

    font-size: 15px;

    font-weight: 400;

	position:absolute;

	width:100%;

	text-align:center;

	bottom:37px;	

}

.middle-banner .heading2 {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.55);

    color: #2f2d2a;

    font-size: 22px;

    font-weight: 700;

    padding: 6px 15px 5px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.middle-banner:hover .heading2 {

    padding: 254px 15px 185px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.right-banner {

    float: right;

}

.right-top .content-text {

    bottom: 20px;

    position: absolute;

    text-align: center;

    width: 100%;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.right-top:hover .content-text {

	bottom:85px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.right-top .heading1 {

    background-color: #8097c5;

    color: #fff;

    font-family: "Raleway",sans-serif;

    font-size: 14px;

    font-weight: 400;

    margin: 0 auto;

    padding: 6px 12px;

    position: absolute;

    text-align: center;

    top: -45px;

	right:0;

	left:0;

	width:80px;

}

.right-top .heading2 {

    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.55);

    font-size: 22px;

    font-weight: 700;

    padding: 6px 30px 5px;

	color: #2f2d2a;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.right-top:hover .heading2 {

	padding: 167px 30px 85px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.right-bottom .content-text {

    bottom: 4px;

    position: absolute;

    text-align: center;

    width: 100%;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.right-bottom:hover .content-text {

	bottom:73px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

	}

.right-bottom .heading1 {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.55);

    color: #fff;

    font-size: 14px;

    font-weight: 400;

    padding: 6px 48px 6px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.right-bottom:hover .heading1 {

	padding: 81px 48px 75px;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

#testimonial {

    background-color: #f6f6f6;

    clear: both;

    display: block;

    overflow: hidden;

    padding: 35px 0 38px;

    width: 100%;

	margin-bottom:30px;

	position:relative;

}

#testimonial .slider-page {

    background: none repeat scroll 0 0 #d0d0d0;

    display: inline-block;

    height: 9px;

    margin: 0 5px;

    width: 9px;

}

#testimonial .slider-page.active {

    background: none repeat scroll 0 0 #ffbb01;

    transform: rotate(-45deg);

	-moz-transform: rotate(-45deg);

	-webkit-transform: rotate(-45deg);

	-khtml-transform: rotate(-45deg);

	-o-transform: rotate(-45deg);

}

#testimonial .fa.fa-caret-left {display: none;}

#testimonial .slider-pagination{margin-top:20px; text-align:center;}

#testimonial .customNavigation{display:none;}

.homepage-testimonials-inner.products.block_content {

    margin: 0 auto;

    padding: 25px 0px 0 0px;

    width: 1080px;

	overflow:hidden;

}

.cate-block {

    float: none;

    margin: 0 13px;

    overflow: hidden;

    position: relative;

}

.cate-banner > img {

    max-width: 100%;

}

.cate-block .description {

    clear: both;

    float: left;

    font-size: 10px;

    height: 0;

    line-height: 16px;

    margin-right: 0px;

    margin-top: 0;

    opacity: 0;

	-webkit-opacity: 0;

	-khtml-opacity: 0;

	-moz-opacity: 0;

	-o-opacity: 0;

    transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-webkit-transition: all 0.3s ease 0s;

	-khtml-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

}

.banner-hover {

    background: none repeat scroll 0 0 rgba(55, 55, 55, 0.65);

    bottom: 0;

    color: #fff;

    font-size: 12px;

    font-weight: 700;

    left: 0;

    max-width: 189px;

    opacity: 1;

	-moz-opacity: 1;

	-khtml-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

    padding: 17px 14px;

    position: absolute;

    transition-duration: 300ms;

	-moz-transition-duration: 300ms;

	-webkit-transition-duration: 300ms;

	-khtml-transition-duration: 300ms;

	-o-transition-duration: 300ms;

    width: 100%;

}

.cate-block:hover .banner-hover {

    padding-bottom: 13px;

    transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-webkit-transition: all 0.3s ease 0s;

	-khtml-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

}

.cate-block:hover .banner-hover span.description {

    color: #fff;

}

.cate-block:hover .banner-hover .description {

    height: 51px;

    margin-top: 8px;

    opacity: 1;

	-moz-opacity: 1;

	-khtml-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

    transition: all 0.3s ease 0s;

	-moz-transition: all 0.3s ease 0s;

	-webkit-transition: all 0.3s ease 0s;

	-khtml-transition: all 0.3s ease 0s;

	-o-transition: all 0.3s ease 0s;

}

.cate-block:hover .banner-hover {

    color: #ffbb00;

}

.right-arrow {

    float: right;

}

.cate-block .right-arrow {

    float: right;

	color:#ffcb3e;

	transition: all 300ms ease 0s;

	-moz-transition: all 300ms ease 0s;

	-webkit-transition: all 300ms ease 0s;

	-o-transition: all 300ms ease 0s;

	-khtml-transition: all 300ms ease 0s;

}

.cate-block:hover .right-arrow{color:#fff;}

.advt1 {

    float: left;

    width: 386px;

	background-color:#666666;

}

.advt2{

    float: left;

    width: 388px;

	background-color:#bdb898;

	margin:0 18px;

}

.advt3 {

    float: left;

    width: 386px;

	background-color:#80a3c0;

}

.advt1-inner-content, .advt2-inner-content, .advt3-inner-content {

    text-align: center;

	font-weight:700;

	font-size:15px;

	color:#fff;

	border:1px solid #fff;

	margin:2px;

	letter-spacing:2px;

}

.advt1-inner-content{padding: 11px 0px 12px;}

.advt2-inner-content{padding: 11px 0px 12px;}

.advt3-inner-content{padding:11px 0px 12px;}

.advt1-title{

	background:url(../image/megnor/24-X7.png) no-repeat scroll 0px 0px transparent;

	padding:7px 0 7px 40px;

	display:inline-block;

	}

.advt2-title{

	background:url(../image/megnor/mony.png) no-repeat scroll 0px 0px transparent;

	padding:7px 0 7px 40px;

	display:inline-block;

	}

.advt3-title{

	background:url(../image/megnor/truck.png) no-repeat scroll 0px 5px transparent;

	padding:7px 0 7px 50px;

	display:inline-block;

	}

.payment_block > ul {

    list-style: outside none none;

    margin: 15px 0 52px 0;

    padding: 0;

    position: relative;

}

#footer #about-block.col-sm-3.column {

    border-right: 1px solid #e4e4e4;

    padding-right: 52px;

	padding-left:0;

    width: 318px;

	margin-right:52px;

	line-height:22px;

}

#about-block > h5 {

    margin-bottom: 19px;

	margin-top:2px;

}

.tm-about-description > ul {

    list-style: outside none none;

    margin: 0;

    padding: 0;

}

.payment_block li {

    display: inline-block;

	margin-right:7px;

}

#footer #testcms.col-sm-3.column{width:35%; margin:0 57px 0 0; position:relative; overflow:hidden; padding:0; line-height:22px;}

#testcms .customNavigation a.prev {

    position: absolute;

    top: -70px;

	right:14px;

	left:auto;

	width:auto;

	height:auto;

	background:url(../image/megnor/sprite.png) no-repeat scroll -16px -56px transparent;

	padding:4px ;

}

#testcms .customNavigation a.prev:hover{background-position:-16px -86px;}

#testcms .customNavigation a.next {

    position: absolute;

    top: -70px;

	right:0;

	width:auto;

	height:auto;

	background:url(../image/megnor/sprite.png) no-repeat scroll -45px -56px transparent;

	padding:4px ;

}

#testcms .customNavigation a.next:hover {background-position:-46px -86px;}

#testcms .home_blog > h5 {

    margin-top: 2px;

}

.post-image{float:left; margin: 7px 17px 0 0 ;}

.post-content{text-align:left;}

.post-title{font-weight:700; font-size:13px; color:#363636;}

.post-description {

    border-bottom: 1px solid #cdcdcd;

    color: #656565;

    font-size: 12px;

    margin-left: 190px;

    padding-bottom: 18px;

}

.post-content-bottom {margin-top: 5px;}

#footer .row {margin-bottom: 30px;}

.post-content-bottom .post-date .fa.fa-clock-o{margin-right:5px;}

.post-date{color:#ffcb3e; float:left;}

.post_comment{float:right; font-style:italic; color:#b4b4b4;}

.aurthority-logo{display:block; position:relative; overflow:hidden; margin-bottom:23px;}

.authr-left{float:left; position: relative;}

.authr-now-left{ border-bottom: 1px solid #dcdcdc;    height: 10px;    width: 394px; margin-left:82px; position:relative; top:10px;}

.authr-right{float:left; position: relative;}

.authr-now-right{ border-bottom: 1px solid #dcdcdc;    height: 10px;    width: 394px; margin-right:0px; position:relative; top:10px;}

.authr-logo1 {

    float: left;

    margin: 0 0 0 30px;

}

.authr-logo2 {

    float: left;

    margin: 0 35px 0 21px;

}

.authr-logo3 {

    float: left;

    margin-right: 30px;

}

.col-sm-3.column.right{border-left:1px solid #e4e4e4;}

:focus{outline:none !important;}



@media (min-width: 768px) {

	#menu .dropdown:hover .dropdown-menu {

		display: block;

	}

}

@media (max-width: 767px) {

	#menu {

		border-radius: 4px;

		-webkit-border-radius: 4px;

		-moz-border-radius: 4px;

		-khtml-border-radius: 4px;

		-o-border-radius: 4px;

	}

	#menu div.dropdown-inner > ul.list-unstyled {

		display: block;

	}

	#menu div.dropdown-menu {

		margin-left: 0 !important;

		padding-bottom: 10px;

		background-color: rgba(0, 0, 0, 0.1);

	}

	#menu .dropdown-inner {

		display: block;

	}

	#menu .dropdown-inner a {

		width: 100%;

		color: #fff;

	}

	#menu .dropdown-menu a:hover,

	#menu .dropdown-menu ul li a:hover {

		background: rgba(0, 0, 0, 0.1);

	}

	#menu .see-all {

		margin-top: 0;

		border: none;

		border-radius: 0;

		-moz-border-radius: 0;

		-webkit-border-radius: 0;

		-khtml-border-radius: 0;

		-o-border-radius: 0;

		color: #fff;

	}

}



/* 1-col layout */



#column-left{

	

}

#column-right{

	

}

.layout-1 #content{

	padding:0 15px;	

}

.layout-1 .container {

    padding: 0;

}

.layout-1 .row {

    margin: 0;

}



/* 2-col layout */



.layout-2.left-col #column-left{

	width:24.2%;

	padding: 0 20px 0 0;	

}

.layout-2.right-col #column-right{

	width:24.2%;

	padding: 0 0 0 20px;

   

}

.layout-2 #content{

  width:75.8%;

  padding:0;

  }

.layout-2.left-col #content {	   

	

}

.layout-2.right-col #content {

   

}

.layout-2.left-col #footer.container {

  }

.layout-2.left-col #footer .row {

	margin-left:0;

	margin-right:0;

	}



/* 3-col layout */

.layout-3 #column-left{

	width:24.2%;

	padding: 0 20px 0 0;	

}

.layout-3 #column-right{		

	width:24.2%;

	padding: 0 0 0 20px;

}

.layout-3 #content{	

	width:51.6%;

	padding:0;

}

/* content */

#content {

	min-height: 600px;

}

.hover_block {

    background: none repeat scroll 0 0 #4d4d4d;

    left: 0;

    margin: 0 auto;

    opacity: 0.9;

	-moz-opacity: 0.9;

	-webkit-opacity: 0.9;

	-khtml-opacity: 0.9;

	-o-opacity: 0.9;

    padding: 20px;

    position: absolute;

    right: 0;

    top: 0;

    width: 100%;

	height:100%;

}

.hover_block .actions {

    background: none repeat scroll 0 0 transparent;

    border: 1px solid #fff;

	height:100%;

	position:relative;

}

.common-home .content-top-breadcum {

    display: none;

    height: 0;

    margin: 0;

}

.content-top-breadcum{

	position:relative;

	height:60px;

	background-color:#f6f6f6;

	width:100%;

	margin:0 0 20px 0;

	}

.container h2{

	color: #1a1a1a;

    font-family: "Arimo",sans-serif;

    font-size: 14px;

    font-weight: 700;

	position:absolute;

	top:-58px;

	left:0;

	text-transform:uppercase;

    }

.container h1{

	color: #1a1a1a;

    font-family: "Arimo",sans-serif;

    font-size: 14px;

    font-weight: 700;

	position:absolute;

	top:-58px;

	left:0;

	text-transform:uppercase;

    }

.breadcrumb {

    color: #c2c2c2;

    position: absolute;

    right: 0;

    text-transform: uppercase;

    top: -58px;

}

.col-sm-10.category_description, .col-sm-2.category_img{

    width: 100% !important;

}

.category-page h3 {

    font-size: 15px;

    font-weight: 700;

	color:#363636;

}

.col-sm-2.category_img {

    margin: 11px 0 27px;

}

.product-block:hover .image .hover_block {

    background: none repeat scroll 0 0 rgba(55, 55, 55, 0.65);

    opacity: 1;

	-moz-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

	-khtml-opacity: 1;

}

.product-block .image .hover_block {

    opacity: 0;

	-moz-opacity: 0;

	-webkit-opacity: 0;

	-o-opacity: 0;

	-khtml-opacity: 0;

    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;

	-moz-transition: opacity 0.35s ease 0s, -moz-transform 0.35s ease 0s;

	-o-transition: opacity 0.35s ease 0s, -o-transform 0.35s ease 0s;

	-webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;

	-khtml-transition: opacity 0.35s ease 0s, -khtml-transform 0.35s ease 0s;

}

.cart_button {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 2px solid #fff;

    color: #fff;

    font-weight: 700;

    padding: 6px 12px 4px;

    position: relative;

    text-transform: uppercase;

    top: 40%;

}

.cart_button_res{

	background-color:#fff;

    border: 2px solid #656565;

    color: #656565;

    font-weight: 700;

    padding: 6px 12px 4px;

    position: relative;

    text-transform: uppercase;

    top: 40%;

	display:none;

}

.cart_button:hover {

	 background: #fff;

	 color: #000000;

	 transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

.cart_button_res:hover{

	background: #000;

	color: #fff;

	border: 2px solid #000;

	transition:all 300ms ease 0s;

	-moz-transition:all 300ms ease 0s;

	-khtml-transition:all 300ms ease 0s;

	-o-transition:all 300ms ease 0s;

	-webkit-transition:all 300ms ease 0s;

}

.wishlist_button {

    bottom: 0;

	padding:0;

    float: left;

    left: 0;

    position: absolute;

	width:37px;

	height:38px;

	border-top:1px solid #fff;

	border-right:1px solid #fff;

	border-left:medium none;

	border-bottom:medium none;

	background:url(../image/megnor/sprite.png) no-repeat scroll 6px -473px transparent;

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

.wishlist_button:hover {

	background:url(../image/megnor/sprite.png) no-repeat scroll 6px -508px #fff;

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

.compare_button{

	bottom: 0;

	padding:0;

    float: left;

    right: 0;

    position: absolute;

	width:37px;

	height:38px;

	border-top:1px solid #fff;

	border-left:1px solid #fff;

	border-right:medium none;

	border-bottom:medium none;

	background:url(../image/megnor/sprite.png) no-repeat scroll 6px -543px transparent;

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

.compare_button:hover {

	background:url(../image/megnor/sprite.png) no-repeat scroll 6px -578px #fff;

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

}

.productpage .col-sm-4 > h4 {

    font-size: 20px;

}

.product-info .product-image .customNavigation span.prev{

	background: url(../image/megnor/sprite.png) no-repeat scroll -3px 6px #fff;

    border-radius: 0;

	-webkit-border-radius: 0;

	-khtml-border-radius: 0;

	-moz-border-radius: 0;

	-o-border-radius: 0;

    color: #ffffff;

    cursor: pointer;

    height: 35px;

    left: 8px;

    opacity: 1;

	-moz-opacity: 1;

	-khtml-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

    width: 35px;

	border:medium none;

}

.product-info .product-image .customNavigation span.next {

    background: url(../image/megnor/sprite.png) no-repeat scroll -34px 6px #fff;

    border-radius: 0;

	-webkit-border-radius: 0;

	-khtml-border-radius: 0;

	-moz-border-radius: 0;

	-o-border-radius: 0;

    color: #ffffff;

    cursor: pointer;

    height: 35px;

    opacity: 1;

	-moz-opacity: 1;

	-khtml-opacity: 1;

	-webkit-opacity: 1;

	-o-opacity: 1;

    right: 8px;

    width: 35px;

	border:medium none;

}

.product-info .product-image .customNavigation span.prev:hover, .product-info .product-image .customNavigation span.next:hover {

    background-color: #ffcb3e;

    opacity: 0.57;

	-moz-opacity: 0.57;

	-webkit-opacity: 0.57;

	-khtml-opacity: 0.57;

	-o-opacity: 0.57;

    text-decoration: none;

}

.form-group.qty {

    border-top: 1px solid #e4e4e4;

    padding: 15px 0 0;

}

.qty .control-label {

    float: left;

    margin: 10px 8px 0 0;

}

.related-products {

    position: relative;

}

#input-quantity {

    display: inline-block;

    float: left;

    width: auto;

	margin-right:20px;

	height:32px;	

}

.qty #button-cart {

    background-color: #fff;

    border: 2px solid #656565;

    color: #656565;

    font-size: 12px;

    font-weight: 700;

    padding: 7px 12px 5px;

    text-transform: uppercase;

    width: auto;

}

.qty #button-cart:hover {

    background-color: #000;

    border: 2px solid #000;

    color: #fff;

	}

#wishlist {

    border: medium none;

    margin-right: 10px;

    text-transform: uppercase;

	margin: 6px 0;

    padding: 0 10px 0 0;

	border-right:1px solid #656565;

	font-weight:400;

}

#wishlist:hover, #compare:hover{color:#ffcb3e; background-color:#fff;}

#compare{border:medium none; text-transform:uppercase; margin-left: 10px;

    padding: 6px 0; font-weight:400;}

#product .alert.alert-info {

    margin-bottom: 10px;

}

#product .btn.btn-default {

    font-size: 14px;

	padding:7px 12px;

}

.productpage .col-sm-12 {

    margin-top: 30px;

}

table thead tr td {

    background-color: #f6f6f6;

    font-weight: 700;

	border: medium none !important;

	color:#1a1a1a;

}	

.shopping-cart table td .form-control {

    float: left;

    width: auto;

}

.shopping-cart table td .input-group-btn{display:inline-block;}

.shopping-cart table td .input-group.btn-block .btn-primary {

    display: inline-block;

    margin: 0 5px;

}

#accordion .panel-heading .fa.fa-caret-down {

    float: right;

}

.shipping .col-sm-2.control-label, #input-coupon, #input-voucher {

    width: auto;

}

.shopping-cart #accordion .panel select {

    width: 95% !important;

}

.cart-total table tbody tr td {

}

.cart-total table{width:auto;}	

.cart-total .col-sm-4.col-sm-offset-8 {

    float: right;

    width: auto;

}

.shopping-cart h3 {

    color: #363636;

    font-size: 16px;

    font-weight: 700;

}

.shopping-cart #collapse-voucher .col-sm-2, .shopping-cart #collapse-coupon .col-sm-2 {

    width: 30.667%;

	margin-top:8px;

}

.modal-dialog .btn.btn-default, .modal-dialog #button-shipping{background-color:#fff; border-color:#656565; color:#656565;}

.modal-dialog .btn.btn-default:hover, .modal-dialog #button-shipping:hover{background-color:#000; border-color:#000; color:#fff;}

.col-sm-3.address > strong {

    color: #363636;

}

.map {

    float: right;

    padding: 0 15px;

}

.col-sm-3.address{font-size:14px;}

.site-map {

    border: 1px solid #e4e4e4;

    line-height: 25px;

}

.site-map .col-sm-6 {

    margin-top: 15px;

}

.common-home .alert.alert-success, .common-home .alert.alert-info {

    margin: 0 auto;

    width: 1200px;

}

.col-sm-3.category_list {

    width: 100%;

}

.col-sm-3.category_list > ul {

    list-style: outside none none;

    margin: 0;

    padding: 0;

}

.col-sm-3.category_list li {

    background: none repeat scroll 0 0 #f6f6f6;

    display: inline !important;

    float: left;

    margin: 0px 5px 10px 0;

    padding: 5px;

}

#tab-review #review .fa-stack {

    height: 1em;

    width: 1em;

}

.image1 {

    background: url(../image/megnor/cms-sprite.png) no-repeat scroll 7px -176px rgba(0, 0, 0, 0);

    float: left;

    height: 50px;

    width: 60px;

}

.image2 {

    background: url(../image/megnor/cms-sprite.png) no-repeat scroll 7px -116px rgba(0, 0, 0, 0);

    float: left;

    height: 50px;

    width: 60px;

}

.image3 {

    background: url(../image/megnor/cms-sprite.png) no-repeat scroll 7px -56px rgba(0, 0, 0, 0);

    float: left;

    height: 50px;

    width: 60px;

}

.image4 {

    background: url(../image/megnor/cms-sprite.png) no-repeat scroll 7px 2px rgba(0, 0, 0, 0);

    float: left;

    height: 50px;

    width: 60px;

}

.aboutus {

    display: inline-block;

    margin-bottom: 15px;

}

.about-content {

    margin-left: 60px;

}



/* footer */

.common-home footer {

	margin-top: 0px;

	background-color: #fff;

	border-top: medium none;

	color: #656565;

	margin-bottom:21px;

	text-transform:uppercase;

}

footer {

	margin-top: 20px;

	background-color: #fff;

	border-top: medium none;

	color: #656565;

	margin-bottom:21px;

	text-transform:uppercase;

}

.advt1, .advt2, .advt3 {

	text-transform:uppercase;

}

footer hr {

	border-top: none;

	border-bottom: 1px solid #dcdcdc;

}

footer a {

	color: #656565;

}

#footer .column li a {

  }

footer a:hover {

	color: #ffbb01;

}

#footer .col-sm-3.column {

    padding: 0 0 0 44px;

    width: 13%;

	line-height:30px;

}

footer h5 {

	font-size: 16px;

	font-weight: 700;

	color: #363636;

	margin-bottom:15px;

	margin-top:2px;

}

.footer-bottom-left {

    border-right: 1px solid #cdcdcd;

    float: left;

    width: 50%;

	padding:0 50px 0 145px;

}



.footer-bottom-right {

    float: right;

    width: 50%;

	padding:0 0 0 50px;

}



#links li {

    display: inline-block;

    margin: 0px;

    padding: 0 5px 0 1px;

	background:url(../image/megnor/bkg_pipe1.gif) no-repeat scroll right 4px transparent;

}

#links li.first{

    margin: 0;

    padding-left: 0;

}

#links li:last-child {

     background:none;

    padding-right: 0;

}

#contact_info > ul {

    list-style: outside none none;

    margin: 0;

    padding: 0;

    text-align: right;

}

#links > ul, .Social_block > ul  {

    list-style: outside none none;

    margin: 0;

    padding: 0;

	}

.email {

    font-size: 10px;

    margin: 8px 0;

}

.developed {

    position: relative;

    top: 28px;

	font-size:10px;

}

.Social_block {

    position: relative;

    top: 30px;

}

#footer > p {

    left: 37px;

    position: relative;

    top: -30px;

	height:0;

}

.cms-advt-banner{overflow:hidden;}

.Social_block li{display:inline-block; margin-right:12px;}

#footer{

	position:relative;  

	overflow: hidden;

    padding: 38px 0 10px;

    width: 100%;

	}

.Social_block {

    position: relative;

    top: 35px;

}

#footer > p {

    bottom: 74px;

    float: right;

    position: absolute;

    right: 47px;

    width: 42%;

	left:auto;

	top:auto;

}

.email .fa.fa-envelope {

    color: #656565;

    font-size: 10px;

    margin-right: 5px;

}

.contact .fa.fa-phone {

    font-size: 10px;

    margin-right: 5px;

}

.contact{font-size:10px;}

	

@media (max-width: 979px) {

#footer .column ul {

    display: none;

}

#footer .column {

    width: 100%;

}

}

/* alert */

.alert {

	padding: 8px 14px 8px 14px;

}

/* breadcrumb */

.breadcrumb {

	margin: 0;

	padding: 0;

	border: medium none;

}

.breadcrumb i {

	font-size: 15px;

}

.breadcrumb > li {

	position: relative;

	white-space: nowrap;

}

.breadcrumb > li + li:before {

	content: '';

	padding: 0;

}

.breadcrumb > li:after {}

.breadcrumb > li:last-child a{color:#ffbb01;}

.pagination {

	margin: 0;

}

/* buttons */

.buttons {

	margin: 1em 0;

}

.btn {

	padding: 7.5px 12px;

	font-size: 12px;

	border: 1px solid #cccccc;

	border-radius: 0px;

	-webkit-border-radius: 0;

	-khtml-border-radius: 0;

	-moz-border-radius: 0;

	-o-border-radius: 0;

}

.btn-xs {

	font-size: 9px;

}

.btn-sm {

	font-size: 10.2px;

}

.btn-lg {

	padding: 10px 16px;

	font-size: 15px;

}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {

	font-size: 12px;

}

.btn-group > .btn-xs {

	font-size: 9px;

}

.btn-group > .btn-sm {

	font-size: 10.2px;

}

.btn-group > .btn-lg {

	font-size: 15px;

}

.btn-default {

	color: #777;

	background-color: #e7e7e7;

	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);

	background-repeat: repeat-x;

	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;

}

.btn-primary, .buttons .btn {

	color: #656565;

	background-color: #fff;

	border: 2px solid #656565 ;

	text-transform:uppercase;

	font-size:12px;

}

.form-group .input-group .btn.btn-default{font-size:14px;}

#button-search {

    margin-bottom: 10px;

}

.buttons .btn:hover, .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {

	background-color: #000;

	border: 2px solid #000;

	color:#fff;

}

.btn-warning {

	color: #ffffff;

	background-color: #faa732;

	background-image: linear-gradient(to bottom, #fbb450, #f89406);

	background-repeat: repeat-x;

	border-color: #f89406 #f89406 #ad6704;

}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {

	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

	-khtml-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

	-o-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

}

.btn-danger {

	color: #ffffff;

	background-color: #da4f49;

	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);

	background-repeat: repeat-x;

	border-color: #bd362f #bd362f #802420;

}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {

}

.btn-success {

	color: #ffffff;

	background-color: #5bb75b;

	background-image: linear-gradient(to bottom, #62c462, #51a351);

	background-repeat: repeat-x;

	border-color: #51a351 #51a351 #387038;

}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {

	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);

}

.btn-info {

	color: #ffffff;

	background-color: #df5c39;

	background-image: linear-gradient(to bottom, #e06342, #dc512c);

	background-repeat: repeat-x;

	border-color: #dc512c #dc512c #a2371a;

}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {

	background-image: none;

	background-color: #df5c39;

}

.btn-link {

	border-color: rgba(0, 0, 0, 0);

	cursor: pointer;

	color: #23A1D1;

	border-radius: 0;

	-webkit-border-radius: 0;

	-khtml-border-radius: 0;

	-moz-border-radius: 0;

	-o-border-radius: 0;

}

.btn-link, .btn-link:active, .btn-link[disabled] {

	background-color: rgba(0, 0, 0, 0);

	background-image: none;

	box-shadow: none;

}

.btn-inverse {

	color: #ffffff;

	background-color: #363636;

	background-image: linear-gradient(to bottom, #444444, #222222);

	background-repeat: repeat-x;

	border-color: #222222 #222222 #000000;

}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {

	/*background-color: #222222;

	background-image: linear-gradient(to bottom, #333333, #111111);*/

}



#spinner {

position: absolute;

left: 0px;

top: 0px;

width: 100%;

height: 100%;

z-index: 9999;

background: url("../image/megnor/ajax-loader.gif") 50% 50% no-repeat #f3f3f3;

}

.main-slider {

    position: relative;

}

.category-page .col-sm-6.text-left {

    float: left;

}

.col-sm-6.text-right.pages {

    float: right;

    width: 45%;

}



@media (max-width: 767px) { 

.btn-list-grid {display:block;}

.control-label {margin: 8px 0;}

 }



/* list group */



.box .filterbox { 

	border:1px solid #e4e4e4;

}

.filterbox label {

    font-weight: 400;

}

.filterbox .list-group-item {

    padding: 0 15px;

}

.filterbox .list-group div.list-group-item-name {

    font-weight: 700;

    padding: 10px 15px 5px;

}

#cart button .fa.fa-shopping-cart {display: none;}

.filterbox .panel-footer {

    background-color: #fff;

    border-bottom-left-radius: 0px;

    border-bottom-right-radius: 0px;

    border-top: medium none;

    padding: 10px 15px;

    text-align: left;

}

.list-group a {

	border-top: medium none;

	color: #656565;

	padding: 8px 12px;

	background: none repeat scroll 0 0 #fff;

	text-transform:uppercase;

}

.box .slider-pagination {

    display: none;

}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {

	color: #ffbb01;

	background: #fff;

}

.filterbox .list-group a.active, .filterbox .list-group a.active:hover, .filterbox .list-group a:hover{color:#656565;}



/* carousel */

.carousel-caption {

	color: #FFFFFF;

}

.carousel-control .icon-prev:before {

	content: '\f053';

	font-family: FontAwesome;

}

.carousel-control .icon-next:before {

	content: '\f054';

	font-family: FontAwesome;

}

/* product list */

.product-thumb {

	border: medium none;

	margin-bottom: 20px;

	overflow: auto;

}

.product-thumb .image {

	text-align: center;

	position:relative;

}

.product-thumb .image a {

	display: block;

}

.product-thumb .image a:hover {

	opacity: 1;

	-moz-opacity: 1;

	-webkit-opacity: 1;

	-khtml-opacity: 1;

	-o-opacity: 1;

	

}

.product-thumb .image img {

	margin-left: auto;

	margin-right: auto;

	/*width:100%;

	max-width:none;*/

}

.product-grid .product-thumb .image {

	float: none;

}

.product-grid .res-actions {

    display: none;

}

.res-cart_button{ 

	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 2px solid #656565;

    color: #656565;

    font-weight: 700;

    padding: 6px 12px 4px;

    position: relative;

    text-transform: uppercase;

    top: 40%;

	display:block;

	margin:10px 0 19px;

	}

.res-cart_button:hover{

	background-color:#000000; 

	color:#fff; 

	border: 2px solid #000000; 

	transition:all 300ms ease 0s;

	 -moz-transition:all 300ms ease 0s;

	 -khtml-transition:all 300ms ease 0s;

	 -o-transition:all 300ms ease 0s;

	 -webkit-transition:all 300ms ease 0s;

	 }

.res-wishlist_button{

	background-color:#fff;

	border:medium none;

    position: relative;

	padding:0;

	margin:0 10px 0 0 ;

	text-transform:uppercase;

	}

.res-wishlist_button:hover, .res-compare_button:hover{color:#ffbb01;}

.res-compare_button{

	background-color:#fff;

	border:medium none;

    position: relative;

	padding:0;

	margin:0 10px 0 0 ;

	color:#656565;

	text-transform:uppercase;

	}

.col-sm-3.category_list > ul {

    padding: 0;

}

.col-sm-3.category_list li {

    display: inline-block;

}

.category_filter .col-md-2.text-right, .category_filter .col-md-1.text-right {

    margin-top: 8px;

}

.category_filter .col-md-2.text-right.limit{margin-top:0;}	

.product-grid .caption {text-align: center;}

.btn-list-grid #list-view:hover, .btn-list-grid #list-view:active, .btn-list-grid #list-view:focus{background-position:-38px -231px;}

.btn-list-grid #grid-view:hover, .btn-list-grid #grid-view:active, .btn-list-grid #grid-view:focus{background-position:-7px -231px;}

.col-sm-6.text-right.pages {margin: 10px 0 0;}

.row.category_filter {margin: 0;}



@media (min-width: 767px) {

.product-list .product-thumb .image {

	float: left;

	margin: 0 20px 0 0;

}

}

.product-block .caption h4 {

    margin: 6px 0 5px;

	font-weight:normal;

	font-size:13px;

	text-transform:uppercase;

}

.product-list .product-block .caption h4{margin:0 0 16px;}

.product-block:hover .caption a{color:#ffbb01;}

#column-left .product-block:hover .caption a, #column-right .product-block:hover .caption a{color:#656565;}

.product-block .caption a:hover{color:#ffbb01;}

.product-list .product-thumb .caption {

	padding: 25px;

}

.product-thumb .caption {

	padding:15px 0 0;

	}

.product-list .product-thumb .caption {

	margin-left: 307px;

	border:1px solid #e4e4e4;

	min-height:332px;

}

.product-list .caption > p{line-height:25px;}

.category_filter label{font-weight:400;}

@media (max-width: 1200px) {

.product-grid .product-thumb .caption {

	padding: 0 10px;

}

}

@media (max-width: 767px) {

.product-list .product-thumb .caption {

	min-height: 0;

	margin-left: 0;

	padding: 0 10px;

}

.product-grid .product-thumb .caption {

	min-height: 0;

}

}



.product-thumb .rating {

    bottom: 0;

    left: 31%;

    padding-bottom: 10px;

    position: absolute;

}

.rating .fa-stack {

	font-size: 8px;

}

.rating .fa-star{

	color: #e5e4e4;

	font-size: 15px;

}

.rating .fa-star + .fa-star{

	color: #ffcb3e;

}

#tab-review #review .fa.fa-star.fa-stack-2x, #tab-review #review .fa.fa-stack{color: #ffcb3e; }

h2.price {

	margin: 0;

}

.product-thumb .price {

	color: #000000;

	font-size:13px;

	font-weight:700;

	

}

.product-thumb .price-new {

	font-weight: 700;

}

.product-grid .caption .price-old, .product-grid .caption .list-rating{display:none;}

.product-thumb .price-old {

	color: #999;

	text-decoration: line-through;

	margin-left: 5px;

}

.product-thumb .price-tax {

	color: #999;

	font-size: 12px;

	display: none;

}

.product-thumb .button-group {

	border-top: 1px solid #ddd;

	background-color: #eee;

	overflow: auto;

}

.product-list .product-thumb .button-group {

	border-left: 1px solid #ddd;

}

#list-view {

    background: url("../image/megnor/sprite.png") no-repeat scroll -38px -203px transparent;

    border: medium none;

    height: 27px;

    width: 27px;

}

#grid-view {

    background: url("../image/megnor/sprite.png") no-repeat scroll -7px -203px transparent;

    border: medium none;

    height: 27px;

    width: 27px;

}

.product-list .hover_block{display:none;}

.product-list .product-thumb .rating{position:relative; left:0; padding-bottom:22px;}

@media (max-width: 768px) {

.product-list .product-thumb .button-group {

	border-left: none;

}

}

.product-thumb .button-group button {

	width: 60%;

	border: none;

	display: inline-block;

	float: left;

	background-color: #eee;

	color: #888;

	line-height: 38px;

	font-weight: bold;

	text-align: center;

	text-transform: uppercase;

}

.product-thumb .button-group button + button {

	width: 20%;

	border-left: 1px solid #ddd;

}

.product-thumb .button-group button:hover {

	color: #444;

	background-color: #ddd;

	text-decoration: none;

	cursor: pointer;

}

@media (max-width: 1200px) {

.product-thumb .button-group button, .product-thumb .button-group button + button {

	width: 33.33%;

}

}

@media (max-width: 767px) {

.product-thumb .button-group button, .product-thumb .button-group button + button {

	width: 33.33%;

}

}









.thumbnails {

	overflow: auto;

	list-style: none;

	padding: 0;

	margin: 0;

}

.thumbnails > li {

	margin-left: 20px;

}

.left.product-image.thumbnails > li {

    margin-left: 0;

}

.thumbnails {

	margin-left: -20px;

}

.thumbnails > img {

	width: 100%;

}

.image-additional a {

	margin-bottom: 20px;

	padding: 5px;

	display: block;

	border: medium none;

}

.image-additional {

}

.thumbnails .image-additional {

	/*float: left;*/

}



	 

@media (min-width: 1200px) {

	#content .col-lg-2:nth-child(6n+1),

	#content .col-lg-2:nth-child(6n+1),

	#content .col-lg-3:nth-child(4n+1),

	#content .col-lg-4:nth-child(3n+1),

	#content .col-lg-6:nth-child(2n+1) {

		clear:left;

	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	#content .col-md-2:nth-child(6n+1),

	#content .col-md-2:nth-child(6n+1),

	#content .col-md-3:nth-child(4n+1),

	#content .col-md-4:nth-child(3n+1),

	#content .col-md-6:nth-child(2n+1) {

		clear:left;

	}

}

@media (min-width: 768px) and (max-width: 991px) {

	#content .col-sm-2:nth-child(6n+1),

	#content .col-sm-2:nth-child(6n+1),

	#content .col-sm-3:nth-child(4n+1),

	#content .col-sm-4:nth-child(3n+1),

	#content .col-sm-6:nth-child(2n+1) {

		clear:left;

	}

}



#input-captcha, #input-payment-captcha {

    margin-bottom: 10px;

}



.product-info .image {

	border-radius: 0px;

	-webkit-border-radius: 0;

	-khtml-border-radius: 0;

	-moz-border-radius: 0;

	-o-border-radius: 0;

	display:block;

	margin-bottom: 15px;

	text-align: center;

	float:right;

}

#content.productpage #product h3 {margin-top:0; font-size:16px;}

.product-info .zoomContainer{ z-index:9; }/* It need for ie7 */

.product-info .additional-carousel{ position:relative; margin-left:20px; display:none; }

.product-info .image-additional {

	clear: both;

	overflow: hidden;

	padding-left: 20px;

    padding-right: 20px;

	width:408px;

	

}

/* vertical slider*/

#vertical_latest_product1 {

    border: medium none;

    display: inline-block;

    float: left;

    height: 550px;

    margin-bottom: 0;

    padding: 8px;

    position: relative;

    width: 90px;

}

#vertical_latest_product1 .jcarousel-container-vertical, #vertical_latest_product1 .jcarousel-clip-vertical .slider-item {

    height: 100px;

    padding: 0;

    width: 100%;

}

#vertical_latest_product1 .jcarousel-clip-vertical {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    height: 378px;

    margin: 50px 0 0;

    overflow: hidden;

    padding: 0;

    width: 100%;

}

#vertical_latest_product1 .jcarousel-clip-vertical li {

    clear: both;

    margin: 5px 0 10px;

    width: 100%;

}

#vertical_latest_product1 .jcarousel-clip-vertical li a, #vertical_latest_product1 .jcarousel-clip-vertical .slider-item a {

    background: none repeat scroll 0 0 #fff;

    border: medium none;

    display: block;

    text-align: center;

}

#vertical_latest_product1 .jcarousel-clip-vertical li a img, #vertical_latest_product1 .jcarousel-clip-vertical .slider-item a img {

    height: 70px;

    max-width: 100%;

    width: 70px;

}

#vertical_latest_product1 .jcarousel-prev-vertical, #vertical_latest_product1 .jcarousel-next-vertical {

    border: medium none;

    cursor: pointer;

    height: 26px;

    position: absolute;

    width: 35px;

}

#vertical_latest_product1 .jcarousel-prev-vertical {

    background: url("../image/megnor/sprite.png") no-repeat scroll -7px -908px #cecece;

    left: 24px;

    top: -42px;

    transition-duration: 800ms;

	-moz-transition-duration: 800ms;

	-webkit-transition-duration: 800ms;

	-khtml-transition-duration: 800ms;

	-o-transition-duration: 800ms;

}

#vertical_latest_product1 .jcarousel-next-vertical {

    background: url("../image/megnor/sprite.png") no-repeat scroll -42px -908px #cecece;

    left: 24px;

    top: 385px;

    transition-duration: 800ms;

	-moz-transition-duration: 800ms;

	-webkit-transition-duration: 800ms;

	-khtml-transition-duration: 800ms;

	-o-transition-duration: 800ms;

}

#vertical_latest_product1 .product-block .thumbnail{margin-bottom:0;}







.product-info .image-additional img {}

.product-info .image-additional a {

	/*float: left;*/

	display: block;	

}

.flexslider .slides img {

	width: inherit;

}

.flexslider.carousel .slides img {

	width: auto;

}

.productpage .col-sm-8 {

    float: left;

    margin: 0;

    width: 51%;

}

.slides {

	padding: 0;

	margin:0;

	list-style: none;

}

.slides li {

	text-align: center;

}

.slides li img {

	text-align: center;

}

.flex-direction-nav a:before {

	line-height: 40px;

}

.affiliate-account .btn-primary .list-group-item,.affiliate-account .btn-primary .list-group-item:hover{padding:0;background:none;color:#fff;}

.affiliate-logout { border: medium none ;padding: 10px 0;}

.affiliate-logout .btn a{padding:0;}

.affiliate-logout .btn:hover, .affiliate-logout .btn:hover a, .affiliate-logout .btn a:hover {background-color:#363636; border-color:#363636; color:#fff;}





<!-- Megnor www.templatemela.com Start -->



.box {

	margin-bottom:12px;

}

.box .box-heading {

    background: none repeat scroll 0 0 #fff;

    color: #363636;

    font-size: 16px;

    font-weight: 700;

    padding: 6px 0 14px;

	text-transform:uppercase;

}

#content h3, legend{

	background: none repeat scroll 0 0 transparent;

    color: #363636;

    font-size: 16px;

    font-weight: 700;

	}

#content .prod-price h3{font-size:20px;}

.box .box-content {

	background: #fff;

	border: 1px solid #e4e4e4;

	padding:10px; 

}

.box-content .customNavigation, .related-products .customNavigation {

    display: none;

}

.box-content:hover .customNavigation, .related-products:hover .customNavigation  {

    display: block;

}



#content .box .box-heading, .cms-box-heading {

	background: url(../image/megnor/title.png) no-repeat scroll center 25px transparent;

	padding: 0 0 20px;

	font-size: 16px;

	color: #363636;

	text-align:center;

	font-weight:700;

	text-transform:uppercase;

}

#content .box .box-content {

	background: none;

	-webkit-border-radius: 0px;

	-moz-border-radius: 0px;

	-khtml-border-radius: 0px;

	border-radius: 0px;

	border:none;

	padding:10px 0;

	position:relative;

 

}



.box .box-content ul , #content .content ul { 

	padding:0px;

	margin:0px;

	list-style:none;

}

.box .box-content ul li , #content .content ul li {

	line-height:22px;

	padding:4px 0;

}

.box .box-content ul li a , #content .content ul li a{

}

.box .box-content ul li a + a , .box .box-content ul li a + a:hover{ background:none; padding-left:0; }

.box .box-content ul li a:hover , #content .content ul li a:hover{

}



.box .box-content ul ul{

	margin-left:15px;

}







/* Product Grid Start */

.product-grid-list { }

#content .box-product,

.product-grid-list ul{ 

	list-style-type: none;

	position:relative;

	width: 100%;

	padding:0px;

	margin:0px;

	list-style: none;

	overflow: hidden;

}



.product-grid-list ul li,

#content .box-product .product-items { 

	margin-bottom: 14px;

	padding: 0;

	margin:0;

	position:relative;

	overflow: hidden;

}

.product-grid .caption > p {

    display: none;

}

.product-grid .caption .price{display:block;}

.product-grid li,

#content .box-product .product-items,

#content .product-carousel .slider-item {

	width:185px;

	float:left;

	display: inline-block;

}

 

.ie7 .product-grid li{ width:192px !important; }

#content .image-additional .slider-item{	

	display: inline-block;

    float: left;

}



#content .image-additional .slider-item .product-block{	

	margin:4px 2px; 

	background:#fff;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	-khtml-border-radius: 3px;

	-o-border-radius: 3px;

	clear:both;

	overflow:hidden;

}



#content .image-additional .slider-item .product-block:hover {   box-shadow: none !important; }	

.product-block-inner {position: relative;}



.grid_default_width { width:250px;}

.featured_default_width{ width:250px;}

.module_default_width{ width:185px;}

.latest_default_width{ width:250px;}

.special_default_width{ width:250px;}

.related_default_width{ width:250px;}

.bestseller_default_width{ width:250px;}

.additional_default_width{ width:80px;}

.testimonial_default_width{width:200px;}

.testcms_default_width{width:350px;}

.banners-slider-carousel .product-block-inner{text-align:center;}



#content .product-carousel .product-block,

#content .product-grid-list  .product-block,

#content .box-product .product-block{ 

	margin:5px 3px; 

	background:#fff;

	border:medium none;

	clear:both;

	overflow:hidden;

}



#content .product-carousel .product-block:hover,

#content .product-grid-list .product-block:hover,

#content .box-product .product-block:hover {

	overflow:hidden;

	clear:both;

}



.ie7 #content .product-carousel .product-block,

.ie7 #content .product-grid-list .product-block,

.ie7 #content .box-product .product-block {border:1px solid #ddd;}



.ie7 #content .product-carousel .product-block:hover,

.ie7 #content .product-grid-list .product-block:hover,

.ie7 #content .box-product .product-block:hover {border:1px solid #ddd;}





#content .product-carousel .product-block-inner,

#content .product-grid-list .product-block-inner,

#content .box-product .product-block-inner{ padding:10px 5px; text-align:center; overflow:hidden; position:relative; margin:0;}





.banners-slider-carousel {

    margin-bottom: 15px;

    position: relative;

    width: 100%;

}



.sale{	background-color: #ffba00;

	color: #fff;

	padding: 2px 4px 1px;    

	text-align: right;

    text-transform: uppercase;	

	position:absolute;

	top:0px;

	right:1px;

	font-weight:700;

	}

	

/* box products for Left Column and Right Column */

#column-left .box-product,

#column-right .box-product {

	width: 100%;

	overflow: hidden;

}

#column-left .box-product > div,

#column-right .box-product > div  {

	display:block;

	vertical-align: top;

	margin-right:0px;

	margin-bottom: 5px;	

	width:100%;

}

#column-left .product-thumb .caption{padding:0; margin-left:70px;}

#column-left .box .box-content div.product-items:last-child > div, #column-right .box .box-content div.product-items:last-child > div,

#column-left .box .box-content div.slider-item:last-child > div, #column-right .box .box-content div.slider-item:last-child > div {

    border: 0 none;

}



#column-left .box-product .image,

#column-right .box-product .image {

	display: block;

	margin-bottom: 8px;

	float:left;

	margin-right:10px;

}

#column-left .box-product .product-thumb h4, #column-right .box-product .product-thumb h4 {font-weight:normal; font-size:13px; margin:6px 0 11px;}

#column-left .box-product .name,

#column-right .box-product .name {

	display: block;

}

#column-left .box-product .cart,

#column-right .box-product .cart {

	display: block;

}

#column-left .box-product .cart .button,

#column-right .box-product .cart .button{

	padding:0; background:none;box-shadow:none; height:auto;

	font-weight:normal;

	border-radius:0;

	-khtml-border-radius:0;

	-webkit-border-radius:0;

	-o-border-radius:0;

	-moz-border-radius:0;

	color:#555;

	display:block;

	text-align:left;

}

#column-left .box-product .cart .button:hover,

#column-right .box-product .cart .button:hover { text-decoration:underline;}

#column-left .box-product .image img,

#column-right .box-product .image img {width:100%;}



#column-left .box-product .rating,

#column-right .box-product .rating,

#column-left .box-product .name,

#column-right .box-product .name,

#column-left .box-product .price,

#column-right .box-product .price,

#column-left .box-product .cart,

#column-right .box-product .cart { margin-bottom:0px;  }



#column-left .box .box-content, #column-right .box .box-content, #banner0 {margin-bottom:19px;}

#banner0 {

    margin-top: 19px;

}

#column-left .box-product .rating,

#column-right .box-product .rating {

	display: block;

	margin-bottom: 0px;

}

#column-left .product-thumb, #column-right .product-thumb {

	border-bottom:1px solid #e4e4e4;

	margin-bottom:5px;

	padding-bottom:5px;

}

#column-left .sale, #column-left .rating, #column-left .price-tax, #column-left .wishlist_button , #column-left .compare_button,

#column-right .sale, #column-right .rating, #column-right .price-tax, #column-right .wishlist_button , #column-right .compare_button {display:none !important;}

#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button  {   

	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

    padding: 0;

    width: auto;line-height: 27px;}	

#column-left .product-thumb .button-group, #column-right .product-thumb .button-group {background:none; border:none; margin-left:65px;}



.top_button {

    background: url("../image/megnor/top_arrow.png") no-repeat scroll 0 0 transparent;

	width:33px;

	height:33px;

	font-size:0;

   

}

#content ul.list-unstyled {  border: medium none;

    margin-bottom: 10px;

    overflow: auto;

    padding: 0px;

}

.productpage .list-unstyled h3 {

    color: #000;

    font-size: 20px;

    font-weight: 700;

}

.productpage .list-unstyled span {

    color: #aeaeae;

    float: left;

    font-size: 18px;

    margin-right: 5px;

}

#content ul.list-unstyled li {

    line-height: 22px;

    padding: 4px 0;

}

.manufacturer-list {

    border: 1px solid #dbdee1;

    margin-bottom: 20px;

    padding: 5px;

}

.manufacturer-heading {

    background: none repeat scroll 0 0 #f8f8f8;

    font-size: 15px;

    font-weight: bold;

    margin-bottom: 6px;

    padding: 5px 8px;

}

.manufacturer-content {

    padding: 8px;

}

.manufacturer-list ul {

    float: left;

    list-style: outside none none;

    margin: 0 0 10px;

    padding: 0;

    width: 25%;

}

#column-left .flexslider, #column-right .flexslider { margin: 0 0 20px; box-shadow: 0 0; border-radius:0; -khtml-border-radius:0;

	-webkit-border-radius:0;

	-o-border-radius:0;

	-moz-border-radius:0;}

.category_filter .sort .form-control {cursor:pointer;}

.productpage .box {margin-top:20px;}

.tab-content {

   border:medium none;

    padding:10px 0px;

	overflow:hidden;

	line-height:20px;

}

.col-sm-4.total_amount { margin-top: 70px;}

.modal-dialog h3 {

    font-size: 14px;

    font-weight: 700;

}

.modal-dialog .about-content {

    font-size: 12px;

}

.product-compare table tbody tr td{text-align:center; white-space:inherit !important;}

.account-wishlist .btn.btn-primary{padding:6px 11px 4px;}

.res-left {float: none;}

.productpage .tab-content #tab-review .col-sm-12 > input{vertical-align:-2px;}

.col-md-4.btn-list-grid {width: auto; float:left; padding:0;}

.compare-total {float: left; margin: 8px 10px 0;}

.pagination-right {float: right; margin: 0; width: auto;}

.sort-by-wrapper, .show-wrapper {float: left;}

.category_filter .sort-by {

    float: left;

    margin: 8px 10px 0 0;

    padding: 0;

    width: auto;

}

.category_filter .sort {

    float: left;

    padding: 0;

    width: 150px;

}

.category_filter .show {

    float: left;

    margin: 8px 10px 0;

    padding: 0;

}

.category_filter .limit {

    float: right;

    padding: 0;

    width: 100px;

}

.category_filter .pagination-right .form-control{padding:7px 12px;}

.tm-about-description {padding: 0 23px 0 0;}

.account-account #content, .affiliate-account #content {margin-top: 10px;}

.account-transaction table td.text-right, .affiliate-transaction table td.text-right{border-left:none;border-right: 1px solid #ddd !important;}

.account-transaction .table-bordered>tbody>tr>td, .affiliate-transaction .table-bordered>tbody>tr>td{border-left:none;border-right: 1px solid #ddd !important;}

#product #button-upload222 {

    padding: 6px 12px;

    width: auto;

}

.account-address .btn.btn-info {

    padding: 5px 12px;

}

.account-login .alert-success{margin: 0 -15px 20px -15px;}

.product-compare .btn-primary {

    margin: 5px 0;

}

.product-compare .btn-danger{padding:6px 12px;}

#search .input-lg:focus{box-shadow:none;}

.category_img .img-thumbnail {width: 100%; border:medium none;}

.contact .panel-body {overflow: auto;}

#product .alert.alert-info {margin-left: 0; margin-right: 0;}

#tab-review .form-horizontal .form-group{margin:0;}

.category-container .alert.alert-success, .category-container .alert.alert-info, .product-search .alert.alert-info, .product-search .alert.alert-success, .account-wishlist .alert.alert-success, .account-account .alert.alert-success, .account-address .alert.alert-success {margin: 0 -15px 20px;}

.shopping-cart .btn.btn-danger {padding: 6px 12px;}

#button-coupon, #button-voucher{margin-left: 10px;}

.shopping-cart #accordion .input-group-btn {float: left;}

.account-address-edit select {width: 96% !important;}

.product-search .checkbox-inline{margin:8px 0;}

.account-order-info .btn.btn-danger {padding: 6px 12px;}





@media only screen and (min-width: 1024px) and (max-width: 1230px) {

	.common-home .alert.alert-success, .common-home .alert.alert-info{width:980px; margin:0 auto;}

	.header-left{width:185px;}

	.header-right{width:795px;}

	.nav-responsive span, .main-menu > ul > li > a{padding:20px 12px;}

	#menu > ul > li > div{left:-64px;}

	.homepage-testimonials-inner.products.block_content{width:980px;}

	.advt2{margin:0 17px; width:315px;}

	.advt1, .advt3{width:315px;}

	.advt1-inner-content{padding:12px 40px 13px;}

	.advt2-inner-content{padding:11px 30px 13px;}

	.advt3-inner-content{padding:12px 10px 13px;}

	.authr-now-left, .authr-now-right{width:284px;}

	.footer-bottom-left{padding:0 50px 0 72px;}

	#footer > p{right:29px;}

	#footer #about-block.col-sm-3.column{padding-right:27px; margin-right:16px; width:290px;}

	#footer #testcms.col-sm-3.column{width:39%; margin:0 17px 0 0;}

	#footer .col-sm-3.column{padding:0 0 0 23px; width:14%;}

	.product-list .product-thumb .caption{padding:25px 25px 22px;}

	.productpage .col-sm-8{width:62%;}

	.productpage .col-sm-4 {width: 38%;}

	.thumbnails{text-align:left;}

	.product-thumb .rating{left:26%;}

	.grid_default_width { width:210px;}

	.featured_default_width{ width:210px;}

	.latest_default_width{ width:210px;}

	.special_default_width{ width:210px;}

	.related_default_width{ width:210px;}

	.bestseller_default_width{ width:210px;}

	#testcms .customNavigation a.prev, #testcms .customNavigation a.next{top:-75px !important;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content {letter-spacing:0px;}



}

@media only screen and (min-width: 980px) and (max-width: 1024px) {

	.common-home .alert.alert-success, .common-home .alert.alert-info{width:940px; margin:0 auto;}

	.header-left{width:185px;}

	.header-right{width:755px;}

	.nav-responsive span, .main-menu > ul > li > a{padding:20px 8px;}

	#menu > ul > li > div{left:-100px;}

	.cms-banner-block .inner-cms-block .data img {width: 100%;}

	.cms-banner-block{width:860px;}

	.left-banner, .right-banner, .center-banner{width:33.3333%;}

	.left-top, .left-bottom{margin-right:5px;}

	.middle-banner {margin: 14px 9px;}

	.right-top, .right-bottom{margin-left:5px;}

	.left-top .heading1, .left-top .heading2{font-size:18px;}

	.left-bottom .heading1{font-size:16px;}

	.middle-banner .heading1{font-size:14px;}

	.left-bottom .heading2, .right-bottom .heading1{font-size:12px;}

	.left-top:hover .heading1 {padding: 117px 50px 110px;}

	.left-bottom:hover .content-text{bottom:39px;}

	.left-bottom:hover .heading2 {padding: 96px 45px 41px;}

	.left-bottom .heading2{padding:8px 45px;}

	.middle-banner .heading2, .right-top .heading2{font-size:19px;}

	.right-bottom:hover .heading1 {padding: 75px 48px 62px;}

	.right-bottom:hover .content-text{bottom:60px;}

	.homepage-testimonials-inner.products.block_content{width:940px;}

	.advt2{margin:0 18px; width:32%;}

	.advt1, .advt3{width:32%;}

	.advt1-inner-content{padding:12px 40px 13px;}

	.advt2-inner-content{padding:11px 30px 13px;}

	.advt3-inner-content{padding:12px 10px 13px;}

	#footer #about-block.col-sm-3.column{padding-right:27px; margin-right:16px; width:30%;}

	#footer #testcms.col-sm-3.column{width:37%; margin:0 12px 0 0;}

	#footer .col-sm-3.column{padding:0 0 0 23px; width:15%;}

	.authr-now-left, .authr-now-right{width:263px;}

	.footer-bottom-left{padding:0 40px 0 103px;}

	#footer > p{right:25px;}

	.product-grid .product-thumb .rating{left:24%;}

	.product-list .product-block .caption h4{margin:0 0 8px;}

	.product-list .product-thumb .rating{padding-bottom:9px;}

	.product-list .product-thumb .caption{padding:25px 25px 20px;}

	.productpage .col-sm-8{width:65%;}

	#testcms .customNavigation a.prev, #testcms .customNavigation a.next{top:-85px !important;}

	.category_filter select {width: auto !important;}

	.post_comment{clear:both; margin-left:189px; float:left;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content {letter-spacing:0px;}

}

@media only screen and (max-width: 979px) {

	.common-home .alert.alert-success, .common-home .alert.alert-info{width:724px; margin:0 auto;}

	#logo {border-right: medium none;  margin: 20px 0; display:inline-block;}

	.header-right{width:100%;}

	.header-right-inner{border-left:medium none;}

	.col-sm-4.header-logo {margin: 0 auto; padding: 0 15px; position: absolute; right: 0; width: 100%; top:68px; left:0; text-align:center;}

	#top .container {height: 264px; padding: 0;}

	.responsive-menu .main-navigation li a{padding:6px;}

	.header-right-top {border-bottom: 1px solid #e4e4e4; clear: both; position: absolute; width:100%;}

	.header-right-bottom {border-top: 1px solid #e4e4e4; padding: 0; position: relative; top: 200px; width:100%;}

	.nav-container {display: none;}

	.col-sm-3.cart{position:absolute; top:-65px; right:0;}

	#res-menu{display:block;}

	.cms-banner-block .inner-cms-block .data img {width: 100%;}

	.cms-banner-block, .homepage-testimonials-inner.products.block_content{width:724px;}

	.left-banner, .center-banner, .right-banner{width:33.3333%;}

	.left-top, .left-bottom {margin: 12px 4px 12px 12px;}

	.left-top:hover .content-text{top:89px;}

	.left-bottom .content-text{bottom:4px;}

	.middle-banner {margin: 12px 7px;}

	.right-top, .right-bottom {margin: 12px 12px 12px 4px;}

	.right-bottom .content-text{bottom:2px;}

	.middle-banner:hover .content-text{bottom:145px;}

	.left-top .heading1, .left-top .heading2{font-size:13px;}

	.left-bottom .heading1{font-size:14px;}

	.middle-banner .heading1{font-size:14px;}

	.left-bottom .heading2, .right-bottom .heading1{font-size:9px;}

	.left-top:hover .heading1 {padding: 92px 50px 101px;}

	.left-bottom:hover .content-text{bottom:29px;}

	.left-bottom:hover .heading2 {padding: 85px 45px 34px;}

	.middle-banner:hover .heading2{padding:182px 15px 149px;}

	.left-bottom .heading2{padding:8px 45px;}

	.middle-banner .heading2{font-size:16px;}

	.right-top .heading2{font-size:15px;}

	.right-top:hover .content-text{bottom:70px;}

	.right-top:hover .heading2{padding:116px 30px 74px;}

	.right-bottom:hover .heading1 {padding: 54px 48px 64px;}

	.right-bottom:hover .content-text{bottom:60px;}

	.category_filter select {width: 94% !important;}

	.advt2{margin:0 14px; width:32%;}

	.advt1, .advt3{width:32%;}

	.advt1-inner-content{padding:11px 0px 12px;}

	.advt2-inner-content{padding:11px 0px 12px;}

	.advt3-inner-content{padding:11px 0px 12px;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content{font-size:12px;}

	#footer #about-block.col-sm-3.column {border-right: medium none; line-height: 22px; margin-right: 0; padding-left: 0; padding-right: 0; width: 100%;}

	#footer #testcms.col-sm-3.column{display:none;}

	#about-block > h5, footer h5{margin-bottom:10px;}

	.col-sm-3.column.right{border-left:medium none;}

	#footer .col-sm-3.column{padding:0; width:100%;}

	#testcms ul li .flex-prev{top:15px; right:40px;}

	#testcms ul li .flex-next{top:15px; right:30px;}

	.authr-now-left, .authr-now-right{width:156px;}

	.product-thumb .rating{left:25%;}

	.footer-bottom-left{padding:0 40px 0 0px;}

	.footer-bottom-right{padding:0 0 0 40px;}

	 #footer > p{right:18px;}

	.layout-2 #content{width:69.8%;}

	.layout-2.left-col #column-left, .layout-2.right-col #column-right{width:30.2%;}

	.col-md-3.sort.text-left{margin-bottom:8px;}

	.product-list .product-thumb .image a{width:95%;}

	.product-list .product-thumb .image{margin:0 20px 20px 0;}

	.product-list .product-thumb .caption{clear: both; margin: 0; padding: 15px; width: 100%;}

	.product-list .sale{right:14px;}

	.thumbnails > li{margin-left:0;}

	#vertical_latest_product1{display:none;}

	.product-info .additional-carousel{display:block;}

	.product-info .image{float:none;}

	.product-info .additional-carousel{margin-left:0px;}

	.product-info .image-additional{width:337px; padding:0 33px;}

	.productpage .col-sm-4{width:48.333%;}

	.layout-2.left-col .col-sm-10 {width: 79.333%;}

	.layout-2.left-col .col-sm-2 {width: 20.667%;}

	.account-wishlist .btn.btn-primary, .account-wishlist .btn.btn-danger {margin-bottom: 5px;}

	.shopping-cart table td .input-group-btn{display:table-cell;}

	.cart-total .col-sm-4.col-sm-offset-8{text-align:right;}

	.product-search select {width: 147px !important;}

	.map {float: left; padding: 15px;}

	.res-left { float: left;}

	#top .header-right-top .pull-left #currency button{padding:19px 15px 23px 0;}

	.pagination-right {float: left; margin: 15px 0 0;}

	.product-search .category_filter_top .col-sm-3.sort{width:32%;}

	.product-compare .table-responsive{border: 1px solid #ddd; margin-bottom: 15px; overflow-y: hidden; width: 100%; }

	.payment_block > ul {margin:0;}

	.account-address-edit select {width: 93% !important;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content {letter-spacing:0px;}

	}

	

@media only screen and (max-width: 767px) {

	.common-home .alert.alert-success, .common-home .alert.alert-info{width:auto; margin:0 15px;}

	#top .container{padding:0 15px;}

	#top .col-sm-5.header-search {border-left: medium none; padding: 0; position: absolute; top: 185px;}

	.header-right-bottom{top:165px;}

	#top-links {border-left: medium none; padding: 23px 0;}

	#top .header-right-top .pull-left #language button{padding:21px 5px 23px 0;}

	#top .container{height:293px;}

	.header-right-top{position:relative;}

	.res-left {float: left;}

	.common-home #content{padding:0;}

	.common-home .box {padding: 0 15px;}

	.cms-banner-block{ padding: 0px; width: auto; margin:12px 20px 30px;}

	.homepage-testimonials-inner.products.block_content{width:auto; margin:0 20px;}

	.left-top .heading1, .left-top .heading2{font-size:12px; padding:6px 5px;}

	.left-bottom .heading1{font-size:10px; top:-15px;}

	.middle-banner .heading1{font-size:10px; bottom:25px;}

	.left-top:hover .heading1{padding: 6px 5px;}

	.left-top:hover .content-text{top:35px;}

	.left-bottom .heading2, .left-bottom:hover .heading2{padding:0;}

	.left-bottom .heading2, .right-bottom .heading1{font-size:9px;}

	.left-bottom:hover .content-text{bottom:4px;}

	.middle-banner .heading2, .middle-banner:hover .heading2{padding:6px 4px 5px;}

	.middle-banner .heading2{font-size:11px;}

	.middle-banner:hover .content-text{bottom:42px;}

	.right-top .heading1{padding:0; font-size:12px; width:50px;}

	.right-top .heading2, .right-top:hover .heading2{padding:6px 5px; font-size:11px;}

	.right-top:hover .content-text{bottom:20px;}

	.right-bottom .heading1, .right-bottom:hover .heading1{padding:6px 4px;}

	.right-bottom:hover .content-text{bottom:2px;}

	.common-home footer, footer{padding:0 15px; margin-bottom:0;}

	.advt1{width:30%;}

	.advt2, .advt3{width:34%;}

	.advt1, .advt2, .advt3{float:left;}

	.cms-advt-banner {width:100%;}

	.advt2{margin:0 1%;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content{padding:20px 0; text-align:center;}

	.advt1-inner-content, .advt2-inner-content, .advt3-inner-content{font-size:11px;}

	.advt1, .advt2, .advt3{margin-bottom:0;}

	.product-thumb .rating{left:22%;}

	.product-grid .product-thumb .rating{left:30%;}

	.authr-now-left, .authr-now-right{width:162px;}

	#column-left, #column-right{display:none;}

	#content, .layout-2 #content{width:100%; padding:0 15px;}

	.product-grid.col-xs-12{width:50%;}

	.product-list .product-thumb .image{float:left;}

	.container h2, .container h1{left:15px; top:315px;}

	.breadcrumb{right:15px; top:315px;}

	.layout-2.left-col .col-sm-10, .layout-2.left-col .col-sm-2{width:100%;}

	.product-list .product-block .caption h4{margin: 0 0 16px;}

	.product-list .product-thumb .rating{padding-bottom:22px;}

	.res-cart_button{margin:10px 0 19px;}

	.productpage .col-sm-4{width:100%; float:left; padding:0; margin-bottom:20px;}

	#product .alert.alert-info{margin-left:0; margin-right:0;}

	.productpage .col-sm-12{clear:both; padding:0; margin:20px 0;}

	.productpage .box{padding:0 15px;}

	.productpage .col-sm-8{width:100%; padding:0px;}

	.common-home .container {margin: 0;}

	.thumbnails{margin-left:0px;}

	.product-info .additional-carousel {margin: 0 auto; width: 425px;}

	.product-info .image-additional {padding: 0 33px; width: 100%;}

	.product-search .col-sm-3{width:100%; padding:0 15px;}

	.product-search .col-sm-3.cart{width:32%;}

	.product-search select {width: 96% !important;}

	.btn-primary, .btn-info{margin-bottom:0;}

	.information-sitemap .row{padding:0 15px;}

	.cart_button_res{display:block; text-align:center; margin:0 auto;}

	.product-list .cart_button_res{display:none;}

	.product-block:hover .image .hover_block, .product-block .image .hover_block{display:none; opacity:0;}

	.map{float:left; margin:15px 0 0 0;}

	.product-search .checkbox-inline {margin: 5px 0;}

	.site-map .col-sm-6 > ul{padding:0;}

	.authr-now-left, .authr-now-right{width:100%; margin:0;}

	.authr-logo1, .authr-logo2, .authr-logo3{display:inline-block; float:none;}

	.authr-logo {display: inline-block; text-align: center; width: 60%;}

	.authr-left{width:20%;}

	.authr-right{float:right; width:20%;}

	.email{font-size:9px;}

	#footer > p {right: 19px; bottom:75px;}

	.developed{font-size:10px;}

	.account-order-info .breadcrumb, .account-return-info .breadcrumb{top:355px;}

	.account-order-info .content-top-breadcum, .account-return-info .content-top-breadcum{height:100px;}

	.content-top-breadcum{height:92px;}

	.breadcrumb {left: 15px; right: auto; top: 345px;}

	.col-sm-6.text-right.pages{width:50%;}

	.box-content .customNavigation, .related-products .customNavigation{display:block;}

	.pagination-right{clear:both;}

	.category_filter .sort-by{margin:0 10px 0 0 ;}

	.category_filter .show{margin:0 10px;}

	.common-home .authr-now-left, .common-home .authr-now-right, .authr-now-left, .authr-now-right{display:none;}

	.common-home .footer-bottom-left, .footer-bottom-left {border-right: medium none; float: none; padding: 0; text-align: center; width: 100%;}

	#contact_info > ul{text-align:center;}

	.common-home .footer-bottom-right, .footer-bottom-right {float: none; margin-top: 20px; padding: 0 0 40px; width: 100%; text-align:center; position:relative; margin-bottom:8px;}

	#footer > p{width:64%; left:0; right:0; margin:0 auto; text-align:center; bottom:85px;}

	#footer{margin-top:30px; margin-left:0; margin-right:0; padding:0;}

	#footer .row{margin-left:0; margin-right:0;}

	.aurthority-logo{text-align:center;}

	.authr-left{display:none;}

	.authr-logo1, .authr-logo2, .authr-logo3{float:none;}

	.authr-logo3, .authr-logo1{margin:0;}

	.alert-success{margin:0 15px 20px 15px !important;}

	.category-container .alert-success{margin:0 0px 20px 0px !important;}

	.image .thumbnail { display: inline-block;}

	.image .thumbnail > img{width:100%;}

	.product-search .category_filter_top .col-sm-3.sort{width:100%;}



}

@media (max-width: 625px) {

	.cms-advt-banner{display:none;}



}



@media (max-width: 479px) {

	#top-links .top-wishlist, #top-links .top-checkout{display:none;}

	#top-links{padding:14px 0;}

	#top .header-right-top .pull-left #currency button{padding:12px 15px;}

	#top .header-right-top .pull-left #language button{padding:14px 29px 14px 0;}

	#top .container{height:334px;}

	.col-sm-4.header-logo{top:46px;}

	.cms-banner-block{padding:8px;}

	.header-right-top{height:46px;}

	#top .col-sm-5.header-search{width:100%; top:230px;}

	.header-right-bottom{top:224px;}

	.col-sm-3.cart {float: none; left: 0; position: absolute; right: 0; text-align: center; top: -108px; width:60%; margin:0 auto;}

	#top-links .myaccount ul{top:157%;}

	#top .header-right-top .pull-left #currency ul{top:104%;}

	#top .header-right-top .pull-left #language ul{top:98%;}

	.content-top-breadcum{height:90px;}

	.container h2, .container h1{top:357px;}

	.breadcrumb{top:387px; right:auto; left:15px;}

	.product-info .additional-carousel{width:100%;}

	.shopping-cart #collapse-voucher .col-sm-2, .shopping-cart #collapse-coupon .col-sm-2{width:100%;}

	.left-bottom, .right-bottom, .center-banner{display:none;}

	.left-banner, .right-banner{width:49%;}

	.left-top, .right-top{margin:0;}

	.account-order-info .breadcrumb, .account-return-info .breadcrumb{top:384px;}

	.account-order-info .table-responsive{clear:both;}

	.account-order-info .content-top-breadcum, .account-return-info .content-top-breadcum{height:100px;}

	.map, #cart .dropdown-menu table{float:none;}

	#cart > .btn{padding:17px 0 24px 0;}

	.category-page .pagination{margin:0;}

	.col-sm-6.text-right.pages {clear: both; float: left; text-align: left; width: 100%;}

	#footer > p{ width:100%;}

	.authr-logo{width:100%;}

	.product-search select {width: 93% !important;}

	#cart .dropdown-menu{right:0px; left:auto;} 

}

@media (max-width: 420px) {

	.product-grid.col-xs-12{width:100%;}

}

@media (max-width: 393px) {

	.product-list .product-thumb .image{margin:0 0 20px 0; }

	.product-list .product-thumb .image a{width:100%;}

	.product-list .sale{right:2px;}

}

@media (max-width: 379px) {

	#accordion #collapse-voucher .input-group, #accordion #collapse-coupon .input-group{display:inline-block;}

	#input-coupon, #input-voucher{margin-bottom:7px;}

	.post-title{text-align:center; margin-top:10px;}

	.post-image{float:none;}

	.post-description{margin-left:0;}

	.post-inner-content{text-align:center;}

	.product-search select {width: 80% !important;}

	.nav-tabs > li{margin-right:0; text-align:center; width:100%;}

	.cate-banner {text-align: center;}

	.banner-hover{left:0; right:0; margin:0 auto;}

	.responsive-menu .expandable-hitarea{margin-right:0 !important;}

	.category_filter .show {margin: 0 10px 0 0;}

	

}

@media (max-width: 342px) {

	#cart .dropdown-menu{right:-25px;}

}

@media (max-width: 309px) {

	.left-banner, .right-banner{width:100%;}

	.left-banner{margin-bottom:12px;}

	#top .header-right-top .pull-left #language button{padding:14px 0;}

	.authr-logo1{margin:0 0 0 9px;}

	.account-address-edit select {width: 90% !important;}

}

@media (max-width: 302px) {

	.developed{top:40px;}

	.Social_block{top:42px;}

	.account-address .btn.btn-info{margin-bottom:5px; clear:both;}

	#cart .dropdown-menu{right:-58px;}

	#top .header-right-top .pull-left #language button{padding: 14px 0;}

}

@media (max-width: 252px) {

	#footer > p{bottom:106px;}

}

@media (max-width: 1200px) {#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{margin-left:0;}

#column-left .fa-shopping-cart:before, #column-right .fa-shopping-cart:before  {display:none;}



.col-sm-4.total_amount {

    margin-top: 88px;

}



}



@media (max-width: 979px) {



#column-left .box-product .image,

#column-right .box-product .image {margin-right:7px;}

.col-md-4.btn-list-grid {margin-bottom: 0px;}

}



@media (max-width: 767px) { .product-info .image-additional a {padding: 1px;} .btn-info {margin-bottom:3px;} #input-search {margin-bottom: 8px;}

#logo .img-responsive { margin: 0 auto 15px;}

.col-sm-4.total_amount {

    margin-top: 20px;

}





.button_class {clear:both;}

}



@media only screen and (max-width: 479px) {.product-info .image-additional a{ float:none; text-align:center; padding: 1px;}



.table {

   

    margin-bottom: 20px;

    overflow: scroll;

    width: 100%;

}

.flex-direction-nav a:before {font-size:27px !important;}



.dropdown-menu.pull-right {width: 100%;}

#cart .dropdown-menu li > div {min-width:100%;}







}



@media only screen and (max-width: 319px){ 

.btn-primary {margin-bottom:2px;}

.checkout-cart .pull-right {

    clear: both;

    float: left;

    margin-top: 10px;

}

}









#tab-review .form-horizontal .control-label,#tab-review .form-horizontal  .col-sm-10{width: 100%;}



.quick_view dl {

   /* border-bottom: 1px solid #a0a0a0;*/

    color: #000;

    float: left;

    font-size: 13px;

    padding: 8px 0;

    width: 100%;

}

.quick_view dl dt {

    float: left;

    width: 40%;

}

.quick_view dl dd {

    float: left;

    width: 60%;

}
.zopim {
margin-right: 34px !important;	
}
<!-- Megnor www.templatemela.com End -->